<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>人员管理</title>
		<!-- <meta charset="UTF-8"> -->
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="author" content="movinginfo"/>
		#parse("commons/commonJs.vm")
		#parse("commons/commonCss.vm")
		#parse("commons/commonRes.vm")
		<link rel="stylesheet" type="text/css" href="/static/css/personnelManagemen.css"> 
		<link rel="stylesheet"type="text/css" href="/static/layui/css/layui.css">
		<style>
			body{
				background:none;
			}
			
			.m-table{
				overflow-y:auto;
			}
			.title_del{
			    position: absolute;
    			width: 100%;
    			left: 0;
			}
		</style>
		<script type="text/javascript">
			<!--新增对话框获取部门下拉列表-->
	 		function getDepartments(){
	 			var loginDepartmentId = document.getElementById('loginDepartmentId').value;
	 			$.ajax({
		    		type:"POST",
		    		url:'${base}/sys/user/getDepartment',
					dataType:"JSON",
					success:function(data){
						$("#ndepartmentId").empty();
							jQuery.each(data, function(i,item){  
								##if(item.id == loginDepartmentId){
				                	$("#ndepartmentId").append("<option value='" + item.id + "'>" + item.name + "</option>"); 
								##}
						    });
					},
					error:function(data){
						//alert("错误！");
						 layer.msg("错误！");
					}
		    	});
	 		}
	 		<!--修改对话框获取部门下拉列表-->
	 		function getEditDepartments(){
	 			var loginDepartmentId = document.getElementById('loginDepartmentId').value;
	 			var id = document.getElementById('id').value;
	 			$.ajax({
		    		type:"POST",
		    		url:'${base}/sys/user/getEditDepartments?id='+id,
					dataType:"JSON",
					success:function(data){
						$("#udepartmentId").empty();
							jQuery.each(data, function(i,item){  
								##if(item.id == loginDepartmentId){
				                	$("#udepartmentId").append("<option value='" + item.id + "'>" + item.name + "</option>"); 
								##}
						    }); 
					},
					error:function(data){
						//alert("错误！");
						 layer.msg("错误！");
					}
		    	});
	 		}
	 		<!--查看对话框获取部门下拉列表-->
	 		function getLookDepartments(){
	 			var loginDepartmentId = document.getElementById('loginDepartmentId').value;
	 			var id = document.getElementById('departmentId').value;
	 			$.ajax({
		    		type:"POST",
		    		url:'${base}/sys/user/getLookDepartments?id='+id,
					dataType:"JSON",
					success:function(data){
						$("#ldepartmentId").empty();
							jQuery.each(data, function(i,item){
				                	$("#ldepartmentId").append("<option value='" + item.id + "'>" + item.name + "</option>"); 
						    });
					},
					error:function(data){
						//alert("错误！");
						 layer.msg("错误！");
					}
		    	});
	 		}
	 		<!--新增对话框获取角色下拉列表-->
	 		function getRoles(){
	 		var loginDepartmentId = document.getElementById('loginDepartmentId').value;
	 			$.ajax({
		    		type:"POST",
		    		url:'${base}/sys/user/getRoles',
					dataType:"JSON",
					success:function(data){
						$("#nrole").empty();
							jQuery.each(data, function(i,item){  
								##if(item.id == $!{roleIds}){
				                	$("#nrole").append("<option value='" + item.id + "'>" + item.name + "</option>"); 
								##}
						    });  
					},
					error:function(data){
						//alert("错误！");
						 layer.msg("错误！");
					}
		    	});
	 		}
	 		<!--修改对话框获取角色下拉列表-->
	 		function getEditRoles(){
	 		var id=document.getElementById('id').value;
	 			$.ajax({
		    		type:"POST",
		    		url:'${base}/sys/user/getEditRoles?id='+id,
					dataType:"JSON",
					success:function(data){
					//alert(data);
						$("#urole").empty();
						jQuery.each(data, function(i,item){
		                	$("#urole").append("<option value='" + item.id + "'>" + item.name + "</option>"); 
					     });
					},
					error:function(data){
						//alert("错误！");
						 layer.msg("错误！");
					}
		    	});
	 		}
			<!--查看对话框获取角色下拉列表-->
			function getLookRoles(){
	 			var id=document.getElementById('id').value;
	 			$.ajax({
		    		type:"POST",
		    		url:'${base}/sys/user/getLookRoles?id='+id,
					dataType:"JSON",
					success:function(data){
					//alert(data);
						$("#lrole").empty();
						jQuery.each(data, function(i,item){
		                	$("#lrole").append("<option value='" + item.id + "'>" + item.name + "</option>"); 
					     });
					},
					error:function(data){
						//alert("错误！");
						 layer.msg("错误！");
					}
		    	});
	 		}
	 		
	 		function getLookReceiveMassages(){
	 			var id=document.getElementById('id').value;
	 			$.ajax({
		    		type:"POST",
		    		url:'${base}/sys/user/getLookReceiveMassages?id='+id,
					dataType:"JSON",
					success:function(data){
						$("#lreceiveMassages").empty();
						if(data.isReceiveMassages == 1) {
		                	$("#lreceiveMassages").append("<option value='" + data.isReceiveMassages + "'>是</option>"); 
		                	}else if (data.isReceiveMassages == 0){
		                	$("#lreceiveMassages").append("<option value='" + data.isReceiveMassages + "'>否</option>");
		                	}
					},
					error:function(data){
						 layer.msg("错误！");
					}
		    	});
	 		}
			//删除
		  	function del(id){
		  	//	if(confirm("确认删除？")){
			//  		parent.deleteUser(id);
		  //		}
		      $(".m-poplayer").fadeIn(200);
			 _body = '<div class="popup_bd">'
	             + '</div>'
	             + '<div class="popup_bottom">'
	             + '<a href="javascript:void(0)" class="m-btn m-confirm">确定</a>'
	             + '<a href="javascript:void(0)" class="m-btn m-home-cancel">取消</a>'
	             + '</div>';
	         /*弹窗位置*/

	         //发布弹窗在屏幕中间
	         var leftWidth = ($(window).width() - 486) / 2; 
	         $(".m-poplayer").find("div.popup_con").css("left", leftWidth).css("min-height", "150px").width(486).html(_body);
	         /*添加popup_bd内容部分*/
	         $(".m-poplayer").find("div.popup_bd").append("<ul><li class='publish'><span class='title_del'>是否删除？</span></li></ul>");
	         $(".m-poplayer").find("div.popup_bd").find("li.publish").css("border-bottom", "none").css("line-height","25px").css("text-align","center");
	         $(".m-poplayer").find("div.popup_bd").find(".m-text-textarea").css("margin-top","30px").css("width","66%");
	         $(".m-poplayer").find("div.popup_bd").find("p.text").css("margin-left","45%");
	         $(".m-btn.m-confirm").on("click", function () {
	              parent.deleteUser(id);
	        });
        /*点击取消*/
        $(".m-btn.m-home-cancel").on("click", function () {
    		$(".m-poplayer").fadeOut(200);
        });
		  		
			}
			
			function validatemobile(mobile) 
		   { 
		       if(mobile.length==0) 
		       { 
		          //alert('请输入手机号码！'); 
		          layer.msg("请输入手机号码！");
		          document.form1.mobile.focus(); 
		          return false; 
		       }     
		       if(mobile.length!=11) 
		       { 
		           //alert('请输入有效的手机号码！'); 
		           layer.msg("请输入有效的手机号码！");
		           document.form1.mobile.focus(); 
		           return false; 
		       } 
		        
		       var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/; 
		       if(!myreg.test(mobile)) 
		       { 
		           //alert('请输入有效的手机号码！'); 
		           layer.msg("请输入有效的手机号码！");
		           document.form1.mobile.focus(); 
		           return false; 
		       } 
		   } 
		   
		   //验证联系方式
		   function phoneRex(){
		   		var value=$("#nphone").val();
		   		var rex=/^1[3-8]+\d{9}$/;
	            //var rex=/^(([0\+]\d{2,3}-)?(0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$/;
	            //区号：前面一个0，后面跟2-3位数字 ： 0\d{2,3}
	            //电话号码：7-8位数字： \d{7,8
	            //分机号：一般都是3位数字： \d{3,}
	             //这样连接起来就是验证电话的正则表达式了：/^((0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$/		 
	            var rex2=/^((0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$/;
	            if(rex.test(value)||rex2.test(value))
	            {
	                
	            }else
	            {
	            	layer.msg("请输入有效的联系方式！");
	            }
		   }
		   
		   //验证密码
		   function passwordRex(){
		   		var value=$("#npassword").val();
		   		if(value.length>12||value.length<6){
		   			layer.msg("密码位数在6-12之间！");
		   		}
		   }
			    
			
			//新增
			function addNew(){
				document.getElementById('id').value = '';
				document.getElementById('nuserName').value = '';
				document.getElementById('nphone').value = '';
				document.getElementById('npassword').value = '';
				document.getElementById('nreceiveMassages').value = '1';
				document.getElementById('nisUse').value = '1';
				getDepartments();
                getRoles();
				$("#newDiv").show();
		    	$("#updateDiv").hide();
		    	$("#passworDiv").hide();
			}
			//新增保存
			function isSave(){
				var isOk = true;
				var theUserName = document.getElementById('nuserName').value;
				if(theUserName == ""){
					isOk = false;
					//alert("请输入姓名！");
					layer.msg("请输入用户名！");
					return false;
				}
				if($("#npassword").val().trim()==""){
					isOk = false;
					layer.msg("请输入密码！");
					return false;
				}
				if(isOk == true){
					document.getElementById('id').value = '';
					document.getElementById('departmentId').value = document.getElementById('ndepartmentId').value;
					document.getElementById('role').value = document.getElementById('nrole').value;
					document.getElementById('userName').value = document.getElementById('nuserName').value;
					document.getElementById('phone').value = document.getElementById('nphone').value;
					document.getElementById('thePassword').value = document.getElementById('npassword').value;
					document.getElementById('isReceiveMassages').value = document.getElementById('nreceiveMassages').value;
					document.getElementById('isUse').value = document.getElementById('nisUse').value;
					if(document.getElementById('nphone').value.length !=0){
					validatemobile(document.getElementById('nphone').value);
					}
					$.ajax({
		                cache: true,
		                type: "POST",
		                dataType:"json",
		                url:"${base}/sys/user/saveUser",
		                data:$('#f').serialize(),// 你的formid
		                async: false,
		                error: function(request) {
		                    //alert("Connection error");
		                    layer.msg("Connection error");
		                },
		                success: function(data) {
		                   // alert("保存成功！");
		                   if(data.success==true){
		                   layer.msg("保存成功！");
		                	parent.location.reload();
		                   }else{
		                   layer.msg(data.message);
		                	//parent.location.reload();
		                   }
		                  
		                }
		            });
				}
			}
			
			//用户名重名判断
			function userNameExist(){
				var theUserName=$("#nuserName").val();
				$.ajax({
		    		type:"POST",
		    		url:'${base}/sys/user/userNameIsValid',
		    		data:{userName:theUserName},
					dataType:"JSON",
					success:function(data){
						if(data.success==false){

							$("#nuserName").val(theUserName);
						}
					},
					error:function(data){
						layer.msg("错误！");
					}
		    	});
			}
			
			//用户名自动填充：姓名在线转首拼
			function autoUserName(){
				var theName=$("#nname").val();
				if(/.*[\u4e00-\u9fa5]+.*$/.test(theName)) {
				// $("#nuserName").val(pinyin.getCamelChars(theName).toLocaleLowerCase());
				userNameExist();
			    } 
				
			}
			
			function edit(id){
				document.getElementById('id').value = id;
                $.ajax({
		    		type:"POST",
		    		url:'${base}/sys/user/editUser',
		    		data:"id="+id,
					dataType:"JSON",
					success:function(data){
						var a = data;
						document.getElementById('departmentId').value = data.departmentId;
						document.getElementById('role').value = data.rUserRole.roleId;
						getEditDepartments();
                		getEditRoles();
		                document.getElementById('uphone').value = data.phone?data.phone:'';
		                document.getElementById('ureceiveMassages').value = data.isReceiveMassages;
		               // document.getElementById('ulogin').value = data.isuse;
					},
					error:function(data){
						//alert("错误！");
						layer.msg("错误！");
					}
		    	});
		    	$("#updateDiv").show();
		    	$("#newDiv").hide();
		    	$("#passworDiv").hide();
			}
			//查看
			function look(username){
                $.ajax({
		    		type:"POST",
		    		url:'${base}/sys/user/lookUser',
		    		data:"username="+username,
					dataType:"JSON",
					success:function(data){
						document.getElementById('id').value=data.id;
						document.getElementById('departmentId').value = data.departmentId;
						document.getElementById('role').value = data.rUserRole.roleId;
						getLookDepartments();
                		getLookRoles();
		                document.getElementById('lphone').value = data.phone?data.phone:'';
		                document.getElementById('lreceiveMassages').value = data.isReceiveMassages;
		                getLookReceiveMassages();
					},
					error:function(data){
						//alert("错误！");
						layer.msg("错误！");
					}
		    	});
		    	$("#lookDiv").show();
		    	$("#newDiv").hide();
		    	$("#passworDiv").hide();
			}
			//修改保存
			function isEdit(){
				var isOk = true;
				if(isOk == true){
					document.getElementById('departmentId').value = document.getElementById('udepartmentId').value;
					document.getElementById('role').value = document.getElementById('urole').value;
					document.getElementById('phone').value = document.getElementById('uphone').value;
					document.getElementById('isReceiveMassages').value = document.getElementById('ureceiveMassages').value;
					if(document.getElementById('uphone').value.length>0){
					validatemobile(document.getElementById('uphone').value);
					}
					$.ajax({
		                 cache: true,
		                type: "POST",
		                dataType:"json",
		                url:"${base}/sys/user/saveOrUpdateUser",
		                data:$('#f').serialize(),// 你的formid 
		                async: false,
		                error: function(request) {
		                   // alert("Connection error");
		                    layer.msg("Connection error");
		                },
		                success: function(data) {
		                     if(data.success==true){
		                   
		                   layer.msg(data.message);
		                	parent.location.reload();
		                   }else{
		                   layer.msg(data.message);
 
		                	//parent.location.reload();
		                   }
		                }
		            });
				}
			}
			//重置密码
			function resetPassword(id){
                if(confirm('确认要重置密码？')){
					$.ajax({
                        cache: true,
                        type: "POST",
                        url:"${base}/sys/user/resetPwd",
                        data:"userId="+id,
                        async: false,
                        error: function(request) {
                           // alert("Connection error");
                            layer.msg("Connection error");
                        },
                        success: function(data) {
                        layer.msg("重置成功");
                        
                        }
                    });
				}
                
            }
			
			//修改密码
			function editPassword(id){
				document.getElementById('id').value = id;
				document.getElementById('newPasswords').value = '';
				document.getElementById('newPassword').value = '';
				$("#passworDiv").show();
				$("#updateDiv").hide();
		    	$("#newDiv").hide();
			}
			//校验密码,修改密码保存
			function isEditPassWord(){
				var id = document.getElementById('id').value;
				var bcheck = document.getElementById('newPasswords').value;
				var check = document.getElementById('newPassword').value;
				var isOk = true;
				if(check == ""){
                    isOk = false;
                    layer.msg("请输入新密码！");
                    return false;
                }
				if(bcheck == ""){
                    isOk = false;
                    layer.msg("请确认密码！");
                    return false;
                }
				if(check==""||check != bcheck){
					isOk = false;
                    //layer.msg("两次密码不一致！");
                    layer.msg("两次密码不一致！");
                    return false;
				}
				if(isOk==true){
					document.getElementById('departmentId').value = '';
					document.getElementById('role').value = '';
					document.getElementById('phone').value = '';
					document.getElementById('isReceiveMassages').value = '';
					document.getElementById('thePassword').value = check;
					$.ajax({
		                cache: true,
		                type: "POST",
		                url:"${base}/sys/user/editPassword",
		                data:$('#f').serialize(),// 你的formid
		                async: false,
		                error: function(request) {
		                  //  alert("Connection error");
		                    layer.msg("Connection error");
		                },
		                success: function(data) {
		                    //alert("修改密码成功！");
		                    layer.msg("修改密码成功！");
		                	parent.location.reload();
		                }
		            });
				}
			}
			
			//设置是否可登录
			function use(id){
				document.getElementById('id').value = id;
				$.ajax({
	                cache: true,
	                type: "POST",
	                url:"${base}/sys/user/isUse",
	                data:$('#f').serialize(),// 你的formid
	                async: false,
	                error: function(request) {
	                  //  alert("Connection error");
	                    layer.msg("Connection error");
	                },
	                success: function(data) {
	                	parent.location.reload();
	                }
	            });
			}
		
		$(function(){
			$(".m-table").height($(window.parent.document).find("iframe").height());
		});
		function alertBox(value){
            $(".m-poplayer").fadeIn(200);
            _body = '<div class="popup_bd">'
                + '</div>'
                + '<div class="popup_bottom">'
                + '</div>';
            /*弹窗位置*/
            //发布弹窗在屏幕中间
            var leftWidth = ($(window).width() - 486) / 2; 
            $(".m-poplayer").find("div.popup_con").css("left", leftWidth).css("height", "50px").width(486).html(_body);
            /*添加popup_bd内容部分*/
            $(".m-poplayer").find("div.popup_bd").append("<ul><li class='publish'><span>"+value+"</span></li></ul>");
            $(".m-poplayer").find("div.popup_bd").find("li.publish").css("border-bottom", "none").css("line-height","25px").css("text-align","center").css("width","476px");
            $(".m-poplayer").find("div.popup_bd").find(".m-text-textarea").css("margin-top","30px").css("width","66%");
            $(".m-poplayer").find("div.popup_bd").find("p.text").css("margin-left","45%");
            setTimeout(function () { 
                $(".m-poplayer").fadeOut(200);
            }, 1000);
        }
	</script>
	</head>
	<body>
	    <!--弹窗开始-->
    <div class="m-poplayer">
        <div class="popup_con"></div>
    </div>
		<input id="loginDepartmentId" value="$!{loginDepartmentId}" type="hidden"/>
		<form id="f">
			<input id="id" name="id" type="hidden"/>
	        <input id="departmentId" name="departmentId" type="hidden"/>
	        <input id="role" name="role" type="hidden"/>
	        <input id="name" name="name" type="hidden"/>
	        <input id="userName" name="userName" type="hidden"/>
	        <input id="phone" name="phone" type="hidden"/>
	        <input id="thePassword" name="thePassword" type="hidden"/>
	        <input id="isReceiveMassages" name="isReceiveMassages" type="hidden"/>
	        <input id="isUse" name="isUse" type="hidden"/>
		</form>
		<!-- 新增弹窗 -->
		<div id="newDiv" class="m-popup">
			<div class="popup_hd">
				<span>人员管理新增</span>
			</div>
			<div class="popup_bd">
				<table>
					<tr>
						<td class="row">单位</td>
						<td>
							<select id="ndepartmentId">
								<option value =""></option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="row">角色</td>
						<td>
							<select id="nrole">
								<option value =""></option>
							</select>
						</td>
					</tr>
					<tr>
						<td>用户名</td>
						<td><input type="text" id="nuserName" value="" onblur="userNameExist()"></td>
					</tr>
					<tr>
						<td>联系方式</td>
						<td><input type="text" id="nphone" value=""></td>
					</tr>
					<tr id="pd">
						<td>密码</td>
						<td><input type="text" id="npassword" value="" onblur="passwordRex()"></td>
					</tr>
					<tr>
						<td>接受短信</td>
						<td>
							<select id="nreceiveMassages">
								<option value ="1">是</option>
								<option value ="0">否</option>
							</select>
						</td>
					</tr>
					
					<tr>
						<td>是否启用</td>
						<td>
							<select id="nisUse">
								<option value ="1">是</option>
								<option value ="0">否</option>
							</select>
						</td>
					</tr>
					
				</table>
				<ul>
					<li>
						<button class="abandon">取消</button>
					</li>
					<li>
						<button class="m-event-button" onclick="isSave()">确定</button>
					</li>
				</ul>
			</div>
		</div>
		<!-- 修改弹窗 -->
		<div id="updateDiv" class="m-popup">
			<div class="popup_hd">
				<span>人员管理修改</span>
			</div>
			<div class="popup_bd">
				<table>
					<tr>
						<td class="row">单位</td>
						<td>
							<select id="udepartmentId">
								<option value =""></option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="row">角色</td>
						<td>
							<select id="urole">
								<option value =""></option>
							</select>
						</td>
					</tr>
					<tr>
						<td>联系方式</td>
						<td><input type="text" id="uphone" value=""></td>
					</tr>
					<tr>
						<td>接受短信</td>
						<td>
							<select id="ureceiveMassages">
								<option value ="1">是</option>
								<option value ="0">否</option>
							</select>
						</td>
					</tr>
					
				</table>
			   <ul>
					<li>
						<button class="abandon">取消</button>
					</li>
					<li>
						<button class="m-event-button" onclick="isEdit()">确定</button>
					</li>
				</ul>
				
			</div>
		</div>
		<!-- 查看弹窗 -->
		<div id="lookDiv" class="m-popup">
			<div class="popup_hd">
				<span>人员管理查看</span>
			</div>
			<div class="popup_bd">
				<table>
					<tr>
						<td class="row">单位</td>
						<td>
							<select id="ldepartmentId">
								<option value =""></option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="row">角色</td>
						<td>
							<select id="lrole">
								<option value =""></option>
							</select>
						</td>
					</tr>
					<tr>
						<td>联系方式</td>
						<td><input type="text" id="lphone" value=""></td>
					</tr>
					<tr>
						<td>接受短信</td>
						<td>
							<select id="lreceiveMassages">
								<option value =""></option>
							</select>
						</td>
					</tr>
					
				</table>
			   <ul>
					<li>
						<button class="abandon">取消</button>
					</li>
					
				</ul>
				
			</div>
		</div>
		
		<!-- 修改密码 -->
		<div id="passworDiv" class="m-popup">
			<div class="popup_hd">
				<span>修改密码</span>
			</div>
			<div class="popup_bd">
				<table>
					<tr>
						<td class="row">新密码</td>
						<td><input type="password" id="newPassword" value=""></td>
					</tr>
					<tr>
						<td class="row">确认密码</td>
						<td><input type="password" id="newPasswords" value=""></td>
					</tr>
				</table>
				<ul>
					<li>
						<button class="abandon">取消</button>
					</li>
					<li>
						<button class="m-event-button" onclick="isEditPassWord()">确定</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-table">
			<table>
				<thead>
						<td>用户名</td>
						<td>联系方式</td>
						<td>接受短信</td>
						<td>所属部门</td>
						##<td>是否登录人员</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody>
					#set($list = $!{page.get("list")})##
					#foreach($user in $list)##
						<tr>
							<td>$!{user.get("userName")}</td>
							<td>$!{user.get("phone")}</td>
							<td>#if($!{user.get("isReceiveMassages")}== '1')是#else否#end</td>
							<td>
								#foreach($dept in $depts)##
									#if($!{user.get("departmentId")}==$!{dept.id})
									$!{dept.name}
									#end
								#end##
							</td>
							##<td>#if($!{user.get("isUse")}== '1')是#else否#end</td>
							<td>
							   ###if($!{user.get("departmentId")} == $!{loginDepartmentId})
								<button onclick="edit($!{user.get("id")})">修改</button>
								<button onclick="del($!{user.get("id")})">删除</button>	
								###else
								##<button onclick='look("$!{user.get('userName')}")'>查看</button>
								###end
								<button onclick="editPassword($!{user.get("id")})">修改密码</button>
								##<button style="display:none" class="details btn-delete" onclick="del($!{user.get("id")})">删除</button>	
								##<button onclick="resetPassword($!{user.get("id")})">密码重置</button>
								##<button onclick="use($!{user.get("id")})">是否接收短信</button>
							</td>
						</tr>
					#end##
				</tbody>
			</table>
			#parse("commons/pagerTemplate.vm")
		</div>
	</body>
</html>