#*历史预警分页 - 页面页码模板*###
#set($countPage=$!{page.get("pages")})##
#set($currentPage=$!{page.get("pageNum")})##
#set($pageSize=$!{page.get("pageSize")})##
#set($totalCount=$!{page.get("total")})##
#set($size=$!{page.get("size")})##
			<script>
			// 翻页
			function sbyPage(pageNumber, pageSize){
				parent.paginate(pageNumber, pageSize);
			}
			</script>
			<ul>
				<li class="m-page">
					<div #if($currentPage!=1)onclick="sbyPage(1,$pageSize)"#end><div class="home_page"></div></div>
#*遍历输出当前页前边的页码*###
#if($currentPage<5 && $currentPage>1)#*1<当前页码<5*###
	#set($ender = $currentPage - 1)##
	#foreach($pageNum in [1..$ender])##
						<div onclick="sbyPage($pageNum, $pageSize)">$pageNum</div>
	#end##
#elseif($currentPage>=5)#*当前页码>=5*###
	#if($countPage>($currentPage+5))#*总页数>(当前页码+5)，剩余页数>5页*###
		#set($header = $currentPage - 4)##
		#set($ender = $currentPage - 1)##
		#foreach($pageNum in [$header..$ender])##
							<div onclick="sbyPage($pageNum, $pageSize)">$pageNum</div>
		#end##
	#else#*剩余页数<5页*###
		#if($countPage>=10)#*总页数>=10页，总页数多于10页*###
			#set($header = $currentPage - (9 - ($countPage - $currentPage)))##
			#set($ender = $currentPage - 1)##
			#foreach($pageNum in [$header..$ender])##
								<div onclick="sbyPage($pageNum, $pageSize)">$pageNum</div>
			#end##
		#else#*总页数少于10页*###
			#set($ender = $currentPage - 1)##
			#foreach($pageNum in [1..$ender])##
								<div onclick="sbyPage($pageNum, $pageSize)">$pageNum</div>
			#end##
		#end##
	#end##
#end##

					<div class="on_page">$!currentPage</div>#*当前页码*#

#*遍历输出当前页后边的页码*###
#if($countPage>=($currentPage+1))#*总页数>=(当前页码+1)，还有页码*###
	#if($countPage<=10)#*总页数<=10，总页数少于10页*###
		#if($currentPage < $countPage)#*当前页码<总页数*###
			#set($header = $currentPage + 1)##
			#set($ender = $countPage)##
			#foreach($pageNum in [$header..$ender])##
								<div onclick="sbyPage($pageNum, $pageSize)">$pageNum</div>
			#end##
		#end##
	#else#*总页数多于10页*###
		#if(($currentPage+5)<=10)#*(当前页码+5)<=10，当前页为1~5页*###
			#set($header = $currentPage + 1)##
			#set($ender = 10)##
			#foreach($pageNum in [$header..$ender])##
								<div onclick="sbyPage($pageNum, $pageSize)">$pageNum</div>
			#end##
		#else#*当前页码>5*###
			#if($countPage>=($currentPage+5))#*总页数>=(当前页码+5)，剩余页数多于5页*###
				#set($header = $currentPage + 1)##
				#set($ender = $currentPage + 5)##
				#foreach($pageNum in [$header..$ender])##
									<div onclick="sbyPage($pageNum, $pageSize)">$pageNum</div>
				#end##
			#else#*剩余页数少于5页*###
				#if(($currentPage+1)<=$countPage)#*(当前页码+1)<=总页数，还有页码*###
					#set($header = $currentPage + 1)##
					#set($ender = $countPage)##
					#foreach($pageNum in [$header..$ender])##
										<div onclick="sbyPage($pageNum, $pageSize)">$pageNum</div>
					#end##
				#end##
			#end##
		#end##
	#end##
#end##
					<div><div class="shadowe"#if($currentPage!=$countPage) onclick="sbyPage($countPage, $pageSize)"#end></div></div>
				</li>
				#*
				*#
				<li class="m-page">该页<span style="color: #0f8ffe;">$size</span>条记录&emsp;&emsp;</li>
				<li class="m-page">当前第<span style="color: #0f8ffe;">$currentPage</span>页，</li>
				<li class="m-page">共<span style="color: #0f8ffe;">$countPage</span>页，</li>
				<li class="m-page">每页显示<span style="color: #0f8ffe;">$pageSize</span>条，</li>
				<li class="m-page">共<span style="color: #0f8ffe;">$totalCount</span>条记录，</li>
			</ul>
