/**
 * 变量
 */
/**
 * 混合使用
 */
/**
 * 线性渐变
 * 只支持水平和垂直方向，滤镜在IE6、IE7中须配合width或者height属性方可生效
 * @param  {string} @startColor            起始颜色
 * @param  {string} @endColor              结束颜色
 * @param  {string} @layout 			   方向。默认:h 垂直方向
 */
/**
 * 占位符 颜色设置
 * @param  {string} @fontFamily 字体
 * @param  {string} @color      颜色
 */
/**
 * 清楚浮动产生的影响样式
 */
/**
 * 行内块化元素
 */
/**
 * 文本超出省略符号显示
 */
/**
 * 禁止用户选择文本
 */
/**
 * 解决IE6下png24半透明 图片地址需要绝对路径
 * @param  {string} @url 
 */
/**
 * 半透明
 * @param  {number} @num     透明度。取值区间0-1，默认值：0.5
 */
/**
 * 2d 缩放
 * @param  {number} @x x轴缩放比例
 * @param  {number} @y y轴缩放比例
 */
/**
 * 过渡效果
 * @param  {[type]} @property [description]
 * @param  {[type]} @duration [description]
 * @param  {[type]} @timing   [description]
 */
/**
 * 三角形
 * @param  {string} @size      大小，默认4px
 * @param  {string} @color     颜色，默认#333 
 * @param  {string} @direction 方向，默认top
 */
.g-header {
  overflow: hidden;
  _zoom: 1;
}
.g-header .logo {
  float: left;
  height: 60px;
  width: 450px;
  margin-left: 10px;
  _margin-left: 5px;
  background: url(/static/components/header/images/logo.png) left center no-repeat;
  font: 0/0 arial;
}
.g-header .search {
  float: left;
  border: 1px solid #0a5da4;
  border-radius: 40px;
  overflow: hidden;
  background: #fff;
  margin-top: 17px;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
  *display: inline;
}
.g-header .search input {
  width: 135px;
  height: 24px;
  line-height: 24px;
  border: none;
  background: none;
  outline: none;
  vertical-align: top;
  *margin-top: -1px;
  *margin-bottom: -1px;
}
.g-header .search .ico-24 {
  margin-top: 0px;
  cursor: pointer;
}
.g-header .user {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
}
.g-header .user-head {
  float: left;
  width: 30px;
  height: 30px;
  border: 1px solid #0a5da4;
  border-radius: 30px;
  background: white;
  overflow: hidden;
}
.g-header .user-head img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.g-header .user-info {
  margin-left: 42px;
  font-size: 15px;
  line-height: 16px;
  padding-top: 8px;
  padding-bottom: 3px;
  color: white;
}
.g-header .user-info a {
  color: #34dde8;
}
.g-header .quit {
  margin-top: 23px;
  margin-right: 10px;
  _margin-right: 5px;
  float: left;
  line-height: 16px;
  font-size: 15px;
  color: white;
}
.g-header .quit i {
  vertical-align: top;
}
.g-header .ico-16-1 {
  background: url(/static/components/header/images/16-1.png) center center no-repeat;
}
.g-header .ico-16-2 {
  background: url(/static/components/header/images/16-2.png) center center no-repeat;
}
.g-header .ico-24-search {
  background: url(/static/components/header/images/ico-24-search.png) center center no-repeat;
}
