<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="movinginfo"/>
    <title>通州公共突发事件预警发布平台-发布责任单位-预警发布-填写发布申请</title>
    <link rel="stylesheet"type="text/css" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/js/lib/My97DatePicker/skin/WdatePicker.css">
    <link rel="stylesheet" href="/static/js/lib/viewer/viewer.min.css">

         <link rel="stylesheet" href="${base}/static/css/manage.css">
    <link rel="stylesheet" href="${base}/static/css/gi-gis.css">
    <link rel="stylesheet" href="/static/css/basic.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/publishApplication.css">
	<link rel="stylesheet" href="/static/css/event_input.css">
     <style>
        .checkbox_style input{
            float: left;
           /* width: 10px !important;*/
            width: 0px !important;
            height: 10px !important;
            padding: 0px !important;
            margin: 0px !important;
        } 
       
       .publishForm{
            position:relative;
            display: inline-block;
		    width: 172px;
		    height: 35px;
		    line-height: 35px;
		    color: #FFF;
		    text-align: center;
		    background: #0f8ffe;
		    border-radius: 3px;
		    margin-right: 12px;
            behavior: url(/static/js/PIE/PIE.htc); 
		}
		.g-bd-left-con ul li .m-checkbox span{
		    text-align: left;
		    width:88px;
		    margin-left:12px;
		    box-sizing: content-box;
		}
		    .channelContentSel{
		        width:92%;
		        border: 1px solid #415580;
			    background: rgba(0, 0, 0, 0.1);
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000);
			    line-height: 34px;
			    padding: 0 15px;
			    border-radius: 4px;
                behavior: url(/static/js/PIE/PIE.htc); 
                    background: #f2f4fa;
			}
		.file {
		    position: relative;
		    display: inline-block;
		    background: #D0EEFF;
		    border: 1px solid #99D3F5;
		    border-radius: 4px;
		    padding: 7px 15px;
		    overflow: hidden;
		    color: #1E88C7;
		    text-decoration: none;
		    text-indent: 0;
		    line-height: 20px;
		    margin-right:20px;
            behavior: url(/static/js/PIE/PIE.htc); 
		}
		.file input {
		    position: absolute;
		    font-size: 100px;
		    right: 0;
		    top: 0;
		    opacity: 0;
            filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);/*/兼容ie8及以下/*/
		}
		.file:hover {
		    background: #AADFFD;
		    border-color: #78C3F3;
		    color: #004974;
		    text-decoration: none;
		}
		.checkboxAreaAll,.checkboxChannelAll,.checkboxAllianceAll{
		    width: 16px;
		    height: 16px;
		    float: left;
		    cursor: pointer;
		    margin-top: 10px;
		    text-align: center;
		    background-image: url(/static/images/oncheck_img.png);
		    background-repeat: no-repeat;
		}
		.m-button{
			margin-top:0px;
		}
		.query_hd li{
			margin-bottom: 5px;
		}
		.m-button-bottom{
			position: relative;
    		bottom: -20px;
    	    margin-bottom: 20px;
    	    float: left;
		}
		.bubble-box {
		    bottom: -94%;
		}
		.bubble-box .m-arrow{
		    bottom: 60px;
		}
		.m-text-textarea{
			height:140px;
		}
		.m-poplayer-table tr td{
		 	text-align: left;
		 	line-height: 25px;
		 	text-overflow: initial;
    		white-space: normal;
		}
		.m-poplayer-table tr:first-child td:first-child{
			width: 16%;
		}
		.popup_bd{
			max-height:330px;
			overflow-x: auto;
		}
		.query_hd li:hover, .query_hd li.channelContentSel-selected {
		    border: 2px solid #4a85f2;
		}
		.m-button-bottom a {
            position:relative;
            display: inline-block;
		    width: 140px;
		    height: 35px;
		    line-height: 35px;
		    text-align: center;
		    border-radius: 3px;
            behavior: url(/static/js/PIE/PIE.htc); 
		}
		a.abandon {
		    background: rgba(99,99,99,0.21);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33636363,endColorstr=#33636363);
		    color: #9d9dd3;
		}
	
		#form{
			height:calc(100% - 110px);
			overflow:auto;
		}
		.g-bd-cont{
			height:100% !important;
		}
		.g-bd-left,.g-bd-right{
			height:calc(100% - 35px) !important;
		}
		.g-bd-right-modular{
			    height: 100% !important;
   				 padding-bottom: 20px;
    			overflow: auto;
		}
		.g-bd-left-con{
			height:100% !important;
		}
		.g-bd-left-con ul{
		    margin-bottom: 18px;
		    font-size: 0;
		}
		.g-bd-left-con ul>*{
		    font-size: 14px;
		}
		.m-sets li{
	        width: 50%;
	        display: inline-table !important;
	    }
	    /*输入框*/
		.m-text-input{
		    width: calc(100% - 75px) !important;
		}
        .popup_con{
            -webkit-box-shadow: 0 0 8px 2px rgba(0,0,0,0.24);
            -moz-box-shadow: 0 0 8px 2px rgba(0,0,0,0.24);
            box-shadow: 0 0 8px 2px rgba(0,0,0,0.24);
        }
        .m-poplayer-table thead td{
            font-size: 16px;
            color: #4463ba !important;
        }
        .m-poplayer .popup_bottom .m-btn{
            background: #8095d0;
        }
        .m-checkbox.checkbox_style.disabled i{
        	background-position: -1px -2px!important;
        }
        .newadd input{
        	width:100%!important;
        }
        .s-text-input{
        	width: calc(100% - 74px) !important;
        	
        }
        #prescription{
        	width: calc(100% - 28px) !important;
        }
        .tishi{
           position: absolute;
		    font-size: 20px;
		    text-align: center;
		    bottom: 0;
		    color: black;
		    left: 50%;
		    transform: translateX(-50%);
		    z-index:10000;
        }
        
    </style>
</head>
<script type="text/javascript">
    function timemer() {
        var regex = new RegExp($('#prescription').attr('regex'));
        var tempvalue =document.getElementById("prescription");
        if(!regex.test(tempvalue)){
            layer.msg("请输入数字");
        }else{

        }

    }

</script>
<body>
     <!--弹窗开始-->
    <div class="m-poplayer save-pop">
        <div class="popup_con"></div>
    </div>
    <div class="m-poplayer edit-pop">
        <div class="popup_con"></div>
    </div>
    <!--弹窗结束-->
    <!--时间轴开始-->
    <div class="m-event mb10">
        <ul class="m-event-schedule">
            <li class="m-event-timeAxis">
                <!--事件进度时间轴底部开始-->
                <div class="m-timeAxis-bg">
                    <dl>
                        <dd><i></i></dd>
                    </dl>
                    <dl>
                        <dd><i></i></dd>
                    </dl>
                    <dl>
                        <dd><i></i></dd>
                    </dl>
                    <dl>
                        <dd><i></i></dd>
                    </dl>
                </div>
                <!--事件进度时间轴底部结束-->
                <!--事件进度时间轴进度开始-->
                <div class="m-timeAxis-con">
                    <dl>
                        <dd class="finish"><i></i></dd>
                    </dl>
                </div>
                <!--事件进度时间轴进度结束-->
            </li> 
            <!--事件进度说明开始-->
            <li class="m-event-explain">
                <p><span>$!{departmentName}申请发布</span>
                <span>发布中心审核</span>
                <span>发布平台执行</span>
                <span>发布完成</span></p>
            </li>
            <!--事件进度说明开始-->
        </ul>   
    </div>                          
    <!--时间轴结束-->
<form action="" method="post" id="form" name="form">
<input type = "hidden" id="imagePath" name = "imagePath" value="">
<input type = "hidden" id="alarmTypeName" name = "alarmTypeName" value="">
<input type = "hidden" id="typeT" name = "type" value="$!{alarmName}">
<input type = "hidden" id="typeId" name = "typeId" value="">
<input type = "hidden" id="points" name = "points" value="">
<input type = "hidden" id="areaId" name = "areaId" value="$!{areaId}">
<input type = "hidden" id="alarmType" name = "alarmType" value="">
    <!--内容开始-->
    <div class="g-bd-cont">
        <!--标题开始-->
        <div class="g-bd-tit">
            <span>$!{departmentName}发布申请</span><span class="filenum"></span>
        </div>
        <!--标题结束-->
        <!--左边开始-->
        <div class="g-bd-left">
            <!--内容开始-->
            <div class="g-bd-left-con" id="myScroll">
                <ul>
                    <!--标题开始-->
                    <li><span>&nbsp;&nbsp;标&nbsp;&nbsp;&nbsp;题&nbsp;&nbsp;</span><input type="text" id="title" name="title" class="m-text-input" value="" /></li>
                    <!--标题结束-->
                </ul>
                
                #if($alarmName =="alarm")
                <!--预警部分  -->
                <ul class="m-sets">
                    <!--信息类别开始-->
                    <li>
                        <span>信息类别</span>
	                        <select id="type" class="type m-text-input" name="type">
	                        #foreach($alarmName in ${alarmTypeName})  
	                        <option value="$!{alarmName.namecn}">$!{alarmName.namecn}</option>   
	                        #end 
	                   </select>
                    </li>
                    <!--信息类别结束-->
                    <!--预警级别开始-->
                    <li class="pl10">
                        <span>预警级别</span>
                        <select id="typeColor" class="typeColor m-text-input" name="level">
                        </select>
                    </li>
                    <!--预警级别结束-->
                </ul>
                 <!--预警部分  -->
                 #elseif($!alarmName == "event") 
                 <!--事件部分  -->
                <ul class="m-sets">
                    <!--信息类别开始-->
                    <li>
                        <span>信息类别</span>
                        
                                <select id="type" class="type m-text-input" name="type">
                                 #foreach($eventName in ${eventType})  
                                     <option value="$!{eventName.displayName}">$!{eventName.displayName}</option>   
                                 #end 
                                </select>
                        
                    </li>
                    <!--信息类别结束-->
                    <!--预警级别开始-->
                    <li class="pl10">
                        <span>预警级别</span>
                        
                            <select id="typeColor" class="typeColor m-text-input" name="level">
                                <option value="蓝色">蓝色</option>
                                <option value="黄色">黄色</option>
                                <option value="橙色">橙色</option>
                                <option value="红色">红色</option>
                            </select>
                        
                    </li>
                    <!--预警级别结束-->
                </ul>
                 <!--事件部分  -->
                 #end
                 
                <ul class="m-sets">
                    <!--发布时间开始-->
                    <li>
                    <span>发布时间</span>
                    <input id="basic_example_1"  name="pubDate"  class="inputTimepick m-text-input Wdate" type="text" onfocus="WdatePicker({dateFmt:'yyyy年MM月dd日HH时mm分',readOnly:true ,onpicking: cDayFunc,minDate:'%y-%M-%d %d:%H:%m',maxDate:'%y-%M-%d %d:%H:#{%m+10}'})" readonly="">
                    </li>
                    <!--发布时间结束-->
                    <!--发布时效开始-->
                    <li class="pl10">
                        <span>发布时效</span>
                        <div class="m-select m-fbsx m-text-input s-text-input" >
                           <input type="text"  id="prescription" onblur="timemer()"  regax = "^[0-9]*$" name="duration" value="" autocomplete="off" class="m-text-input-text" style="width:155px!important">小时
                        </div>
                    </li>
                    <!--发布时效结束-->
                </ul>
                <!--测试预警或正式预警-->
                <ul class="m-sets">
                	<li>
                        <span>预警类型</span>
                            <select id="warmType" class="typeColor m-text-input" name="type">
                                <option value="0">测试预警</option>
                                <option value="1">正式预警</option>
                            </select>
                        
                    </li>
                </ul>
                <ul>
                    <!--发布范围开始-->
                    <li>
                        <span class="fl">发布范围</span>
                        <div class="checkbox_bd">
                       
                            <div class="m-checkbox checkboxArea">
                                <input name="checkboxAreaAll" type="checkbox" class="radioclass" value="">
                                <i class="checkboxAreaAll" id="fxy"></i>
                                <span>全选</span>
                            </div>
                            
                             #foreach($area in ${areaAll}) 
                             <div class="m-checkbox checkboxArea" name="pubRangeCountry">
	                                <input name="pubRangeName" type="checkbox" class="radioclass" value="$!area.town">
	                                <i name="pubRangeName1" class="checkbox" data-id="$!area.town" value="$!area.town" ></i>
	                                <span>$!{area.town}</span>
	                            </div>
                            
                             #end
                             
                             
                            
                             #*<button type="button" id="selectAreas" class="blue-btn">地图选择</button>*#
                        </div>
                    </li>
                    <li class="selected-area" style="display:none"></li>
                    <!--发布范围结束-->
                </ul>
              
                
                #foreach($areaAll in ${areaAll})  
                  <ul style="display:none" id="$!areaAll.town" name="countryUl">
                    <!--发布范围开始-->
                    <li>
                        <span class="fl">乡镇范围</span>
                        <div class="checkbox_bd">
                            <div class="m-checkbox">
                                <input name="checkboxAreaAll" type="checkbox" class="radioclass" value="">
                                <i class="checkboxAreaAll" data-id="$!areaAll.town" name="AreaAllTown" value="$!areaAll.town"></i>
                                <span>全选</span>
                            </div>
                            #foreach($area in ${areaAllTown})  
	                            #if($!area.country == $!areaAll.country&&$!area.town == $!areaAll.town)
	                            <div class="m-checkbox checkboxArea">
	                                <input name="pubRangeNameTown" type="checkbox" class="radioclass $!areaAll.town" value="$!{area.town}">
	                                <i class="checkbox" ></i>
	                                <span>$!{area.town}</span>
	                            </div>
	                            #end
                             #end 
                        </div>
                    </li>
                    <!--发布范围结束-->
                 </ul>
                #end 
 
                #if($!{alarmName} == "alarm")
                <ul >
                    <!--发布渠道开始-->
                    <li>
                        <span class="fl">发布渠道</span>
                        <div class="checkbox_bd" >
                        
                            <div class="m-checkbox">
                                <input name="checkboxChannelAll" type="checkbox" class="radioclass" value="">
                                <i class="checkboxChannelAll"></i>
                                <span>全选</span>
                            </div>
                            
                           	#foreach($rc in ${releaseChannel}) 
                             <div class="m-checkbox checkbox_style" id="id_$!rc.nameEn" >
                             <input name="channelCheckBoxes" type="checkbox" class="radioclass" value="channel_$!rc.nameEn" nid="$!rc.name">
                                <i class="checkbox"  value="channel_$!rc.nameEn" name="channel_$!rc.nameEn"></i>
                                <span>$!rc.name</span>
                                </div> 
                             #end
                        	</div>
                    </li>
                    <!--发布渠道结束-->
                </ul>
                #else
                <ul >
                    <!--发布渠道开始-->
                    <li>
                        <span class="fl">发布渠道</span>
                        <div class="checkbox_bd" >
                            <div class="m-checkbox">
                                <input name="checkboxChannelAll" type="checkbox" class="radioclass" value="">
                                <i class="checkboxChannelAll"></i>
                                <span>全选</span>
                            </div>
                           	#foreach($rc in ${releaseChannel}) 
                             <div class="m-checkbox checkbox_style" id="id_$!rc.nameEn">
                             <input name="channelCheckBoxes" type="checkbox" class="radioclass" value="channel_$!rc.nameEn" nid="$!rc.name">
                                <i class="checkbox"  value="channel_$!rc.nameEn" name="channel_$!rc.nameEn"></i>
                                <span>$!rc.name</span>
                                </div> 
                             #end 

                        	</div>
                    </li>
                    <!--发布渠道结束-->
                </ul>
                #end
                
                <ul style="display:none" id="smsGroup">
                <!--短信组-->
                    <li>
                        <span class="fl">短信分组</span>
                        <div class="checkbox_bd" id="publish-way">
                           	#foreach($de in ${decision}) 
                             <div class="m-checkbox checkboxSms" id="id_$!de.name" >
								
                             <input name="decisionCheckBoxes" type="checkbox" class="radioclass" value="$!de.id" nid="$!de.name" >
                                <i class="checkbox"  value="$!de.name"></i>
                                <span>$!de.name</span>
								</div> 
								#end   
								</div>                                                 
                    </li>
                </ul>
                
                <ul style="display:none" id="departFax">
                <!--部门传真-->
                    <li>
                        <span class="fl">部门传真</span>
                        <div class="checkbox_bd" id="publish-fax">
                           	#foreach($de in ${departFax}) 
                             <div class="m-checkbox checkboxFax" id="id_$!de.depart" >
								
                             <input name="faxCheckBoxes" type="checkbox" class="radioclass" value="$!de.id" nid="$!de.depart" >
                                <i class="checkbox"  value="$!de.name"></i>
                                <span>$!de.depart</span>
								</div> 
								#end   
								</div>                                                 
                    </li>
                </ul>
                #if($!alarmName =="event")
                <!--是否联合发布-->
                <ul>
                 <li>
                 	<span class="fl">是否联合发布</span>
                 	<div class="checkbox_bd">
                         <div class="m-checkbox checkboxSms">
                         <input name="allianceCheckBoxes" type="checkbox" class="radioclass">
                            <i class="checkbox" name="allianceDept" id="alliance"></i>
                            <span>是</span>
							</div> 
					</div> 
                 </li>
                </ul>
                
                <ul style="display:none" id="allianceDepart">
                <!--联合部门-->
                    <li>
                       
                       <span class="fl">联合部门</span>
                        <div class="checkbox_bd" id="publish-depart">
                            <div class="m-checkbox checkboxAlliance">
                                <input name="checkboxAllianceAll" type="checkbox" class="radioclass" value="">
                                <i class="checkboxAllianceAll" ></i>
                                <span>全选</span>
                            </div>
                            
                             #foreach($de in ${departList}) 
                             <div class="m-checkbox checkboxAlliance" name="allinceDepartment">
	                                <input name="allianceDept" type="checkbox" class="radioclass" value="$!de.code">
	                                <i name="allianceDept1" class="checkbox" data-id="$!de.code" value="$!de.code" ></i>
	                                <span>$!{de.code}</span>
	                            </div> 
                            
                             #end
                        </div>                                          
                    </li>
                </ul>
                #end
                
                 <!--标题位置开始-->
                
                 <!--标题位置结束-->
                
                <ul>
                    <!--发布内容开始-->
                    <li>
                        <span class="fl">发布内容</span>
                        <textarea class="m-text-textarea" name="content" id="limitWord"></textarea>
                        <p>限制600字,还剩<span id="textCount">0</span>字</p>
                    </li>
                    <!--发布内容结束-->
                </ul>                
                <ul class="m-sets-sets">
                    <!--操作人员开始-->
                    <li style="width:48%">
                        <span>操作人员</span>
                        <div class="m-select newadd" style="width:calc(100% - 75px)">
                           <input type="text" value="" id="number" onblur="opreation()" var regax = "^[\u4e00-\u9fa5]{0,}$" name="publisher" class="m-text-input-text m-text-input">
                        </div>
                    </li>
                    <!--审稿人员结束-->                    
                    <!--发布时效开始-->
                    <li class="pl10" style="width:48%">
                        <span>签发领导</span>
                        <div class="m-select newadd" style="width:calc(100% - 75px)">
                           <input type="text" var regax = "^[\u4e00-\u9fa5]{0,}$" id="leaderNumber" onblur="leader()" name="issuer"  value="" class="m-text-input-text m-text-input">
                        </div>
                    </li>
                    <!--签发人员结束-->
                </ul>       
            </div>
            <!--内容结束-->
        </div>
    <!--左边结束-->

    <!--右边开始-->
       <div class="g-bd-right form_right">
            <!--渠道总汇开始-->       
            <div class="g-bd-right-modular" style="position: relative;">
                <!--标题开始-->
                <div class="g-bd-tit" style="border-bottom:none">
                    <span>发布预览</span>
                    <!--切换开始-->
                    <ul class="query_hd fr">
                   
                            
                        #foreach($rc in ${releaseChannel})
                       
                         <li class="channelContentBtnSel">${rc.name}</li>
                         
						 #end
						## <li class="channelContentBtnSel">其他渠道</li>
                    </ul>
                    <!--切换结束-->
                </div>
                <!--标题结束-->
                <!--内容开始-->   
                #foreach($rc in ${releaseChannel}) 
                    <div class="textarea-wrapper" style="clear:both;margin-bottom:5px" >
                        <textarea class="channelContentSel" data-length="$!rc.maxLength" name="channel_$!rc.nameEn" style="height: 100px;" placeholder="请输入$!rc.name发布内容">$!rc.content</textarea>
                        <div class="text-left-words">还可以输入$!rc.maxLength字</div>
                    </div>
                    #end
					
                <!--内容结束-->
                <!--按钮1开始-->                
                <div class="m-button">
                <a id="faxModel" class="publishForm" style="cursor:pointer">查看对外传真</a>
                    <a id="publishForm" class="publishForm" style="cursor:pointer">生成申请表单</a>
                    <a href="javascript:;" class="file" style="top:13px;">上传审批表
                            <input type="file" name="file" id="file" onChange="FileUpload()">
                        </a>
                </div>
                <!--按钮1结束-->
                 <ul style="width: 100%; margin-top:20px;float:left">
                    <!--审批单开始-->
                    <li>
                        <span class="fl" style="line-height: 30px; text-indent: 0.8em;">审批单</span>
                        <div class="m-text-textarea dpi" id="upload_img" style="width:100%"><h3>未上传</h3></div>
                    </li>
                    <!--发布内容结束-->
                </ul>
                #if($alarmName =="alarm")
                <!-- 防御措施 -->
                <ul style="width: 100%; margin-top:20px;float:left">
                    <!--审批单开始-->
                    <li>
                        <span class="fl" style="line-height: 30px; text-indent: 0.8em;display:block;">信号含义</span>
                        <textarea class="m-text-textarea" name="" readOnly="readonly" id="defence" style="width:100%;"></textarea>
                    </li>
                    <!--发布内容结束-->
                </ul>
                <!-- 防御措施 -->
                #end
                <!--按钮2开始-->                
                <div class="m-button-bottom">
                
                    <a href="javascript:history.go(-1)" class="abandon">放弃</a>
                     #if($departmentName.indexOf("气象") != -1)
                        <button class="report">一键式发布</button>
                     #else
                        <button class="report">上报发布中心</button>
                     #end
                    
                </div>
                <!--按钮2结束-->
            </div>
            <!--渠道总汇开始-->  
        </div>
    <!--右边结束-->
    </div>
    <!--内容开始-->
</form>   
<div class="map-wrapper">
        <!--地图模块-->
        <div class="m-map">
            <div class="m-map-bd" id="map">
             	<div class="tishi" ></div> 
                <div class="gemoDiv">     
                    <button class="mapclosebtn" id="close">X</button>
                    <div class='areamaptool'>
                    <button type="button" class="btngetarea" id="btnPosition">经纬度</button>
                    <button type="button" class="btngetarea" id="btnPolygen">多边形</button>
                    <button class="btngetarea" id="btnSave" style="display:none">保存</button>
                    <button class="btngetarea" id="btnEdit">修改</button>
                   
                    </div> 
                   
                </div>     
            </div>
          </div>
        </div>
        
       
    
    <!--js开始-->
 
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static2/js/lib/openLayers.js"></script>
    <!-- 引用滚动条插件 -->
    <script type="text/javascript" src="/static/js/lib/jquery-niceScroll.js"></script>
    <script type="text/javascript" src="/static/js/public.js"></script>
    <script type="text/javascript" src="/static/js/publishApplication.js"></script>
     <script type="text/javascript" src="/static/js/application.js"></script>
     <script type="text/javascript" src="/static/js/ajaxfileupload.js"></script>
     <script type="text/javascript" src="/static/js/lib/My97DatePicker/WdatePicker.js"></script>

     <script type="text/javascript" src="/static/js/lib/viewer/viewer.min.js"></script>

    <!--js结束-->
	
	<script type="text/javascript" src="${base}/static/libs/sea.js"></script>
	
    <script type="text/javascript" src="${base}/static/js/js/lib/template.js"></script> 
    <script type="text/javascript" src="${base}/static/js/fillInTheApplication.js"></script> 
    <script type="text/javascript" src="${base}/static/components/head/head.js"></script>
    <script type="text/javascript" src="${base}/static/components/tabs/tabs.js"></script>
    <script type="text/javascript" src="${base}/static/components/map/tools.js"></script>
    <script type="text/javascript" src="${base}/static/libs/gigis.js"></script>
    <script type="text/javascript" src="${base}/static/js/layer/layer.js"></script>
    <script type="text/javascript" src="${base}/static/libs/gigis/gi-gis.js"></script>
   
	
    
</body>
</html>

<!-- 公用自写 -->
<script type="text/javascript">

    function opreation() {
        var isOk = true;
        var regax = new RegExp($('#number').attr('regax'));
        var tempNumber =document.getElementById("number").value;
        if(tempNumber == "") {
            isOk = false;
            layer.msg("请输入操作人员！");
            return false;
        }else if(!regax.test(tempNumber)){
            isOk=false;
            layer.msg("您输入的不是中文!");
            return false;
        }

    }

    function timemer() {
        // alert("123");
        var isOk = true;
        var regax = new RegExp($('#prescription').attr('regax'));
        var tempNumber =document.getElementById("prescription").value;
        if(tempNumber == "") {
            isOk = false;
            layer.msg("请输入发布时效！");
            return false;
        }else if(!regax.test(tempNumber)){
            isOk=false;
            layer.msg("您输入发布时效不是纯数字!");
            return false;
        }

    }



    function leader() {
        var isOk = true;
        var regax = new RegExp($('#leaderNumber').attr('regax'));
        var tempNumber =document.getElementById("leaderNumber").value;
        if(tempNumber == "") {
            isOk = false;
            layer.msg("签发领导不能为空！");
            return false;
        }else if(!regax.test(tempNumber)){
            isOk=false;
            layer.msg("您输入的不是中文!");
            return false;
        }

    }

    var areaId=$("#areaId").val();
var colorLevel = {
        "红色": "(I级/特别重大)",
        "橙色": "(II级/严重)",
        "黄色": "(III级/较重)",
        "蓝色": "(IV级/一般)",
    };
$('document').ready(function(){
	$("#reviewer").find("option").eq(0).prop("selected",true);
    $("#issuer").find("option").eq(0).prop("selected",true);
    
    $('textArea.channelContentSel').keyup(function(){
        var $this = $(this);
        var maxLengthStr = $this.attr('data-length');
        var maxLength = parseInt(maxLengthStr);
        var text = $this.val();
        if(text.length>maxLength){
            text = text.substr(0, maxLength);
            $this.val(text);
        }
        var Remaining='还可以输入'+(maxLength-text.length).toString()+'字';
        $this.siblings('.text-left-words').html(Remaining);
    });
    
    //生成发布表单
    $("#publishForm").click(function(){
    var pubRange="";  
	$("input[name='pubRangeName']:checked").each(function(){ 
	pubRange+=$(this).val()+" ";
	});
	var pubChannel="";
	
	$("input[name='channelCheckBoxes']:checked").each(function(){ 
	pubChannel+=$(this).attr("nid")+" ";
	});
	var smsGroup="";
	$("input[name='decisionCheckBoxes']:checked").each(function(){ 
	smsGroup+=$(this).val()+" ";
	});


	    var curLength=$("#limitWord").val().length; 
    	var time = $("#prescription").val();
    	var pubtime=$("#basic_example_1").val();
    	var areaCheck = $('.checkboxArea input[name="pubRangeName"]:checked').length;
    	var channelCheck = $(' input[name="channelCheckBoxes"]:checked').length;
    	
    	if(time=="" || time=="undefined"){
    		layer.msg("时效不能为空");
    		return false;
    	}else if(pubtime== "" || pubtime=="undefined"){
    		layer.msg("请选择发布时间");
    		return false;
    	}else if(areaCheck ==0){
    		layer.msg("请选择区域");
    		return false;
    	}else if(curLength ==0){
    	    layer.msg("请填写内容");
    		return false;
    	}else if(channelCheck ==0){
    	    layer.msg("请选择渠道");
    		return false;
    	}
    	
	
	
       $.ajax({
            cache: true,
            type: "POST",
            url:"${base}/sev/alarm/createForm?status="+"发布",
            data:$.param({'pubRange':pubRange,'pubChannel':pubChannel,'smsGroup':smsGroup})+'&'+$('#form').serialize(),// 你的formid
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(data) {
            window.location.href="/sev/alarm/download?data="+data;
                //window.open("/sev/alarm/form?status="+data.status+"&signal="+data.signal+"&warning="+data.warning+
                             //"&startStopTime="+data.startStopTime+"&distribution="+data.distribution+"&depart="+
                             // data.depart+"&phone="+data.phone);
                             
            }
        });
    });
    
    
     $("#faxModel").click(function(){
    var pubRange="";  
	$("input[name='pubRangeName']:checked").each(function(){ 
	pubRange+=$(this).val()+" ";
	});
	var pubChannel="";
	
	$("input[name='channelCheckBoxes']:checked").each(function(){ 
	pubChannel+=$(this).attr("nid")+" ";
	});
	var smsGroup="";
	$("input[name='decisionCheckBoxes']:checked").each(function(){ 
	smsGroup+=$(this).val()+" ";
	});


	    var curLength=$("#limitWord").val().length; 
    	var time = $("#prescription").val();
    	var pubtime=$("#basic_example_1").val();
    	var areaCheck = $('.checkboxArea input[name="pubRangeName"]:checked').length;
    	var channelCheck = $(' input[name="channelCheckBoxes"]:checked').length;
    	
    	if(time=="" || time=="undefined"){
    		layer.msg("时效不能为空");
    		return false;
    	}else if(pubtime== "" || pubtime=="undefined"){
    		layer.msg("请选择发布时间");
    		return false;
    	}else if(areaCheck ==0){
    		layer.msg("请选择区域");
    		return false;
    	}else if(curLength ==0){
    	    layer.msg("请填写内容");
    		return false;
    	}else if(channelCheck ==0){
    	    layer.msg("请选择渠道");
    		return false;
    	}
       $.ajax({
            cache: true,
            type: "POST",
            url:"${base}/sev/alarm/createFaxForm?status="+"发布",
            data:$.param({'pubRange':pubRange,'pubChannel':pubChannel,'smsGroup':smsGroup})+'&'+$('#form').serialize(),// 你的formid
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(data) {
            window.location.href="/sev/alarm/download?data="+data;
                //window.open("/sev/alarm/form?status="+data.status+"&signal="+data.signal+"&warning="+data.warning+
                             //"&startStopTime="+data.startStopTime+"&distribution="+data.distribution+"&depart="+
                             // data.depart+"&phone="+data.phone);
                             
            }
        });
    });
});




</script>

<!-- 事件部分 -->
#if($!alarmName =="event")
<script type="text/javascript">
var allEventType = #if($!allEventType.length!=0) $!allEventType #else {} #end  ;
$('document').ready(function(){
	$("#type").find("option").eq(0).prop("selected",true);
	$("#typeColor").find("option").eq(0).prop("selected",true);
	var eventTy = $('#type option:selected').text();
	for(var i=0;i<allEventType.length;i++){
        var info = allEventType[i];
        if(info.displayName == eventTy){
        	 $("#typeId").val(info.id);
        }
    }
	var eventType = $('#type option:selected').text();
    var color = $('#typeColor option:selected').text();
    $("#alarmTypeName").val(eventType+color);
    var Level = "";
    for(var key in colorLevel){
        if(key === color){
            level = colorLevel[key];
        }
    }
    var text = "$!{departmentName}发布的"+eventType+color+"预警"+level;
    $("#title").val(text);
    var appContent = "$!{departmentName}"+$("#basic_example_1").val()+"发布"+eventType+color+"预警信号：";
    $("#limitWord").val(appContent);
    $('.channelContentSel').val(appContent);
	

	
	$("#type").click(function(e){
	if(e.timeStamp != 0) return;
    		 var eventType = $('#type option:selected').text();
        var color = $('#typeColor option:selected').text();
        $("#alarmTypeName").val(eventType+color);
        var Level = "";
        for(var key in colorLevel){
            if(key === color){
                level = colorLevel[key];
            }
        }
        for(var i=0;i<allEventType.length;i++){
            var info = allEventType[i];
            if(info.displayName == eventType){
                 $("#typeId").val(info.id);
            }
        }
        
        $("#typeColor").find("option").eq(0).prop("selected",true);
        $("#typeColor").trigger("click");

        freshen();
 
        });
	
    $("#typeColor").click(function(e){

	if(e.timeStamp != 0) return;
		var eventType = $('#type option:selected').text();
	    var color = $('#typeColor option:selected').text();
		selectColor(color);
	    
        freshen();
	
});
});
</script>
#end
<!-- 事件部分 -->

<!-- 预警部分 -->
#if($!alarmName =="alarm")
<script type="text/javascript">
    var allAlarmType = #if($!alarmType.length!=0) $!alarmType #else {} #end  ;
    var myArray=new Array();
    $('document').ready(function(){
    	//页面加载获取
    	var typeL ="$!{typeL}";
    	 $("#type").find("option[value='"+typeL+"']").attr("selected",true);
         var typeData = $("#type").val();
         var typeColorData = "";
         for(var i=0;i<allAlarmType.length;i++){
             var info = allAlarmType[i];
             if(info.namecn == typeData){
                 var typeName = info.caption;
                 var colorName = typeName.substring(typeName.length-2,typeName.length);
                 typeColorData += "<option value="+typeName+">"+colorName+"</option>";  
             }
         }
         $("#typeColor").empty();
         $("#typeColor").append(typeColorData);
         var type = $('#typeColor option:selected').val();
         var color = $('#typeColor option:selected').text();
         var Level = "";
         for(var key in colorLevel){
             if(key === color){
                 level = colorLevel[key];
             }
         }
         var text = "$!{departmentName}发布的"+type+"预警"+level;
         $("#title").val(text);
         for(var j=0;j<allAlarmType.length;j++){
             var info = allAlarmType[j];
             if(info.caption == type){
            	 $("#typeId").val(info.id);
                 var time = info.validity;
                 $("#prescription").val(time);
                 var appContent = "$!{departmentName}"+$("#basic_example_1").val()+"发布"+type+"预警信号：";
                 
                 //新增防御措施
                 var defence=info.content;
                 $("#defence").val(defence);
                 $("#limitWord").val(appContent);
                 $('.channelContentSel').val(appContent);
                
             }
         }
        $("#alarmTypeName").val(type);
    	
    	$("#type").click(function(e){
	if(e.timeStamp != 0) return;
    		var typeData = $("#type").val();
            var typeColorData = "";
            for(var i=0;i<allAlarmType.length;i++){
                var info = allAlarmType[i];
                if(info.namecn == typeData){
                    var typeName = info.caption;
                    var colorName = typeName.substring(typeName.length-2,typeName.length);
                    typeColorData += "<option value="+typeName+">"+colorName+"</option>";  
                }
            }
            $("#typeColor").empty();
            $("#typeColor").append(typeColorData);
            $("#typeColor").find("option").eq(0).prop("selected",true);
            $("#typeColor").trigger("click");
            
            
            
            var type = $('#typeColor option:selected').val();
    		var color = $('#typeColor option:selected').text();
			selectColor(color);
    		$("#alarmTypeName").val(type);
    		var Level = "";
    		for(var key in colorLevel){
    			if(key === color){
    				level = colorLevel[key];
    			}
    		}
    		var text = "$!{departmentName}发布的"+type+"预警"+level;
    		$("#title").val(text);
    		for(var i=0;i<allAlarmType.length;i++){
                var info = allAlarmType[i];
                if(info.caption == type){
                	var time = info.validity;
                	$("#typeId").val(info.id);
                	$("#prescription").val(time);
                	var appContent = "$!{departmentName}"+$("#basic_example_1").val()+"发布"+type+"预警信号：";
                	
                	//9.13新增防御措施
                	var defence=info.content;
                	$("#defence").val(defence);
                	$("#limitWord").val(appContent);
                	$('.channelContentSel').val(appContent);
                }
            }
            
            
        })
        
        
        $("#typeColor").click(function(e){
    		if(e.timeStamp != 0) return;
    		var type = $('#typeColor option:selected').val();
    		var color = $('#typeColor option:selected').text();
			selectColor(color);
    		$("#alarmTypeName").val(type);
    		var Level = "";
    		for(var key in colorLevel){
    			if(key === color){
    				level = colorLevel[key];
    			}
    		}
    		var text = "$!{departmentName}发布的"+type+"预警"+level;
    		$("#title").val(text);
    		for(var i=0;i<allAlarmType.length;i++){
                var info = allAlarmType[i];
                if(info.caption == type){
                	var time = info.validity;
                	$("#typeId").val(info.id);
                	$("#prescription").val(time);
                	var appContent = "$!{departmentName}"+$("#basic_example_1").val()+"发布"+type+"预警信号：";
                	//9.13新增防御措施
                	var defence=info.content;
                	$("#defence").val(defence);
                	$("#limitWord").val(appContent);
                	$('.channelContentSel').val(appContent);
                	
                }
            }
    		
    	});
    });
    
</script>
#end
<!-- 预警部分 -->

<!-- 公用 -->
<script type="text/javascript">
var mapHasLoaded = false;
$('document').ready(function(){

    $('i[name="channel_dxz"]').on("click", function () {
    	if($(this).is('.on_check')){
        	 $("#smsGroup").show();
        	$("#publish-way").find(".checkboxSms").find(".radioclass").prop("checked", true);
          	$("#publish-way").find(".checkboxSms").find(".checkbox").addClass("on_check");
        }else{
        	$("#smsGroup").hide();
        	$("#publish-way").find(".checkboxSms").find(".radioclass").prop("checked", false);
	        $("#publish-way").find(".checkboxSms").find(".checkbox").removeClass("on_check");
        }
    });
    
    
    $('i[name="channel_deptfax"]').on("click", function () {
    	if($(this).is('.on_check')){
        	 $("#departFax").show();
        	$("#publish-fax").find(".checkboxFax").find(".radioclass").prop("checked", true);
          	$("#publish-fax").find(".checkboxFax").find(".checkbox").addClass("on_check");
        }else{
        	$("#departFax").hide();
        	$("#publish-fax").find(".checkboxFax").find(".radioclass").prop("checked", false);
	        $("#publish-fax").find(".checkboxFax").find(".checkbox").removeClass("on_check");
        }
    });
    //是否联合发布的点击事件
    $('#alliance').on("click",function() {
    var pubtime=$("#basic_example_1").val();
    		if(pubtime== "" || pubtime=="undefined"){
    		layer.msg("请选择发布时间");
    		$(this).removeClass("on_check");
    		return false;
    		}
	    if($(this).is('.on_check')){
	        	 $("#allianceDepart").show();
	        }else{
	        	$("#allianceDepart").hide();
	        	$("#allianceDepart").find("i.checkboxAllianceAll").removeClass("on_check");
	        	$("#allianceDepart").find("i.checkbox").removeClass("on_check");
	        	var eventType = $('#type option:selected').text();
	        	var type = $('#typeColor option:selected').val();
	        	var appContent = "$!{departmentName}" + $("#basic_example_1").val()+"发布"+eventType+type+"预警信号：";
	        	$("#limitWord").val(appContent);
	        }
    })
    //单个联合部门的点击事件
    $('i[name=allianceDept1]').on("click",function() {
    		if($(this).is('.on_check')){
    		var deptCheck = $('i[name=allianceDept1][class=checkbox]');
    		if(deptCheck.length == 0) {
    			$("#allianceDepart").find("i.checkboxAllianceAll").addClass("on_check");
    		}
          	
        }else{
	        $("#allianceDepart").find("i.checkboxAllianceAll").removeClass("on_check");
        }
    
    	    var depts = $('i[name=allianceDept1]');
    	    var deptCheck = $('i[name=allianceDept1][class=checkbox]');
    	    var appContent = "";
    	    var type = $('#typeColor option:selected').val();
    	    var eventType = $('#type option:selected').text();
    	    if(deptCheck.length != $!{deptLength}) {
    	     appContent = "【"+"$!{departmentName}"+"】";
    	    for(var x=0;x<depts.length;x++) {
    	    	if(depts[x].getAttribute("class")=="checkbox on_check") {
    	    		var deptName = depts[x].getAttribute("data-id");
    	    		appContent += "【"+deptName+"】";
    	    	}
    	    }
    		
    		appContent += $("#basic_example_1").val()+"联合发布"+ eventType + type+"预警信号：";
    	    }else {
    	    appContent += "$!{departmentName}" + $("#basic_example_1").val()+"发布"+eventType +type+"预警信号：";
    	    }
    	    
    		
    		$("#limitWord").val(appContent);
    })
    

	$('#selectAreas').click(function(){
            $(".areamaptool").show();
            $('.map-wrapper').show();
            if(mapHasLoaded==false) {
                seajs.config({
                      "base": "${base}/static/js/js"
                });
                seajs.use("map2");
                mapHasLoaded = true;
            }
        });
	$(".checkCountry").click(function(){
		var a=$(this).parent().find("i").attr("");
		$(".checkCountry").removeClass("checkToTown");
		$(this).addClass("checkToTown");
		var $allcountry = $('ul[name="countryUl"]');
		$.each($allcountry, function(i,l){
		    if($(l).attr("id")==a){
		    	$(l).show();
		    }else{
		    	$(l).hide();
		    }
		});
	});
	


	 /*复选框选中全选区县*/
    $(".checkboxAreaAll").on("click", function () {
   
        $(this).toggleClass("on_check");
        // 获取父节点是否选中-2017-09-04-倪佳慧-修改
        if($(this).is('.on_check')){
        	 $(this).parent().find("input.radioclass").prop("checked","true");
        }else{
        	 $(this).parent().find("input.radioclass").removeAttr("checked");
        }
        var isChange = $(this).parent().find(".radioclass").prop("checked");
        var dataId = $(this).attr("data-id");

        if(isChange){ // 如果选中,则父节点下的所有的子节点都选中
          // 获取当前checkbox节点的兄弟节点下的所有的checkbox子节点选中
          $(this).parents(".checkbox_bd").find(".checkboxArea").find(".radioclass").prop("checked", true);
          $(this).parents(".checkbox_bd").find(".checkboxArea").find(".checkbox").addClass("on_check");
          if(dataId !=undefined){
              $('.checkbox[data-id="'+dataId+'"]').parents(".m-checkbox.checkboxArea").find(".radioclass").prop("checked", true);
              $('.checkbox[data-id="'+dataId+'"]').parents(".m-checkbox.checkboxArea").find(".checkbox").addClass("on_check");
              //$('.checkbox[data-id="'+dataId+'"]').trigger("click");
          }else{
        	//  $(".checkbox").addClass("on_check");
             // $(".checkboxAreaAll").addClass("on_check");
        	//  $(".radioclass").prop("checked", true);
        	  $(".checkboxAreaAll").parents(".checkbox_bd").find(".radioclass").prop("checked", true);
              $(".checkboxAreaAll").parents(".checkbox_bd").find(".checkbox").addClass("on_check");
              $(".checkboxAreaAll").addClass("on_check");
              $('ul[name="countryUl"]').hide();
          }
        }else{ // 未选中，取消全选
          // 获取当前checkbox节点的兄弟节点下的所有的checkbox子节点选中
	          $(this).parents(".checkbox_bd").find(".checkboxArea").find(".radioclass").removeAttr("checked");
	          $(this).parents(".checkbox_bd").find(".checkboxArea").find(".checkbox").removeClass("on_check");
	          $('.checkbox[data-id="'+dataId+'"]').parents(".m-checkbox.checkboxArea").find(".radioclass").prop("checked", false);
	          $('.checkbox[data-id="'+dataId+'"]').parents(".m-checkbox.checkboxArea").find(".checkbox").removeClass("on_check");
	          if(dataId !=undefined){
	              $('.checkbox[data-id="'+dataId+'"]').parents(".m-checkbox.checkboxArea").find(".radioclass").prop("checked", false);
	              $('.checkbox[data-id="'+dataId+'"]').parents(".m-checkbox.checkboxArea").find(".checkbox").removeClass("on_check");
	              //$('.checkbox[data-id="'+dataId+'"]').trigger("click");
	          }else{
	        	  $(".checkboxAreaAll").parents(".checkbox_bd").find(".radioclass").prop("checked", false);
	        	  $(".checkboxAreaAll").parents(".checkbox_bd").find(".checkbox").removeClass("on_check");
                  $(".checkboxAreaAll").removeClass("on_check");
                  $('ul[name="countryUl"]').hide();
	          }
        }
        //jinb
       
       
    })
    
    /*$('body').on('click','#id_nationEmergencyPlatform i',function(){
    	var isChecked  = $('#alliance').hasClass('on_check')
    	if(isChecked){
	        	$("#allianceDepart").hide();
	        	$("#allianceDepart").find("i.checkboxAllianceAll").removeClass("on_check");
	        	$("#allianceDepart").find("i.checkbox").removeClass("on_check");
	        	$('#alliance').removeClass("on_check");
	        	var eventType = $('#type option:selected').text();
	        	var type = $('#typeColor option:selected').val();
	        	var appContent = $!{departmentName} + $("#basic_example_1").val()+"发布"+eventType+type+"预警信号：";
	        	$("#limitWord").val(appContent);
    	}
    })*/

        /*复选框选中全选渠道*/
    $(".checkboxChannelAll").on("click", function () {
        $(this).toggleClass("on_check");
        // 获取父节点是否选中-2017-09-04-倪佳慧-修改
        
        if($(this).is('.on_check')){
        
         $("#smsGroup").show();
        	$("#publish-way").find(".checkboxSms").find(".radioclass").prop("checked", true);
          	$("#publish-way").find(".checkboxSms").find(".checkbox").addClass("on_check");
          	
          	$("#departFax").show();
        	$("#publish-fax").find(".checkboxFax").find(".radioclass").prop("checked", true);
          	$("#publish-fax").find(".checkboxFax").find(".checkbox").addClass("on_check");
        
        	 $(this).parent().find("input.radioclass").prop("checked","true");
	         refreshChannelBtns();
	         $('.textarea-wrapper').show();
        }else{
        	 $(this).parent().find("input.radioclass").removeAttr("checked");
        	 
        	 $("#smsGroup").hide();
        	$("#publish-way").find(".checkboxSms").find(".radioclass").prop("checked", false);
	        $("#publish-way").find(".checkboxSms").find(".checkbox").removeClass("on_check");
	        
	        $("#departFax").hide();
        	$("#publish-fax").find(".checkboxFax").find(".radioclass").prop("checked", false);
	        $("#publish-fax").find(".checkboxFax").find(".checkbox").removeClass("on_check");
        }
        
        var isChange = $(this).parent().find(".radioclass").prop("checked");
        
        if(isChange){ // 如果选中,则父节点下的所有的子节点都选中
          // 获取当前checkbox节点的兄弟节点下的所有的checkbox子节点选中
          var color = $('#typeColor option:selected').text();
          $(this).parents(".checkbox_bd").find(".checkbox_style").find(".radioclass").prop("checked", true);
          $(this).parents(".checkbox_bd").find(".checkbox_style").find(".checkbox").addClass("on_check");
          refreshChannelBtns();
        }else{ // 未选中，取消全选
          // 获取当前checkbox节点的兄弟节点下的所有的checkbox子节点选中
          $(this).parents(".checkbox_bd").find(".checkbox_style").find(".radioclass").removeAttr("checked");
          $(this).parents(".checkbox_bd").find(".checkbox_style").find(".checkbox").removeClass("on_check");
          refreshChannelBtns();
        }
        });
        
        //联合部门的选择
        $(".checkboxAllianceAll").on("click", function () {
   
        $(this).toggleClass("on_check");
        // 获取父节点是否选中-2017-09-04
        if($(this).is('.on_check')){
        	 $(this).parent().find("input.radioclass").prop("checked","true");
        }else{
        	 $(this).parent().find("input.radioclass").removeAttr("checked");
        }
        var isChange = $(this).parent().find(".radioclass").prop("checked");
        var dataId = $(this).attr("data-id");
		var type = $('#typeColor option:selected').val();
		var eventType = $('#type option:selected').text();
        if(isChange){ // 如果选中,则父节点下的所有的子节点都选中
          // 获取当前checkbox节点的兄弟节点下的所有的checkbox子节点选中
          $(this).parents(".checkbox_bd").find(".checkboxAlliance").find(".radioclass").prop("checked", true);
          $(this).parents(".checkbox_bd").find(".checkboxAlliance").find(".checkbox").addClass("on_check");
          if(dataId !=undefined){
              $('.checkbox[data-id="'+dataId+'"]').parents(".m-checkbox.checkboxAlliance").find(".radioclass").prop("checked", true);
              $('.checkbox[data-id="'+dataId+'"]').parents(".m-checkbox.checkboxAlliance").find(".checkbox").addClass("on_check");
              //$('.checkbox[data-id="'+dataId+'"]').trigger("click");
          }else{
        	  $(".checkboxAllianceAll").parents(".checkbox_bd").find(".radioclass").prop("checked", true);
              $(".checkboxAllianceAll").parents(".checkbox_bd").find(".checkbox").addClass("on_check");
              $(".checkboxAllianceAll").addClass("on_check");
              $('ul[name="countryUl"]').hide();
          }
          
            var depts = $('i[name=allianceDept1]');
    	    var appContent = "";
    	     appContent = "【"+"$!{departmentName}"+"】";
    	    for(var x=0;x<depts.length;x++) {
    	    	if(depts[x].getAttribute("class")=="checkbox on_check") {
    	    		var deptName = depts[x].getAttribute("data-id");
    	    		appContent += "【"+deptName+"】";
    	    	}
    	    }
    		appContent += $("#basic_example_1").val()+"联合发布"+ eventType +type+"预警信号：";
    		$("#limitWord").val(appContent);
        }else{ // 未选中，取消全选
          // 获取当前checkbox节点的兄弟节点下的所有的checkbox子节点选中
	          $(this).parents(".checkbox_bd").find(".checkboxAlliance").find(".radioclass").removeAttr("checked");
	          $(this).parents(".checkbox_bd").find(".checkboxAlliance").find(".checkbox").removeClass("on_check");
	          $('.checkbox[data-id="'+dataId+'"]').parents(".m-checkbox.checkboxAlliance").find(".radioclass").prop("checked", false);
	          $('.checkbox[data-id="'+dataId+'"]').parents(".m-checkbox.checkboxAlliance").find(".checkbox").removeClass("on_check");
	          if(dataId !=undefined){
	              $('.checkbox[data-id="'+dataId+'"]').parents(".m-checkbox.checkboxAlliance").find(".radioclass").prop("checked", false);
	              $('.checkbox[data-id="'+dataId+'"]').parents(".m-checkbox.checkboxAlliance").find(".checkbox").removeClass("on_check");
	          }else{
	        	  $(".checkboxAllianceAll").parents(".checkbox_bd").find(".radioclass").prop("checked", false);
	        	  $(".checkboxAllianceAll").parents(".checkbox_bd").find(".checkbox").removeClass("on_check");
                  $(".checkboxAllianceAll").removeClass("on_check");
                  $('ul[name="countryUl"]').hide();
	          }
	         var appContent = "$!{departmentName}" + $("#basic_example_1").val()+"发布"+ eventType + type+"预警信号：";
	         $("#limitWord").val(appContent);
        }
       
       
    })
        

    var color = $('#typeColor option:selected').text();
	selectColor(color);
    refreshChannelBtns();
    
    $(".textarea-wrapper").hide();

    $('.default-mode').click(function(){
        var $this = $(this);
        var $textarea = $this.parent().parent().siblings('textarea');
        if(this.checked){
            $textarea.prop('disabled', true);
            $textarea.addClass('gray');
        } else {
            $textarea.prop('disabled', false);
            $textarea.removeClass('gray');
        }
    });
});

function refreshChannelBtns(){

	
    var $showList = $('input[name="channelCheckBoxes"]:checked');
    var $allCheckboxes = $('input[name="channelCheckBoxes"]');
	var len = $('input[name="channelCheckBoxes"]').length
    var $btns = $('.channelContentBtnSel').hide().removeClass('channelContentSel-selected');
    $btns.hide();
    var $textAreas = $('.channelContentSel').hide(300);
    $(".textarea-wrapper").hide();
    $.each($showList, function(i,l){
        var $this =$(l);
        var index = $allCheckboxes.index($this);
        
		$btns.eq(index).show();
        
        
        
    });
    
     $(".channelContentBtnSel").click(function(){
        var $currentDom = $(this);
        
        $(".channelContentBtnSel").removeClass('channelContentSel-selected');
        var index = $(".channelContentBtnSel").index($currentDom);
        var $textArea = $(".channelContentSel").eq(index);
        var $divWrapper = $(".textarea-wrapper").eq(index);
        $(".channelContentSel").hide();
        $(".textarea-wrapper").hide();
        
        $divWrapper.show(50);
        $textArea.show(50);
        $currentDom.addClass('channelContentSel-selected');
        /*
        if($(".channelContentSel").eq(index).val()=='') {
            var contentText = "请输入公告内容";
            $(".channelContentSel").eq(index).val(contentText);
            $("#content").val($(".channelContentSel").eq(index).html());
        }
        */
    });
     var tx2 = $showList.length;
     if(tx2>0){
    	  var index = $allCheckboxes.index($showList.eq(0));
    	   $btns.eq(index).trigger("click");
    	   
    	  
    	  
    	  
     }
   
}


function selectColor(color){
	if(color=='蓝色'||color=='黄色'){
			
			// 获取当前checkbox节点的兄弟节点下的所有的checkbox子节点选中
          //$(".checkboxChannelAll").parents(".checkbox_bd").find(".checkbox_style").find(".radioclass").prop("checked", true);
          //$(".checkboxChannelAll").parents(".checkbox_bd").find(".checkbox_style").find(".checkbox").addClass("on_check");
		  refreshChannelBtns();
	}else if(color=='橙色'||color=='红色'){
			
			// 获取当前checkbox节点的兄弟节点下的所有的checkbox子节点选中
         // $(".checkboxChannelAll").parents(".checkbox_bd").find(".checkbox_style").find(".radioclass").prop("checked", true);
         // $(".checkboxChannelAll").parents(".checkbox_bd").find(".checkbox_style").find(".checkbox").addClass("on_check");
          refreshChannelBtns();
	}
	
}
 $('document').ready(function(){
	    ach();
	    $("#limitWord").trigger("keyup");
        refreshCheckBoxState();
        $('.checkbox_style input[type="checkbox"]').click(function(){
            refreshCheckBoxState();
        });
        
        $('.select-all-selector1').click(function(){
            var isChecked = $(this).prop('checked');
           
            var $checkboxWrapper = $('.choose_area');
            $checkboxWrapper.find('.checkbox_style input[type="checkbox"]').prop('checked', isChecked);
            refreshCheckBoxState();
        });
        $('textArea.channelContentSel').trigger("keyup"); 
});
    
    function refreshCheckBoxState() {
        $('.checkbox_style input[type="checkbox"]:checked').parent('div .checkbox_style').addClass('checkbox_styles');
        $('.checkbox_style input[type="checkbox"]:not(:checked)').parent('div .checkbox_style').removeClass('checkbox_styles');
    }
    function ach(){
    	$("#imgClick").click(function(){
            var imagePathT = $(this).attr("src");
            window.open(imagePathT);
        });
    	/*限制字数*/
        $("#limitWord").keyup(function(){
        var test = $("#limitWord").val();
        $('textArea.channelContentSel').each(function(){
        if($(this).attr('name')=="channel_subway"||$(this).attr('name')=="channel_traffic"){
        
        }else{
        $(this).val(test);
        }

       
        
        });
            var curLength=$("#limitWord").val().length;    
            if(curLength>=600){
                var num=$("#limitWord").val().substr(0,600);
                $("#limitWord").val(num);
                $("#textCount").text(0);
                //$(".channelContentSel").val(num);
            }
            else{
                $("#textCount").text(600-$("#limitWord").val().length);
                var num=$("#limitWord").val();
                //$(".channelContentSel").val(num);
            }
            $('textArea.channelContentSel').trigger("keyup"); 
        });
    }
    

    
    function cDayFunc(dp) {
    var date = dp.cal.getNewDateStr();
    $("#basic_example_1").val(date);
   
    freshen();
    }
    
    function freshen(){
    var eventType = $('#type option:selected').text();
	    var color = $('#typeColor option:selected').text();
	    var type = $('#typeColor option:selected').val();
	    
		//selectColor(color);
		
	    $("#alarmTypeName").val(eventType+color);
	    var Level = "";
	    for(var key in colorLevel){
	        if(key === color){
	            level = colorLevel[key];
	        }
	    }
	    
	    var text = "$!{departmentName}发布的"+eventType+color+"预警"+level;
	    $("#title").val(text);
	    var depts = $('i[name=allianceDept1]');
	    var appContent = "";
	    var deptCheck = $('i[name=allianceDept1][class=checkbox]');
	    if(deptCheck.length != $!{deptLength}) {
	     appContent = "【"+"$!{departmentName}"+"】";
	    for(var x=0;x<depts.length;x++) {
	    	if(depts[x].getAttribute("class")=="checkbox on_check") {
	    		var deptName = depts[x].getAttribute("data-id");
	    		appContent += "【"+deptName+"】";
	    	}
	    }
	     appContent += $("#basic_example_1").val()+"联合发布"+eventType+color+"预警信号：";
	     }else {
	     appContent += "$!{departmentName}"+$("#basic_example_1").val()+"发布"+eventType+color+"预警信号：";
	     }
        $("#limitWord").val(appContent);
        $('.channelContentSel').val(appContent);
        
		
    
    }
    function FileUpload() {
    	var filepath = $("#file").val();
    	var extStart=filepath.lastIndexOf(".");
    	var ext=filepath.substring(extStart,filepath.length).toUpperCase();
    	if(ext!=".BMP"&&ext!=".PNG"&&ext!=".GIF"&&ext!=".JPG"&&ext!=".JPEG"){
    	layer.msg("图片限于bmp,png,gif,jpeg,jpg格式");
    	return false;
    		
    	}else{
    		$.ajaxFileUpload({
                url : '${base}/sev/alarm/uploadPage',// 用于文件上传的服务器端请求地址
                dataType : "json",
                secureuri : false,// 一般设置为false
                fileElementId : 'file',// 文件上传空间的id属性 
                error : function(data) {
                    alert("请选择文件上传");
                },
                success : function(data) {
                    $("#imagePath").val(data.data);
                    $(".m-text-textarea.dpi").empty();
                    var ddiv = "<img data-original='/upload/"+data.data+"' src='/upload/"+data.data+"' style ='height:99px;cursor:pointer;)'/>";
                    $(".m-text-textarea.dpi").append(ddiv);
                    var viewer = new Viewer(document.getElementById('upload_img'), {
                        url: 'data-original',
                        show: function (){
                            viewer.update();
                        }
                    });
                    ach();
                }
            });
    	}
    	
   }

</script>