<!DOCTYPE html>
<html>
    <head>
        <title>历史预警查询</title>
        <meta charset="UTF-8">
        #parse("commons/commonJs.vm")
        #parse("commons/commonCss.vm")
        #parse("commons/commonRes.vm")
         
        <!-- START 历史预警资源 -->
        <!-- 样式 -->
        <link rel="stylesheet" href="${base}/static/css/basic.css">
        <link rel="stylesheet" href="${base}/static/css/historyQuery.css">
        <!-- JS -->
        <script type="text/javascript" src="${base}/static/js/historyQuery.js"></script>
        <!-- END 历史预警资源 -->
         <style>
             body{
                 background: url(/static/images/bg_img.png) no-repeat;
                     background-size: 100% 100%;
             }
        </style>  
        <script type="text/javascript">
            
            
            // 搜索
            function contentSearch() {
                #*
                var type = $('#filter_type').val();
                $('#dg').datagrid('load', {
                    'type': type
                });
                *#
                
                var form = document.getElementById('search_form');
                var time1 = $('#startDate').val();
                var time2 = $('#endDate').val() ;
                
                var t1 = new Date(time1);   
                var t2 = new Date(time2);   
                if(time1 && time2 && t2<t1){// 结束时间小于开始时间
                    $.showWarning("开始时间不能大于结束时间");
                }else{
                    form.action = "../alarm/historyData";
                    form.target = "dataFrame";
                    form.submit();
                }
                
                $('#startDate').val(time1);
                $('#endDate').val(time2);
            }
            
            // 页面跳转
            function paginate(currentPage, pageSize){
                $('#currentPage').val(currentPage);
                $('#pageSize').val(pageSize);
                contentSearch();
            }
            
        </script>
        <style>
            #frameData{
                width:100%;
                height:100%;
            }
            option {
                background: rgba(0, 0, 0, 0.8);
                color: #FFF;
            }
        </style>
    </head>
    <body>
        <!--弹窗开始-->
        <div class="m-popup">
            <div class="popup_hd">
                <span>发布进度详情</span>
            </div>
            <div class="popup_bd">
                <div class="checkbox_bd">
                    <div class="m-checkbox">
                        <input name="range" type="checkbox" class="radioclass" value="需要发送">
                        <i class="checkbox on_check"></i>
                        <span>需要发送</span>
                    </div>
                    <div class="m-checkbox">
                        <input name="range" type="checkbox" class="radioclass" value="已递交">
                        <i class="checkbox"></i>
                        <span>已递交</span>
                    </div>
                    <div class="m-checkbox">
                        <input name="range" type="checkbox" class="radioclass" value="已发出">
                        <i class="checkbox"></i>
                        <span>已发出</span>
                    </div>
                    <div class="m-checkbox">
                        <input name="range" type="checkbox" class="radioclass" value="已确认">
                        <i class="checkbox"></i>
                        <span>已确认</span>
                    </div>
                    <div class="m-checkbox">
                        <input name="range" type="checkbox" class="radioclass" value="已完成">
                        <i class="checkbox"></i>
                        <span>已完成</span>
                    </div>
                    <div class="m-checkbox">
                        <input name="range" type="checkbox" class="radioclass" value="出错">
                        <i class="checkbox"></i>
                        <span>出错</span>
                    </div>
                    <div class="m-checkbox">
                        <input name="range" type="checkbox" class="radioclass" value="完成">
                        <i class="checkbox"></i>
                        <span>完成</span>
                    </div>
                </div>
                <!--标题-->
                <h3>突发事件信息表</h3>
    
                <!--highchart表-->
                <div id ="information"></div>
                <ul>
                    <li>
                        <button class="abandon">取消</button>
                    </li>
                    <li>
                        <button class="m-event-button">确定</button>
                    </li>
                </ul>
            </div>
        </div>
        <!--弹窗结束-->
    
        <div class="g-bd-cont">
            <!-- 查询条件栏开始 -->
            <div class="m-tool">
                <form action="../alarm/historyQuery" method="post" id="search_form" name="search_form">
                    <input type="hidden" id="currentPage" name="page" value="$!{currentPage}"/>
                    <input type="hidden" id="pageSize" name="rows" value="$!{pageSize}"/>
                    <ul>
                       #*  <li>上报单位：</li>
                        <li>
                           <select name="searchCondition['deptId']">
                            <select name="deptId">
                                <option value="">不限制</option>
                                #foreach($dept in $depts)
                                    <option value="$!{dept.id}">$!{dept.name}</option>
                                #end
                            </select>
                        </li>
                        *#
                        <li>事件状态</li>
                        <li>
                            #*<select name="searchCondition['pubState']">*#
                            <select name="pubState">
                                <option value="">不限制</option>
                                #foreach($pubState in $pubStates)
                                    <option value="$!{pubState.value}">$!{pubState.content}</option>
                                #end
                            </select>
                        </li>
                        #*<li>开始时间</li>*#
                        <li>发布时间 </li>
                        <li>
                            #*<input class="inputTimepick m-text-input" type="text" name="searchCondition['startDate']" id="startDate" value="">*#
                            <input class="inputTimepick m-text-input" type="text" name="startDate" id="startDate" value="">
                        </li>
                        <li>至</li>
                        <li>
                            #*<input class="inputTimepick m-text-input" type="text" name="searchCondition['endDate']" id="endDate" value="">*#
                            <input class="inputTimepick m-text-input" type="text" name="endDate" id="endDate" value="">
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="contentSearch()">搜索</a>
                        </li>
                    </ul>
                </form>
            </div>
            <!-- 查询条件栏结束 -->
            
            <!-- START 数据列表 -->
            <iframe id="frameData" name="dataFrame" src="../alarm/historyExternalData" scrolling="no" border="0" frameborder="no"  allowTransparency="true" ></iframe>
            <!-- END 数据列表 -->
        </div>
    </body>
</html>
