<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="author" content="movinginfo"/>
	<title>通州公共突发事件预警发布平台-预警发布中心-首页</title>
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/home.css">
	<link rel="stylesheet" href="/static/js/datepicker/css/jqueryui.min.css">
    <link rel="stylesheet" href="/static/js/datepicker/css/jquery-ui-timepicker-addon.css">
    <link rel="stylesheet" href="/static/js/datepicker/css/timepick.css">
</head>
<body>
    <!--左边开始-->
    <div class="g-bd-left m-hm-left">
        <!-- 分类统计 -->
        <div class="m-hm-cont">
            <div class="g-bd-tit">
                <span>预警信息分类统计</span>
            </div>
            <div class="m-hm-list">
                <div class="m-hm-tit tit_vertical">
                    <span>自然灾害</span>
                </div>
                <div class="m-hm-listbox">
                    <ul>
                        <li>本年发布<span class="listbox_right">${eventYear1}</span></li>
                        <li>本周发布<span class="listbox_right">${eventWeek1}</span></li>
                        <li>本月发布<span class="listbox_right">${eventMonth1}</span></li>
                    </ul>
                </div>
            </div>
            <div class="m-hm-list">
                <div class="m-hm-tit tit_vertical">
                    <span>事故灾难</span>
                </div>
                <div class="m-hm-listbox">
                    <ul>
                        <li>本年发布<span class="listbox_right">${eventYear2}</span></li>
                        <li>本周发布<span class="listbox_right">${eventWeek2}</span></li>
                        <li>本月发布<span class="listbox_right">${eventMonth2}</span></li>
                    </ul>
                </div>
            </div>
            <div class="m-hm-list">
                <div class="m-hm-tit tit_vertical">
                    <span>公共卫生</span>
                </div>
                <div class="m-hm-listbox">
                    <ul>
                        <li>本年发布<span class="listbox_right">${eventYear3}</span></li>
                        <li>本周发布<span class="listbox_right">${eventWeek3}</span></li>
                        <li>本月发布<span class="listbox_right">${eventMonth3}</span></li>
                    </ul>
                </div>
            </div>
            <div class="m-hm-list">
                <div class="m-hm-tit tit_vertical">
                    <span>安全事件</span>
                </div>
                <div class="m-hm-listbox">
                    <ul>
                        <li>本年发布<span class="listbox_right">${eventYear4}</span></li>
                        <li>本周发布<span class="listbox_right">${eventWeek4}</span></li>
                        <li>本月发布<span class="listbox_right">${eventMonth4}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 分类统计 -->
        <!-- 分级 -->
        <div class="m-hm-cont">
            <div class="g-bd-tit">
                <span>预警信息分级统计</span>
            </div>
            <table class="m-table">
                <thead>
                    <tr>
                        <td class="m-bias"></td>
                        <td>本周</td>
                        <td>本月</td>
                        <td>本年</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="color-red">红色</td>
                        <td>${week4}</td>
                        <td>${month4}</td>
                        <td>${year4}</td>                       
                    </tr>
                    <tr>
                        <td class="color-orange">橙色</td>
                        <td>${week3}</td>
                        <td>${month3}</td>
                        <td>${year3}</td>
                    </tr>
                    <tr>
                        <td class="color-yellow">黄色</td>
                        <td>${week2}</td>
                        <td>${month2}</td>
                        <td>${year2}</td>
                    </tr>
                    <tr>
                        <td class="color-blue">蓝色</td>
                        <td>${week1}</td>
                        <td>${month1}</td>
                        <td>${year1}</td>
                    </tr>
                    <tr>
                        <td>合计</td>
                        <td>${week}</td>
                        <td>${month}</td>
                        <td>${year}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- 分级 -->
    </div>
    <!--左边结束-->

    <!--左边开始-->
    <div class="g-bd-right m-hm-right">
        <div class="m-hm-cont">
            <div class="g-bd-tit">
                <span>预警信息分布</span>
            </div>
            <div class="m-tool">
                <ul>
                    <li>
                        <label>年份选择</label>
                        <select id="calendar_year">
                            <option>2017</option>
                            <option>2016</option>
                        </select>
                    </li>
                    <li>
                        <label>类型选择</label>
                        <select id="type">
                            <option value="0">全部</option>
                            <option value="1">自然灾害</option>
                            <option value="78">事故灾难</option>
                            <option value="220">公共卫生</option>
                            <option value="266">安全事件</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="m-calendar">
                <table class="m-table">
                    <thead>
                        <tr>
                            <td><div class="head"></div></td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                            <td>13</td>
                            <td>14</td>
                            <td>15</td>
                            <td>16</td>
                            <td>17</td>
                            <td>18</td>
                            <td>19</td>
                            <td>20</td>
                            <td>21</td>
                            <td>22</td>
                            <td>23</td>
                            <td>24</td>
                            <td>25</td>
                            <td>26</td>
                            <td>27</td>
                            <td>28</td>
                            <td>29</td>
                            <td>30</td>
                            <td>31</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="m-hm-cont clearfix">
            <div class="g-bd-tit">
                <span>预警信息详细内容</span>
            </div>
            <div class="m-hm-listbox listbox_overflow" id="yjDeatil">
           
            </div>
        </div>
    </div>
    <!--左边结束-->
    <!--js开始-->
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/home.js"></script>
    <!--js开始-->
</body>
</html>