<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="movinginfo"/>
    <title>通州公共突发事件预警发布平台-发布责任单位-审核页面</title>
    <link rel="stylesheet" href="/static/css/basic.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/publishApplication.css">
    <script type="text/javascript">
    
       function info(id){
            $.ajax({
                type:"POST",
                url:'${base}/sev/check/getCheck',
                data:"id="+id,
                dataType:"JSON",
                success:function(data){
                    var pubState = data.pubState;
                    var pubNo = data.pubNo;
                    var version = data.version;
                    $("#iDiv").empty();
                    $("#pDiv").empty();
                    if(pubState == 0){
                        $("#iDiv").append("<dl><dd class='finish'><i></i></dd></dl>");
                        $("#pDiv").append("<p><span>"+"发布申请"+"</span>"+"<span>"+"发布中心审核"+"</span>"+"<span>"+"发布平台执行"+"</span>"+"<span>"+"发布完成"+"</span></p>");
                        
                    }else if(pubState == 7){
                        $("#iDiv").append("<dl><dd class='finish'><i></i></dd></dl>");
                        $("#pDiv").append("<p><span>"+"审核解除申请"+"</span>"+"<span>"+"发布中心审核"+"</span>"+"<span>"+"发布平台执行"+"</span>"+"<span>"+"发布完成"+"</span></p>");
                        
                    }else if(pubState == 2){
                        $("#iDiv").append("<dl><dd><i></i></dd></dl><dl><dd class='alert'><i></i></dd></dl>");
                        $("#pDiv").append("<p><span>"+"发布申请"+"</span>"+"<span>"+"发布中心审核退回"+"</span>"+"<span>"+"发布平台执行"+"</span>"+"<span>"+"发布完成"+"</span></p>");
                            
                    }else if(pubState == 4){
                        $("#iDiv").append("<dl><dd><i></i></dd></dl><dl><dd></dd></dl><dl><dd class='alert'><i></i></dd></dl>");
                        $("#pDiv").append("<p><span>"+"申请发布"+"</span>"+"<span>"+"发布中心待审核"+"</span>"+"<span>"+"发布平台退回:上报格式错误"+"</span>"+"<span>"+"发布完成"+"</span></p>");
                            
                    }else if(pubState == 11){
                        $("#iDiv").append("<dl><dd><i></i></dd></dl><dl><dd></dd></dl><dl><dd class='alert'><i></i></dd></dl>");
                        $("#pDiv").append("<p><span>"+"申请发布"+"</span>"+"<span>"+"发布中心待审核"+"</span>"+"<span>"+"发布平台退回:上报格式错误"+"</span>"+"<span>"+"发布完成"+"</span></p>");
                            
                    }else if(pubState == 9){
                        $("#iDiv").append("<dl><dd><i></i></dd></dl><dl><dd class='alert'><i></i></dd></dl>");
                        $("#pDiv").append("<p><span>"+"审核解除申请"+"</span>"+"<span>"+"发布中心审核退回"+"</span>"+"<span>"+"发布平台执行"+"</span>"+"<span>"+"发布完成"+"</span></p>");
                    
                    }else if(pubState == 5){
                        $("#iDiv").append("<dl><dd><i></i></dd></dl><dl><dd><i></i></dd></dl> <dl><dd><i></i></dd></dl><dl><dd class='finish'><i></i></dd></dl>");
                        $("#pDiv").append("<p><span>"+"发布申请"+"</span>"+"<span>"+"发布中心审核通过"+"</span>"+"<span>"+"发布平台执行"+"</span>"+"<span>"+"发布完成"+"</span></p>");
                    
                    }else if(pubState == 12){
                        $("#iDiv").append("<dl><dd><i></i></dd></dl><dl><dd><i></i></dd></dl><dl><dd><i></i></dd></dl><dl><dd><i></i></dd></dl>");
                        $("#pDiv").append("<p><span>"+"提交申请"+"</span>"+"<span>"+"发布中心审核通过"+"</span>"+"<span>"+"发布平台执行"+"</span>"+"<span>"+"发布完成"+"</span></p>");
                    }
                    getInfo(pubNo,version);
                    
                    /*2017-09-06-倪佳慧-头侧时间轴，在文字和点出现后再出现*/
                    $("#ttDiv").css("display","block");
                    headTime();
                },
                error:function(data){
                    alert("错误！");
                }
            });
            
       }
       /*2017-09-06-倪佳慧-头侧时间轴*/
       function headTime(){
            var eventWidth= $(".m-event").width()-10;    
            $(" #ttDiv .m-event-schedule").width(eventWidth );
                    $("#ttDiv .m-timeAxis-bg dl").width((eventWidth ) / 4);
                    $("#pDiv.m-event-explain p span").width(eventWidth / 4 );                   
                    $("#ttDiv .m-timeAxis-con dl").width((eventWidth) / 4 );
                        $("#ttDiv .m-event-schedule").find(".m-timeAxis-con").each(function(i){
                            if($(this).find("dd").hasClass("alert")){
                                var _index = $(this).find("dd.alert").parent().index();
                                var conDlWidth = ($(this).find("dd.alert").parent().width() - 29) / 2;
                                $(this).find("dd.alert").parent().width($(this).find("dd.alert").parent().width() / 2 + 10);
                                var timeAxisWidth = eventWidth / 4 * (_index + 1) - conDlWidth;
                                // $(this).width(timeAxisWidth);
                                /*红点下面的文字也为红色*/
                                $(this).parents(".m-event-timeAxis").next(".m-event-explain").find("span").eq(_index).css("color","#ff4747");
                                /*判断红字是否换行，如果换行就加上一定的高度*/
                                if($(this).parents(".m-event-timeAxis").next(".m-event-explain").find("span").eq(_index).height() > 22){
                                    $(this).parents(".m-event-timeAxis").next(".m-event-explain").find("span").eq(_index).css("position","relative");
                                    $(this).parents(".m-event-timeAxis").next(".m-event-explain").find("span").eq(_index).css("top","11px");
                                }
                            }else if($(this).find("dd").hasClass("finish")){
                                var _index = $(this).find("dd.finish").parent().index();
                                var conDlWidth = ($(this).find("dd.finish").parent().width() - 29) / 2;
                                $(this).find("dd.finish").parent().width($(this).find("dd.finish").parent().width() / 2 + 10);
                                var timeAxisWidth = eventWidth / 4 * (_index + 1) - conDlWidth;
                                // $(this).width(timeAxisWidth);
                                /*判断完成的说明是否换行，如果换行就加上一定的高度*/
                                if($(this).parents(".m-event-timeAxis").next(".m-event-explain").find("span").eq(_index).height() > 22){
                                    $(this).parents(".m-event-timeAxis").next(".m-event-explain").find("span").eq(_index).css("position","relative");
                                    $(this).parents(".m-event-timeAxis").next(".m-event-explain").find("span").eq(_index).css("top","11px");
                                }
                            }
                        });
       }
       function getInfo(pubNo,version){
            $.ajax({
                async : false,
                type : "POST",
                url : "${base}/sev/alarm/getText",
                data : {pubNo:pubNo,version:version},
                dataType : "json",
                success : function(d) {
                    var text ="";
                   for(var i=0;i<d.data.length;i++){
                        var dataList = d.data[i];
                        var state ="";
                        var resultDate = "";
						var feedback = "";
                        if(dataList.releaseState =="0" || typeof(dataList.releaseState )=="undefined"){
                            state ="未递交";
                            resultDate = "0%";
                        }else if(dataList.releaseState =="1"){
                            state ="递交中";
                            resultDate = "0%";
                        }else if(dataList.releaseState =="2"){
                            state ="递交完成";
                            resultDate = "80%";
                        }else if(dataList.releaseState =="3"){
                            state ="递交失败";
                            resultDate = "0%";
                        }else if(dataList.releaseState =="4"){
        		        	state ="反馈完成";
        			        resultDate = "100%";
        			        feedback = "<a href='/sev/publish/query?instanceId="+dataList.id+"' target='_blank'>详情</a>";
        		        }
                        var txt1 = dataList.content;
                        if(txt1.length>30){
                            txt1 = txt1.substring(0,30)+"...";
                        }
                        if(i%2==0){
                            text += " <tr class=\"co1\"><td>"+dataList.channel+"</td><td title='"+dataList.content+"'>"+txt1+"</td>"
                                 + "<td>"+state+feedback+"</td><td>"+resultDate+"</td><td><a class=\"details\"></a></td></tr>";
                        }else{
                            text += " <tr><td>"+dataList.channel+"</td><td>"+dataList.content+"</td>"
                            + "<td>"+state+feedback+"</td><td>"+resultDate+"</td><td><a class=\"details\"></a></td></tr>";
                        }
                     }
                   $("#detail").html(text);
                }
                   
            });
       }
       
    </script>
    <style>
        #ttDiv{
            display:none;
        }
        .l77{
            left:-77px;
        }
        .g-bd-right{
        	height:100% !important;
        }
    </style>
</head>
<body>
    <!--时间轴开始-->
    <div id="ttDiv" class="m-event mb10">
        <ul class="m-event-schedule">
                <li class="m-event-timeAxis">
                    <!--事件进度时间轴底部开始-->
                    <div class="m-timeAxis-bg">
                        <dl>
                            <dd></dd>
                        </dl>
                        <dl>
                            <dd></dd>
                        </dl>
                        <dl>
                            <dd></dd>
                        </dl>
                        <dl>
                            <dd></dd>
                        </dl>
                    </div>
                    <!--事件进度时间轴底部结束-->
                    <!--事件进度时间轴进度开始-->
                    <div id="iDiv" class="m-timeAxis-con">
                    </div>
                    <!--事件进度时间轴进度结束-->
                </li> 
                 <!--事件进度说明开始-->
                <li id="pDiv" class="m-event-explain">
                </li>
                <!--事件进度说明结束-->
        </ul>   
    </div>                          
    <!--时间轴结束-->
    

 <!--左边开始-->
<div class="g-bd-right fl">

    <!--代办开始-->
    <div class="g-bd-right-modular">
        <!--标题开始-->
        <div class="g-bd-tit">
          #if($!deptName =="yjb")
                  <span>待审核信息，共$listDisaster.size()条</span>
          #else
           <span>待办信息（$listDisaster.size()）</span>
          #end
            
        </div>
        <!--标题结束-->

        #foreach($la in $!{listDisaster})
        <!--待办内容开始-->
        <div class="g-bd-right-cont">
            <!--事件说明开始-->
            <div class="m-event left-event">
                <!--事件名称及时间开始-->
                <p><span class="m-event-tit">$!la.title</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="m-event-time">$!date.format('yyyy/MM/dd HH:mm:ss ',$!{la.pubDate})</span></p>
                <!--事件名称及时间开始-->

                <!--事件1进度开始-->
                <div class="m-event-schedule left-event-schedule">
                    <!--审核开始-->
                    #if($!deptName =="")
                    
                    <button onclick="window.location.href='/dd/disaCheck/doCheck?id=$!la.id';" class="m-event-button">审核</button>
                    #end
                    <!--审核结束-->
                    <!--详情开始-->
                    
                   
                    <!--详情结束-->
                   #* <ul>
                        <!--事件进度时间开始-->
                        <li class="m-event-schedule left-event-explain">
                         #if($!la.pubState == "0")
                                <p><span>$!date.format('yyyy/MM/dd HH:mm:ss ',$!{la.pubDate})</span><span></span><span></span></p>
                         #elseif($!la.pubState == "4")
                                <p><span>$!date.format('yyyy/MM/dd HH:mm:ss ',$!{la.pubDate})</span><span>$!date.format('yyyy/MM/dd HH:mm:ss ',$!{la.auditDate})</span><span>$!date.format('yyyy/MM/dd HH:mm:ss ',$!{la.releaseDate})</span></p>
                         #end
                            
                        </li>
                        <!--事件进度时间结束-->
                        <!--事件进度时间轴开始-->
                        <li class="m-event-timeAxis left-event-timeAxis">
                            <!--事件进度时间轴底部开始-->
                            <div class="m-timeAxis-bg left-timeAxis-bg">
                                <dl>
                                    <dd></dd>
                                </dl>
                                <dl>
                                    <dd></dd>
                                </dl>
                                <dl>
                                    <dd></dd>
                                </dl>
                                
                            </div>
                            <!--事件进度时间轴底部结束-->
                            <!--事件进度时间轴进度开始-->
                            <div class="m-timeAxis-con left-timeAxis-con">
                                
                                 #if($!la.pubState == "0")
                                    <dl><dd class="finish"><i></i></dd></dl>
                                    
                                                          
                                 #end      
                            </div>
                        <!--事件进度时间轴进度结束-->
                        </li>
                        <!--事件进度时间轴结束-->
                        <!--事件进度说明开始-->
                        <li class="m-event-explain left-event-explain">
                            #if($!la.pubState == "0")
                               <p><span>申请发布</span><span>发布中心审核</span><span>发布完成</span></p>
                                             
                             #end      
                       
                        </li>
                        <!--事件进度说明开始-->
                    </ul>*#
                </div>
                <!--事件1进度结束-->
            </div>
            <!--事件说明开始-->
        </div>
        <!--待办内容结束-->
    #end
    </div>
    <!--待办结束-->
      
      <!--3审核通过-->
            <div class="g-bd-right-modular">
                <!--标题开始-->
                <div class="g-bd-tit">
                     #if($!deptName =="yjb")
                        <span>审核通过，共$listNowAlarm.size()条</span>
			          #else
			           <span>审核通过</span>
			          #end
                </div>
                <!--标题结束-->
                 #foreach($la in $!{listNowDisaster})
                        <!--内容开始-->
                        <div class="g-bd-right-cont">
                            <!--事件说明开始-->
                            <div class="m-event left-event">
                                <!--事件名称及时间开始-->
                                <p><span class="m-event-tit">$!la.title</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="m-event-time"> $!date.format('yyyy/MM/dd HH:mm:ss ',$!{la.pubDate})</span></p>
                                <!--事件名称及时间开始-->
                                <!--事件1进度开始-->
                                <div class="m-event-schedule ">
                                    <!--详情开始-->
                                    #*<button onclick="info($!{la.id})" class="m-event-button">详情</button>*#
                                    <!--详情结束-->
                                    <ul>
                                        <!--事件进度时间开始-->
                                        <li class="m-event-schedule left-event-explain">
                                            <p>
                                                     <span> $!date.format('yyyy/MM/dd HH:mm:ss ',$!{la.pubDate})</span>
                                                     <span>$!date.format('yyyy/MM/dd HH:mm:ss ',$!{la.auditDate})</span>
                                                     <span>$!date.format('yyyy/MM/dd HH:mm:ss ',$!{la.completeDate})</span>
                                            </p>
                                        </li>
                                        <!--事件进度时间结束-->
                                        <!--事件进度时间轴开始-->
                                        <li class="m-event-timeAxis left-event-timeAxis">
                                            <!--事件进度时间轴底部开始-->
                                            <div class="m-timeAxis-bg left-timeAxis-bg">
                                                    <dl>
                                                        <dd></dd>
                                                    </dl>
                                                    <dl>
                                                        <dd></dd>
                                                    </dl>
                                                    <dl>
                                                        <dd></dd>
                                                    </dl>
                                                    
                                            </div>
                                            <!--事件进度时间轴底部结束-->
                                            <!--事件进度时间轴进度开始-->
                                            <div class="m-timeAxis-con left-timeAxis-con">
                                                <dl>
                                                    <dd><i></i></dd>
                                                </dl>
                                                <dl>
                                                    <dd><i></i></dd>
                                                </dl>
                                                <dl>
                                                    <dd><i></i></dd>
                                                </dl>
                                                <dl>
                                                     <dd><i></i></dd>
                                                </dl>
                                            </div>
                                            <!--事件进度时间轴进度结束-->
                                        </li>
                                        <!--事件进度时间轴结束-->
        
                                        <!--事件进度说明开始-->
                                        <li class="m-event-explain left-event-explain">
                                            <p>
                                                <span>申请发布</span>
                                                <span>发布中心审核</span>
                                                <span>发布完成</span>
                                            </p>
                                        </li>
                                        <!--事件进度说明开始-->
                                    </ul>
                                </div>
                                <!--事件1进度结束-->
                            </div>
                            <!--事件说明开始-->
                        </div>
                        <!--内容开始-->
               #end
            </div>
            <!--3正在结束-->
      
      
            
</div>
    <!--代办结束-->
         <!--右边开始-->
         
            #*<div class="g-bd-right"> 
            <!--渠道总汇开始-->       
            <div class="g-bd-right-modular h100">
                <!--标题开始-->
                <div class="g-bd-tit">
                    <span>渠道汇总</span>
                </div>
                <!--标题结束-->
                <!--表格-->
                <div class="m-table">
                    <table>
                        <thead>
                            <tr>
                                <td>渠道</td>
                                <td class="message">信息</td>
                              <!--   <td>时间</td>  -->
                                <td>状态</td>
                                <td>进度</td>
                                
                            </tr>
                        </thead>
                        <tbody id="detail">
                        </tbody>
                    </table>
                </div>
            </div>
            <!--渠道总汇开始-->   
        </div>*#
         

    <!--右边结束-->
    <!--js开始-->
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/publishApplicationCenter.js"></script>

    <script type="text/javascript" src="/static/js/highcharts.js"></script>

    <!--js开始-->
</body>
</html>