@media screen and (max-width: 1400px){
	.g-bd{
		height: calc(100% - 50px);
	}
	.g-hd .m-hd{
		height: 50px;
		line-height: 50px;
	}
	.g-hd .m-notes{
		margin-top: 7px;
		line-height: 50px;
		font-size: 16px;
	}
	.g-hd .m-notes span{
		font-size: 28px;
	}
	.g-hd h2{
		font-size: 22px;
	}
	.g-hd .m-hd i{
		height: 25px;
		width: 25px;
		top:13px;
	}
	.g-hd .m-hd li:nth-child(2){
		width: 360px;
		left: calc(50% - 180px);
	}
	.show_mess{
		width: 350px;
		height: 300px;
	}
	.channel_box li{
		height: 100px;
		width: 100px;
		background-size: 100% 100%;
		margin: 0 15px;
	}
	.channel_list{
		top:40px;
		height: 511px;
		width: 250px;
	}
	.channel_list td{
		line-height: 50px;
		height: 50px;
	}
	.channel_list .tab_hd{
		font-size: 18px;
	}
	.channel_list{
		font-size: 16px;
	}
	.channel_list .tab_hd span{
		top: 10px;
		line-height: 30px;
		height: 30px;
	}
	.channel_list i{
		top: 15px;
	}
	.channel_box{
		left: calc(50% - 550px);
    	width: calc(100% - 340px);
	}
	.channel_box li{
		font-size: 14px;
	}
	.m-volume .m-title{
		font-size: 18px;
	}
	.m-title{
		font-size: 18px;
		line-height: 60px;
	}
	.m-num{
		line-height: 60px;
		font-size: 38px;
	}
	.warn_content{
		padding: 10px 20px;
	}
	.warn_content img{
		width: 90px;
		margin-right: 10px;
	}
	.warn_content img+span{
		font-size: 16px;
	}
	.pub-sp{
		height: 46px;
    	padding: 5px 0;
	}
	.pub-sp span{
		display: inline-block;
		height: 30px;
		line-height: 30px;
		font-size: 16px;
	}
	.warn_content div.m-content{
		height: 30px;
		line-height: 30px;
	}
	.warn_content div.m-content.last{
		font-size: 16px;
		padding: 5px 10px;
		line-height: 20px;
	}
	.warn_list table tr{
		line-height: 50px;
		font-size: 18px;
	}
	.warn_list{
		height: calc(100% - 361px);
	}
	.table_tb{
		height: calc(100% - 50px);
	}
	.m-volume-chart{
		padding: 0 15px 10px 20px;
	}
	.m-chart-left{
		padding-top: 10px;
	}
	.m-volume-chart li{
		font-size: 18px;
		line-height: 42px;
	}
	.m-volume-chart ul{
		line-height: 25px;
		height: 25px;
	}
	.m-volume-chart li.right div{
		font-size: 30px; 
	}
	.m-volume-details {
	    height: calc(30% - 61px);
	}
	.m-volume-details table span{
		line-height: 20px;
		font-size: 14px;
	}
	.m-img-notes{
		font-size: 14px;
		line-height: 24px;
	}
	.feedback-img{
		height: calc(100% - 62px);
		padding: 15px 20px 15px 20px !important;
	}
	.warn_content{
	    height: 300px;
	}
}