.g-hd .m-hd{
    background: url(../images/fzjz_nav.png) 0 0 no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
}
.g-hd h2{
    -webkit-box-reflect: initial;
    text-shadow: none;
    font-size: 22px;
    float: left;
}
.g-hd .m-hd li:nth-child(2){
    width: auto;
    position: static;
    left: 0;
}
.g-nav{
    width: 22%;
}
.g-nav a{
    color:#fff;
    font-size: 14px;
    display: block;
    height: 32px;
    line-height: 32px;
    background:url("../images/nav_bk.png") 0 0 no-repeat;
    background-size: 100% 100%;
}
.g-nav a em{
    display: inline-table;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    background-position:  0 0;
    background-repeat: no-repeat;
    position: relative;
    top: 5px;
    left:-3px;
}

/*顶部菜单的图标*/
.g-nav a.Live_monitoring em{
    background-image: url("../images/icon/Live_monitoring.png");
}
.g-nav a.Forecast_warning em{
    background-image: url("../images/icon/Forecast_warning.png");
}
.g-nav a.Disaster_information em{
    background-image: url("../images/disaster_icon.png");
}
.g-nav a.Emergency_assistance em{
    background-image: url("../images/emergency_icon.png");
}
.g-nav a.Back_management em{
    background-image: url("../images/wisdom_icon.png");
}


.g-nav table{
    position: relative;
    top: 20px;
}
.g-nav table td{
    border:none;
    border-right: 10px solid transparent;
}
.g-nav table td:last-child{
    border-right: none;
}
.GiBaseLayerSwitcher{
    width: 100px !important;
    height: 100px !important;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 4px 28px 2px rgba(9,156,202,0.68) !important;
}
.GiBaseLayerSwitcher .olButton{
    height: 100% !important;
    width: 100% !important;
    background-size: 100% 100% !important;
    position: relative;
    border-radius: 50%;
    font-size: 20px;
    line-height: 100px !important;
    padding: 0 !important;
}
.olControlZoom{
   background: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
    width: 0 !important;
}
.olControlZoom a{
    background: rgba(11,62,98,0.8);
    position: absolute;
    width: 26px !important;
    height: 26px !important;
    border-radius: 50% !important;
    line-height: 24px !important;
    box-shadow: 0 0 12px 0px rgba(9,156,202,0.67);
    border: 0 !important;
    color: #fff !important;
}
.map-shaw{
    opacity: 0.4;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
}
.fzd_num{
    position: absolute;
    top: 12px;
    left: 34px;
    color: #fff;
}
.fzd-num-save{
    position: absolute;
    top: 24px;
    left: 30px;
    width: 125px;
    height: 40px;
    color: #fff;
    background-size: 100% 100%;
    line-height: 40px;
    padding-left: 27px;
    font-size: 12px;
}
.m-nav>ul.fzjz-save>ul>li{
	height:auto;
}
.m-manage{
	position:fixed;
	top:20px;
	right:20px;
}
.m-manage a{
	background:none;
	width:auto!important;
}
/*菜单样式*/
.m-nav ul ul li{
	box-sizing:border-box;
}

.m-nav ul ul li>div{
	position:relative;
	height:36px;
	line-height:36px;
	border: 1px solid #1a73b6;
}
.m-nav ul ul li>div:hover,.m-nav ul ul li.z-on>div{
	background-color: #1a73b6;
}
.m-nav ul ul li ul.menu_sanji li{
	border:none;
	height:36px;
	line-height:36px;
}
.m-nav ul ul li>div>i.afterI{
	display:inline-block;
	width:10px;
	height:8px;
	background:url(../images/down.png) 0 0 no-repeat;
	background-size:100% 100%;
	position:absolute;
	right:10px;
	top:14px;	
}
.menu_sanji{
	display:none;
}
.menu_sanji>li{
	color:rgba(255,255,255,0.68);
}
.m-nav ul ul li.on>div.erjiChecked i.prevI{
	display:inline-block;
	width:8px;
	height:8px;
	background:url(../images/checked_icon.png) 0 0 no-repeat;
	position:absolute;
	left:20px;
	top:14px;
}
.m-nav ul ul li.on>div.erjiChecked{
	background: -webkit-linear-gradient(left,#064058,#0a4765,#1e719e,#0a4765,#064058);
    background: -moz-linear-gradient(left,#064058,#0a4765,#1e719e,#0a4765,#064058);
    background: -o-linear-gradient(left,#064058,#0a4765,#1e719e,#0a4765,#064058);
    background: linear-gradient(left,#064058,#0a4765,#1e719e,#0a4765,#064058);
}
.m-nav ul ul li.on>div.erjiChecked>span{
	text-shadow: 0 0 12px #099cca;
}
.menu_sanji>li{
	position:relative;
}
.menu_sanji>li.on{
	color:rgba(255,255,255);
	text-shadow: 0 0 12px #099cca;
	
}
.menu_sanji>li.on i{
	display:inline-block;
	width:14px;
	height:18px;
	background:url(../images/threeChecked.png) 0 0 no-repeat;
	position:absolute;
	left:0;
	top:9px;
	
}
.menu_sanji>li:hover{
	background:#1a73b6;
}
ul.meau_erji {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}
.m-tool-box>ul>li.on{
	width:calc(100% - 210px)!important;
}
.popup-lightning{
	display:none;
	width:260px;
	height:100px;
	position:fixed;
	right:20px;
	bottom:70px;
	background: -webkit-linear-gradient(top,rgba(2,51,90,0.8),rgba(21,87,137,0.8));
    background: -moz-linear-gradient(top,rgba(2,51,90,0.8),rgba(21,87,137,0.8));
    background: -o-linear-gradient(top,rgba(2,51,90,0.8),rgba(21,87,137,0.8));
    background: linear-gradient(top,rgba(2,51,90,0.8),rgba(21,87,137,0.8));
    z-index:1006;
    color:#fff;
    padding:10px;
    box-sizing:border-box;
    border-radius:5px;
}
.lightning-title{
	text-align:center;
	font-size:14px;
	height:30px;
	line-height:30px;
}
.popup-lightning ul li{
	padding:5px 0;
}
.lightning-img{
	width:15px;
	height:15px;
	margin-left:55px;
}
.m-prev,.m-paly,.m-next{
	cursor:pointer;
}