a:-webkit-any-link {
    text-decoration: none;
}

div.olMap {
    z-index: 0;
    padding: 0 !important;
    margin: 0 !important;
    cursor: default;
}

.olMapViewport {
    text-align: left;
    -ms-touch-action: none;
    z-index: 0;
}

.olLayerDiv {
    -moz-user-select: none;
    -khtml-user-select: none;
}

.olAlphaImg {
    vertical-align: top;
}


/* 控制器 */

.olControlNoSelect {
    -moz-user-select: none;
    -khtml-user-select: none;
}

.olImageLoadError {
    background-color: pink;
    opacity: 0.5;
    filter: alpha(opacity=50);
}


/**
 * Cursor styles
 */

.olCursorWait {
    cursor: wait;
}
.olDragDown{
   cursor:move; 
}
/*禁止右键按下出现可拖拽手势*/
.olMap .olDragDown { 
    cursor: default!important;
}

.olDrawBox {
    cursor: crosshair;
}

.olControlDragFeatureOver {
    cursor: move;
}

.olControlDragFeatureActive.olControlDragFeatureOver.olDragDown {
    cursor: -moz-grabbing;
}


/**
 * Animations
 */

.olLayerGrid .olTileImage {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}


/* Turn on GPU support where available */

.olTileImage {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}


/* when replacing tiles, do not show tile and backbuffer at the same time */

.olTileReplacing {
    display: none;
}


/* override any max-width image settings (e.g. bootstrap.css) */

img.olTileImage {
    max-width: none;
}


/*地图切换*/

.GiBaseLayerSwitcher {
    padding: 3px;
    /*width:75px;
    height:75px;*/
    width: 50px;
    height: 50px;
    background: white;
    *border: 1px solid #666;
    border: 1px solid #666\9 \0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.GiBaseLayerSwitcher .olButton {
    display: none;
    width: 100%;
    height: 30px;
    line-height: 36px;
    padding-top: 20px;
    cursor: pointer;
    color: #0E0A0A;
}

.GiBaseLayerSwitcher .olButton-next {
    display: block;
}


/* 地形图*/

.GiBaseLayerSwitcher .olButton-terrain {
    background: url(../images/2.png);
}


/* 交通图*/

.GiBaseLayerSwitcher .olButton-traffic {
    background: url(../images/3.png);
}


/* 卫星图*/

.GiBaseLayerSwitcher .olButton-satellite {
    background: url(../images/1.png);
}


/*白版图*/

.GiBaseLayerSwitcher .olButton-board {
    background: url(../images/4.png);
}


/* 海洋+船舶图*/

.GiBaseLayerSwitcher .olButton-sea {
    background: url(../images/5.png);
}

/* 鼠标经纬度 */
.olControlMousePosition  {  
    background: #FFF;
    border: 1px solid #666\9\0;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);    
    padding:3px 10px;
    font-size:12px;
} 
/* 缩放 */

.olControlZoom {
    background: white;
    *border: 1px solid #666;
    border: 1px solid #666\9 \0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    top: 130px;
    border-radius: 0;
    padding: 5px 0;
}

.olControlZoom a {
    display: block;
    float: left;
    border-radius: 0;
    color: #888;
    font-size: 20px;
    line-height: 16px;
    height: 18px;
    width: 25px;
    overflow: hidden;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.olControlZoom a:hover {
    color: #000;
}

.olControlZoomIn {
    border-radius: 4px 4px 0 0;
}

.olControlZoomOut {
    border-radius: 0 0 4px 4px;
    border-left: 1px solid #eee;
}


/* 图例 */

.olLegend {
    background: white;
    border: 1px solid #666\9 \0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    padding: 5px;
}

.olLegend-title {
    position: relative;
    padding-left: 5px;
    padding-right: 20px;
    line-height: 24px;
    cursor: pointer;
    font-weight: bold;
}

.olLegend-button {
    position: absolute;
    top: 9px;
    right: 5px;
    font: 0/0 arial;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #666;
}

.olLegend-content {
    margin: 0;
    padding: 5px;
}

.olLegend-content li {
    list-style: none;
    height: 16px;
    line-height: 16px;
}

.olLegend-content i {
    display: inline-block;
    vertical-align: top;
    margin-right: 3px;
    width: 20px;
    height: 16px;
}

.olLegend-unselect {
    color: #ccc;
}

.olLegend-unselect i {
    background: none !important;
}

.olLegend-min {
    min-width: 50px;
    text-align: center;
}

.olLegend-min .olLegend-title {
    padding-right: 5px;
}

.olLegend-min .olLegend-button,
.olLegend-min .olLegend-content {
    display: none;
}


/* 台风等级图例 */

.olLegend-typhoonLevel .olLegend-content li {
    line-height: 22px;
    height: 22px;
}

.olLegend-typhoonLevel .olLegend-content i {
    border-radius: 12px;
    border: 1px solid #34556f;
    width: 8px;
    height: 8px;
    margin-top: 6px;
}


/* 台风发布者图例 */

.olLegend-typhoonPublisher .olLegend-content li {
    line-height: 22px;
    height: 22px;
}

.olLegend-typhoonPublisher .olLegend-content i {
    border-radius: 12px;
    width: 10px;
    height: 2px;
    margin-top: 9px;
}


/* 台风信息提示框 */

.typopup {
    padding-bottom: 10px;
}

.typopup span {
    display: block;
    padding: 3px;
    text-align: center;
    background: #6699CC;
    color: #fff;
    font-size: 14px;
}

.typopup ul {
    margin: 5px 10px 0;
    padding: 0;
    list-style: none;
    color: #666;
}

.typopup li {
    margin-bottom: 2px;
}


/* 名字 */

.tptxt {
    text-align: center;
    border: 1px solid #ccc;
    line-height: 1;
    background: rgba(255, 255, 255, 0.8);
}


/* 风圈 */

.wind-ring {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: url(/static/images/gigis/windring.png) no-repeat;
    background-size: 100% 100%;
}

.animation {
    animation: myfirst 2s infinite linear;
    -ms-animation: myfirst 2s infinite linear;
    -webkit-animation: myfirst 2s infinite linear;
    /* Safari and Chrome */
    -moz-animation: myfirst 2s infinite linear;
    /* Firefox */
    -o-animation: myfirst 2s infinite linear;
    /* Opera */
}

@keyframes myfirst {
    0% {
        transform: rotate(0deg);
    }
    50% {
        width: 48px;
        height: 45px;
    }
    100% {
        transform: rotate(360deg);
        width: 50px;
        height: 50px;
    }
}

@-ms-keyframes myfirst {
    0% {
        -ms-transform: rotate(0deg);
    }
    50% {
        width: 48px;
        height: 45px;
    }
    100% {
        -ms-transform: rotate(360deg);
        width: 50px;
        height: 50px;
    }
}

@-webkit-keyframes myfirst {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        width: 48px;
        height: 45px;
    }
    100% {
        -webkit-transform: rotate(360deg);
        width: 50px;
        height: 50px;
    }
}

@-moz-keyframes myfirst {
    0% {
        -moz-transform: rotate(0deg);
    }
    50% {
        width: 48px;
        height: 45px;
    }
    100% {
        -moz-transform: rotate(360deg);
        width: 50px;
        height: 50px;
    }
}

@-o-keyframes myfirst {
    0% {
        -o-transform: rotate(0deg);
    }
    50% {
        width: 48px;
        height: 45px;
    }
    100% {
        -o-transform: rotate(360deg);
        width: 50px;
        height: 50px;
    }
}

.olLabel {
    z-index: 300 !important;
}


/* 弹层 */

.olPopup {
    overflow: visible !important;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border: none !important;
    border-radius: 5px;
    opacity: .8;
    font-size: 15px;
    border: 1px solid #75A0BA !important;
    /*background-color:#7baedb;*/
}


/*.olPopupContent{
    background:white;
    min-width:50px;
    min-height: 30px;
}*/

.olPopupCloseBox {
    background: url(/static/images/gigis/close.png);
    width: 16px;
    height: 16px;
    cursor: pointer;
    top: 3px !important;
}

.olPopup .popup_tri {
    height: 10px;
    width: 20px;
    margin-left: 50%;
}

.olPopup .popup_tri_a,
.olPopup .popup_tri_b {
    font: 0/0 arial;
    width: 0px;
    height: 0px;
    border: 10px dashed transparent;
    margin-left: -10px;
    border-bottom: 0;
    border-top-style: solid;
    display: block;
}

.olPopup .popup_tri_a {
    border-top-color: #666;
    margin-bottom: -12px;
}

.olPopup .popup_tri_b {
    border-top-color: white;
}


/*---------- 工具条 ------------------------*/

.Gitool {
    position: relative;
    padding: 0px 6px 0px 0;
    color: #333;
    float: left;
    *z-index: 400;
}

.Gitool ul {
    display: none;
    position: absolute;
    top: 22px;
    left: -15px;
    z-index: 1000;
    list-style: none;
    margin: 0;
    padding: 4px 0;
    border: 1px solid #ccc;
    width: 100px;
    background: #f1f1f1;
    border-radius: 7px;
    color: #333;
}

.Gitool ul.show {
    display: block;
    z-index: 1000;
}

.Gitool ul .Gitool_li {
    border-radius: 0;
    border: none;
    background-image: none;
    margin: 0 4px;
    width: 100%;
}

.Gitool ul .Gitool_li .gl_sp {
    color: #333;
    line-height: 25px;
}

.Gitool ul .Gitool_li .gl_sp:hover {
    background: #97caf9;
    color: #FFF;
}

.Gitool a i {
    background: url(/static/images/toolbar_btn.png) no-repeat;
    display: inline-block;
    float: left;
    padding: 5px;
    width: 10px;
    height: 10px;
}

 
 
.Gitool ul .Gitool_li .gl_sp {
    color: #333;
    line-height: 25px;
}

.Gitool ul .Gitool_li .gl_sp:hover {
    background: #97caf9;
    color: #FFF;
}

.Gitool a i {
    background: url(/static/images/toolbar_btn.png) no-repeat;
    display: inline-block;
    float: left;
    padding: 5px;
    width: 10px;
    height: 10px;
}

.Gitool ul .Gitool_li:hover {
    background: #97caf9;
}

.Gitool_li em {
    background: url(/static/images/gl_btn.png) no-repeat;
    display: inline-block;
    float: left;
    padding: 5px;
    width: 12px;
    height: 12px;
}

.Gitool .toolbar_btn06 {
    background-position: 0px -116px;
}

.Gitool_li .gl_btn01 {
    background-position: 0px 2px;
}

.Gitool_li .gl_btn02 {
    background-position: 0px -20px;
}

.Gitool_li .gl_btn03 {
    background-position: 0px -43px;
}

.Gitool_li .gl_btn04 {
    background-position: 0px -67px;
}

.Gitool_li .gl_btn05 {
    background-position: 0px -93px;
}

.Gitool_li .gl_btn06 {
    background-position: 0px -120px;
}

.Gitool_li .gl_btn07 {
    background-position: 0px -146px;
}

.Gitool_li:hover .gl_btn01 {
    background-position: -23px 2px;
}

.Gitool_li:hover .gl_btn02 {
    background-position: -23px -20px;
}

.Gitool_li:hover .gl_btn03 {
    background-position: -23px -43px;
}

.Gitool_li:hover .gl_btn04 {
    background-position: -23px -67px;
}

.Gitool_li:hover .gl_btn05 {
    background-position: -23px -93px;
}

.Gitool_li:hover .gl_btn06 {
    background-position: -23px -120px;
}

.Gitool_li:hover .gl_btn07 {
    background-position: -23px -146px;
}
/*图注样式*/
.olGiLegend{
    background:transparent;
    padding:5px 10px;
}
.olGiLegend b{
    font-size: 12px;
}
.olGiLegend ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.olGiLegend li {
    font-size: 12px;
}
.olGiLegend i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    width: 20px;
    height: 16px;
}
/*.olGiLegend_hide i {
    background: none!important;
}*/
/*.olGiLegend_hide {
    color: #ccc;
}*/

.mapicon{
	width:185px;
	height:50px;
	background:#fff;
	border:1px solid #666;
	border-radius:3px;
	
	z-index:1;
	
	position:fixed;
	left:60px;
	top:0;
}
.mapicon div,.mapicon span{
	display:inline-block;
	float:left;
	margin-right:4px;
	text-align: center;
	margin-top:4px;
}
.mapicon span{
	margin:14px 8px;
}