/**
 * 变量
 */
/**
 * 混合使用
 */
/**
 * 线性渐变
 * 只支持水平和垂直方向，滤镜在IE6、IE7中须配合width或者height属性方可生效
 * @param  {string} @startColor            起始颜色
 * @param  {string} @endColor              结束颜色
 * @param  {string} @layout 			   方向。默认:h 垂直方向
 */
/**
 * 占位符 颜色设置
 * @param  {string} @fontFamily 字体
 * @param  {string} @color      颜色
 */
/**
 * 清楚浮动产生的影响样式
 */
/**
 * 行内块化元素
 */
/**
 * 文本超出省略符号显示
 */
/**
 * 禁止用户选择文本
 */
/**
 * 解决IE6下png24半透明 图片地址需要绝对路径
 * @param  {string} @url 
 */
/**
 * 半透明
 * @param  {number} @num     透明度。取值区间0-1，默认值：0.5
 */
/**
 * 2d 缩放
 * @param  {number} @x x轴缩放比例
 * @param  {number} @y y轴缩放比例
 */
/**
 * 过渡效果
 * @param  {[type]} @property [description]
 * @param  {[type]} @duration [description]
 * @param  {[type]} @timing   [description]
 */
/**
 * 三角形
 * @param  {string} @size      大小，默认4px
 * @param  {string} @color     颜色，默认#333 
 * @param  {string} @direction 方向，默认top
 */
.m-popup-max,
.m-popup-min {
  border: 1px solid #2664bb;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.m-popup-hd {
  background: url(/static/images/bg.png) center left repeat-x;
  zoom: 1;
}
.m-popup-hd:after {
  content: '';
  display: table;
  clear: both;
}
.m-popup-hd .title {
  line-height: 29px;
  color: white;
  font-size: 14px;
  float: left;
}
.m-popup-hd .label {
  float: left;
  padding: 5px 10px;
}
.m-popup-hd .btn-select {
  margin-top: -1px;
  margin-bottom: -1px;
  margin-right: -1px;
}
.m-popup-hd .btn-tabs {
  box-shadow: none;
}
.m-popup-hd .btn-tab {
  margin-top: -1px;
  margin-right: -1px;
  box-shadow: none;
}
.m-popup-bd {
  background: #fff;
  zoom: 1;
}
.m-popup-bd:after {
  content: '';
  display: table;
  clear: both;
}
.m-popup {
  position: relative;
}
.m-popup .ico-r180 {
  background: url('/static/components/ui/icons/images/r180.png') center center no-repeat;
}
.m-popup .ico-r165 {
  background: url('/static/components/ui/icons/images/r165.png') center center no-repeat;
}
.m-popup .ico-r150 {
  background: url('/static/components/ui/icons/images/r150.png') center center no-repeat;
}
.m-popup .ico-r135 {
  background: url('/static/components/ui/icons/images/r135.png') center center no-repeat;
}
.m-popup .ico-r120 {
  background: url('/static/components/ui/icons/images/r120.png') center center no-repeat;
}
.m-popup .ico-r105 {
  background: url('/static/components/ui/icons/images/r105.png') center center no-repeat;
}
.m-popup .ico-r90 {
  background: url('/static/components/ui/icons/images/r90.png') center center no-repeat;
}
.m-popup .ico-r75 {
  background: url('/static/components/ui/icons/images/r75.png') center center no-repeat;
}
.m-popup .ico-r60 {
  background: url('/static/components/ui/icons/images/r60.png') center center no-repeat;
}
.m-popup .ico-r45 {
  background: url('/static/components/ui/icons/images/r45.png') center center no-repeat;
}
.m-popup .ico-r30 {
  background: url('/static/components/ui/icons/images/r30.png') center center no-repeat;
}
.m-popup .ico-r15 {
  background: url('/static/components/ui/icons/images/r15.png') center center no-repeat;
}
.m-popup .ico-r0 {
  background: url('/static/components/ui/icons/images/r0.png') center center no-repeat;
}
.m-popup .ico-r-15 {
  background: url('/static/components/ui/icons/images/r-15.png') center center no-repeat;
}
.m-popup .ico-r-30 {
  background: url('/static/components/ui/icons/images/r-30.png') center center no-repeat;
}
.m-popup .ico-r-45 {
  background: url('/static/components/ui/icons/images/r-45.png') center center no-repeat;
}
.m-popup .ico-r-60 {
  background: url('/static/components/ui/icons/images/r-60.png') center center no-repeat;
}
.m-popup .ico-r-75 {
  background: url('/static/components/ui/icons/images/r-75.png') center center no-repeat;
}
.m-popup .ico-r-90 {
  background: url('/static/components/ui/icons/images/r-90.png') center center no-repeat;
}
.m-popup .ico-r-105 {
  background: url('/static/components/ui/icons/images/r-105.png') center center no-repeat;
}
.m-popup .ico-r-120 {
  background: url('/static/components/ui/icons/images/r-120.png') center center no-repeat;
}
.m-popup .ico-r-135 {
  background: url('/static/components/ui/icons/images/r-135.png') center center no-repeat;
}
.m-popup .ico-r-150 {
  background: url('/static/components/ui/icons/images/r-150.png') center center no-repeat;
}
.m-popup .ico-r-165 {
  background: url('/static/components/ui/icons/images/r-165.png') center center no-repeat;
}
.m-popup .ico-r-180 {
  background: url('/static/components/ui/icons/images/r-180.png') center center no-repeat;
}
.m-popup .ico-g180 {
  background: url('/static/components/ui/icons/images/g180.png') center center no-repeat;
}
.m-popup .ico-g165 {
  background: url('/static/components/ui/icons/images/g165.png') center center no-repeat;
}
.m-popup .ico-g150 {
  background: url('/static/components/ui/icons/images/g150.png') center center no-repeat;
}
.m-popup .ico-g135 {
  background: url('/static/components/ui/icons/images/g135.png') center center no-repeat;
}
.m-popup .ico-g120 {
  background: url('/static/components/ui/icons/images/g120.png') center center no-repeat;
}
.m-popup .ico-g105 {
  background: url('/static/components/ui/icons/images/g105.png') center center no-repeat;
}
.m-popup .ico-g90 {
  background: url('/static/components/ui/icons/images/g90.png') center center no-repeat;
}
.m-popup .ico-g75 {
  background: url('/static/components/ui/icons/images/g75.png') center center no-repeat;
}
.m-popup .ico-g60 {
  background: url('/static/components/ui/icons/images/g60.png') center center no-repeat;
}
.m-popup .ico-g45 {
  background: url('/static/components/ui/icons/images/g45.png') center center no-repeat;
}
.m-popup .ico-g30 {
  background: url('/static/components/ui/icons/images/g30.png') center center no-repeat;
}
.m-popup .ico-g15 {
  background: url('/static/components/ui/icons/images/g15.png') center center no-repeat;
}
.m-popup .ico-g0 {
  background: url('/static/components/ui/icons/images/g0.png') center center no-repeat;
}
.m-popup .ico-g-15 {
  background: url('/static/components/ui/icons/images/g-15.png') center center no-repeat;
}
.m-popup .ico-g-30 {
  background: url('/static/components/ui/icons/images/g-30.png') center center no-repeat;
}
.m-popup .ico-g-45 {
  background: url('/static/components/ui/icons/images/g-45.png') center center no-repeat;
}
.m-popup .ico-g-60 {
  background: url('/static/components/ui/icons/images/g-60.png') center center no-repeat;
}
.m-popup .ico-g-75 {
  background: url('/static/components/ui/icons/images/g-75.png') center center no-repeat;
}
.m-popup .ico-g-90 {
  background: url('/static/components/ui/icons/images/g-90.png') center center no-repeat;
}
.m-popup .ico-g-105 {
  background: url('/static/components/ui/icons/images/g-105.png') center center no-repeat;
}
.m-popup .ico-g-120 {
  background: url('/static/components/ui/icons/images/g-120.png') center center no-repeat;
}
.m-popup .ico-g-135 {
  background: url('/static/components/ui/icons/images/g-135.png') center center no-repeat;
}
.m-popup .ico-g-150 {
  background: url('/static/components/ui/icons/images/g-150.png') center center no-repeat;
}
.m-popup .ico-g-165 {
  background: url('/static/components/ui/icons/images/g-165.png') center center no-repeat;
}
.m-popup .ico-g-180 {
  background: url('/static/components/ui/icons/images/g-180.png') center center no-repeat;
}
.m-popup .ico-z180 {
  background: url('/static/components/ui/icons/images/z180.png') center center no-repeat;
}
.m-popup .ico-z165 {
  background: url('/static/components/ui/icons/images/z165.png') center center no-repeat;
}
.m-popup .ico-z150 {
  background: url('/static/components/ui/icons/images/z150.png') center center no-repeat;
}
.m-popup .ico-z135 {
  background: url('/static/components/ui/icons/images/z135.png') center center no-repeat;
}
.m-popup .ico-z120 {
  background: url('/static/components/ui/icons/images/z120.png') center center no-repeat;
}
.m-popup .ico-z105 {
  background: url('/static/components/ui/icons/images/z105.png') center center no-repeat;
}
.m-popup .ico-z90 {
  background: url('/static/components/ui/icons/images/z90.png') center center no-repeat;
}
.m-popup .ico-z75 {
  background: url('/static/components/ui/icons/images/z75.png') center center no-repeat;
}
.m-popup .ico-z60 {
  background: url('/static/components/ui/icons/images/z60.png') center center no-repeat;
}
.m-popup .ico-z45 {
  background: url('/static/components/ui/icons/images/z45.png') center center no-repeat;
}
.m-popup .ico-z30 {
  background: url('/static/components/ui/icons/images/z30.png') center center no-repeat;
}
.m-popup .ico-z15 {
  background: url('/static/components/ui/icons/images/z15.png') center center no-repeat;
}
.m-popup .ico-z0 {
  background: url('/static/components/ui/icons/images/z0.png') center center no-repeat;
}
.m-popup .ico-z-15 {
  background: url('/static/components/ui/icons/images/z-15.png') center center no-repeat;
}
.m-popup .ico-z-30 {
  background: url('/static/components/ui/icons/images/z-30.png') center center no-repeat;
}
.m-popup .ico-z-45 {
  background: url('/static/components/ui/icons/images/z-45.png') center center no-repeat;
}
.m-popup .ico-z-60 {
  background: url('/static/components/ui/icons/images/z-60.png') center center no-repeat;
}
.m-popup .ico-z-75 {
  background: url('/static/components/ui/icons/images/z-75.png') center center no-repeat;
}
.m-popup .ico-z-90 {
  background: url('/static/components/ui/icons/images/z-90.png') center center no-repeat;
}
.m-popup .ico-z-105 {
  background: url('/static/components/ui/icons/images/z-105.png') center center no-repeat;
}
.m-popup .ico-z-120 {
  background: url('/static/components/ui/icons/images/z-120.png') center center no-repeat;
}
.m-popup .ico-z-135 {
  background: url('/static/components/ui/icons/images/z-135.png') center center no-repeat;
}
.m-popup .ico-z-150 {
  background: url('/static/components/ui/icons/images/z-150.png') center center no-repeat;
}
.m-popup .ico-z-165 {
  background: url('/static/components/ui/icons/images/z-165.png') center center no-repeat;
}
.m-popup .ico-z-180 {
  background: url('/static/components/ui/icons/images/z-180.png') center center no-repeat;
}
.m-popup .ico-16-3 {
  background: url(/static/components/ui/icons/images/16-3.png) center center no-repeat;
}
.m-popup .ico-16-4 {
  background: url(/static/components/ui/icons/images/16-4.png) center center no-repeat;
}
.m-popup .ico-16-5 {
  background: url(/static/components/ui/icons/images/16-5.png) center center no-repeat;
}
.m-popup .ico-16-6 {
  background: url(/static/components/ui/icons/images/16-6.png) center center no-repeat;
}
.m-popup .ico-16-7 {
  background: url(/static/components/ui/icons/images/16-7.png) center center no-repeat;
}
.m-popup .ico-16-8 {
  background: url(/static/components/ui/icons/images/16-8.png) center center no-repeat;
}
.m-popup .ico-16-9 {
  background: url(/static/components/ui/icons/images/16-9.png) center center no-repeat;
}
.m-popup .ico-16-10 {
  background: url(/static/components/ui/icons/images/16-10.png) center center no-repeat;
}
.m-popup .ico-16-11 {
  background: url(/static/components/ui/icons/images/16-11.png) center center no-repeat;
}
.m-popup .ico-16-12 {
  background: url(/static/components/ui/icons/images/16-12.png) center center no-repeat;
}
.m-popup .ico-16-13 {
  background: url(/static/components/ui/icons/images/16-13.png) center center no-repeat;
}
.m-popup .ico-16-14 {
  background: url(/static/components/ui/icons/images/16-14.png) center center no-repeat;
}
.m-popup .ico-16-15 {
  background: url(/static/components/ui/icons/images/16-15.png) center center no-repeat;
}
.m-popup .ico-16-16 {
  background: url(/static/components/ui/icons/images/16-16.png) center center no-repeat;
}
.m-popup .btn-select-option:hover .ico-16-3 {
  background: url(/static/components/ui/icons/images/16-3-h.png) center center no-repeat;
}
.m-popup .btn-select-option:hover .ico-16-4 {
  background: url(/static/components/ui/icons/images/16-4-h.png) center center no-repeat;
}
.m-popup .btn-select-option:hover .ico-16-5 {
  background: url(/static/components/ui/icons/images/16-5-h.png) center center no-repeat;
}
.m-popup .lv1 .ico-16-3 {
  background: url(/static/components/ui/icons/images/16-3-h.png) center center no-repeat;
}
.m-popup .lv1 .ico-16-4 {
  background: url(/static/components/ui/icons/images/16-4-h.png) center center no-repeat;
}
.m-popup .lv1 .ico-16-5 {
  background: url(/static/components/ui/icons/images/16-5-h.png) center center no-repeat;
}
.m-popup .lv1 .ico-16-6 {
  background: url(/static/components/ui/icons/images/16-6-h.png) center center no-repeat;
}
.m-popup .lv1 .ico-16-7 {
  background: url(/static/components/ui/icons/images/16-7-h.png) center center no-repeat;
}
.m-popup .lv1 .ico-16-8 {
  background: url(/static/components/ui/icons/images/16-8-h.png) center center no-repeat;
}
.m-popup .lv1 .ico-16-9 {
  background: url(/static/components/ui/icons/images/16-9-h.png) center center no-repeat;
}
.m-popup .lv1 .ico-16-10 {
  background: url(/static/components/ui/icons/images/16-10-h.png) center center no-repeat;
}
.m-popup .lv1 .ico-16-11 {
  background: url(/static/components/ui/icons/images/16-11-h.png) center center no-repeat;
}
.m-popup .lv1 .ico-16-12 {
  background: url(/static/components/ui/icons/images/16-12-h.png) center center no-repeat;
}
.m-popup .lv1 .ico-16-16 {
  background: url(/static/components/ui/icons/images/16-16-h.png) center center no-repeat;
}
.m-popup .m-popup-hd .ico-20 {
  margin-top: 4.5px;
  background: url(/static/components/ui/icons/images/m8.png) center center no-repeat;
}
.m-popup .m-popup-bd .status .ico {
  width: 56px;
  height: 56px;
}
.m-popup .m-popup-bd .status .sos {
  display: block;
  background: #f14459;
  color: white;
  border-radius: 22px;
  line-height: 22px;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.m-popup-tri {
  display: none;
  position: absolute;
  top: -20px;
  left: 30px;
}
.m-popup-tri i,
.m-popup-tri b {
  position: absolute;
  left: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 0;
  height: 0;
  font-size: 0;
  border-width: 10px;
  border-color: transparent transparent #aec8ea;
  border-style: solid;
}
.m-popup-tri i {
  top: 0;
}
.m-popup-tri b {
  top: -1px;
  border-bottom-color: #2664bb;
}
.m-popup-max {
  width: 295px;
}
.m-popup-max .m-popup-hd {
  padding-left: 10px;
}
.m-popup-max .m-popup-hd .title {
  margin-right: 20px;
}
.m-popup-max .m-popup-hd .ico-20 {
  float: left;
}
.m-popup-max .m-popup-bd {
  padding: 5px;
}
.m-popup-max .m-popup-bd .status {
  float: left;
  width: 50px;
  padding: 5px;
  text-align: center;
}
.m-popup-max .m-popup-bd .status .ico {
  margin-top: 13px;
  margin-bottom: 13px;
}
.m-popup-max .m-popup-bd .list1 {
  float: left;
  width: 150px;
  padding-bottom: 5px;
  padding-left: 5px;
}
.m-popup-max .m-popup-bd .list1 li {
  width: 60px;
  height: 40px;
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
  float: left;
  background: #ecf3fb;
  line-height: 20px;
}
.m-popup-max .m-popup-bd .list1 li .name {
  font-weight: bold;
  color: #2660ae;
  font-size: 14px;
}
.m-popup-max .m-popup-bd .list1 li .num {
  font-size: 18px;
  color: #4c4c4c;
}
.m-popup-max .m-popup-bd .list1 li .num span {
  font-size: 12px;
}
.m-popup-max .m-popup-bd .list1 li.lv1 {
  background: #f14459;
}
.m-popup-max .m-popup-bd .list1 li.lv1 .name,
.m-popup-max .m-popup-bd .list1 li.lv1 .num {
  color: #fff;
}
.m-popup-max .m-popup-bd .list1 li.lv2 {
  background: yellow;
}
.m-popup-max .m-popup-bd .list2 {
  float: left;
  width: 65px;
  padding-top: 10px;
  overflow: hidden;
}
.m-popup-max .m-popup-bd .list2 li {
  line-height: 16px;
  padding: 4px 5px 4px;
  margin-bottom: 5px;
  color: #7b9dc0;
}
.m-popup-max .m-popup-bd .list2 li i {
  vertical-align: top;
}
.m-popup-max .m-popup-bd .list2 li.lv1 {
  background: #f14459;
  color: white;
}
.m-popup-max .m-popup-bd .list2 li.lv2 {
  background: yellow;
}
.m-popup-min {
  display: none;
  width: 165px;
}
.m-popup-min .m-popup-hd {
  padding-left: 76px;
  padding-right: 10px;
}
.m-popup-min .m-popup-hd .ico-20 {
  float: right;
}
.m-popup-min .m-popup-bd {
  padding: 10px 0 10px 10px;
}
.m-popup-min .m-popup-bd .status .ico {
  margin-top: -29px;
  border: 2px solid #2464b9;
  border-radius: 50px;
  background-color: white;
  float: left;
}
.m-popup-min .m-popup-bd .status .sos {
  float: right;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.m-popup-allmin .m-popup-max {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
}
.m-popup-allmin .m-popup-min {
  display: block;
}
.m-popup-allmin .m-popup-tri {
  display: block;
}
.m-popup-allmin .m-popup:hover {
  z-index: 3;
}
.m-popup-allmin .m-popup:hover .m-popup-max {
  display: block;
}
.m-popup-danger .ico-r180 {
  background: url('/static/components/ui/icons/images/r180-red.png') center center no-repeat;
}
.m-popup-danger .ico-r165 {
  background: url('/static/components/ui/icons/images/r165-red.png') center center no-repeat;
}
.m-popup-danger .ico-r150 {
  background: url('/static/components/ui/icons/images/r150-red.png') center center no-repeat;
}
.m-popup-danger .ico-r135 {
  background: url('/static/components/ui/icons/images/r135-red.png') center center no-repeat;
}
.m-popup-danger .ico-r120 {
  background: url('/static/components/ui/icons/images/r120-red.png') center center no-repeat;
}
.m-popup-danger .ico-r105 {
  background: url('/static/components/ui/icons/images/r105-red.png') center center no-repeat;
}
.m-popup-danger .ico-r90 {
  background: url('/static/components/ui/icons/images/r90-red.png') center center no-repeat;
}
.m-popup-danger .ico-r75 {
  background: url('/static/components/ui/icons/images/r75-red.png') center center no-repeat;
}
.m-popup-danger .ico-r60 {
  background: url('/static/components/ui/icons/images/r60-red.png') center center no-repeat;
}
.m-popup-danger .ico-r45 {
  background: url('/static/components/ui/icons/images/r45-red.png') center center no-repeat;
}
.m-popup-danger .ico-r30 {
  background: url('/static/components/ui/icons/images/r30-red.png') center center no-repeat;
}
.m-popup-danger .ico-r15 {
  background: url('/static/components/ui/icons/images/r15-red.png') center center no-repeat;
}
.m-popup-danger .ico-r0 {
  background: url('/static/components/ui/icons/images/r0-red.png') center center no-repeat;
}
.m-popup-danger .ico-r-15 {
  background: url('/static/components/ui/icons/images/r-15-red.png') center center no-repeat;
}
.m-popup-danger .ico-r-30 {
  background: url('/static/components/ui/icons/images/r-30-red.png') center center no-repeat;
}
.m-popup-danger .ico-r-45 {
  background: url('/static/components/ui/icons/images/r-45-red.png') center center no-repeat;
}
.m-popup-danger .ico-r-60 {
  background: url('/static/components/ui/icons/images/r-60-red.png') center center no-repeat;
}
.m-popup-danger .ico-r-75 {
  background: url('/static/components/ui/icons/images/r-75-red.png') center center no-repeat;
}
.m-popup-danger .ico-r-90 {
  background: url('/static/components/ui/icons/images/r-90-red.png') center center no-repeat;
}
.m-popup-danger .ico-r-105 {
  background: url('/static/components/ui/icons/images/r-105-red.png') center center no-repeat;
}
.m-popup-danger .ico-r-120 {
  background: url('/static/components/ui/icons/images/r-120-red.png') center center no-repeat;
}
.m-popup-danger .ico-r-135 {
  background: url('/static/components/ui/icons/images/r-135-red.png') center center no-repeat;
}
.m-popup-danger .ico-r-150 {
  background: url('/static/components/ui/icons/images/r-150-red.png') center center no-repeat;
}
.m-popup-danger .ico-r-165 {
  background: url('/static/components/ui/icons/images/r-165-red.png') center center no-repeat;
}
.m-popup-danger .ico-r-180 {
  background: url('/static/components/ui/icons/images/r-180-red.png') center center no-repeat;
}
.m-popup-danger .ico-g180 {
  background: url('/static/components/ui/icons/images/g180-red.png') center center no-repeat;
}
.m-popup-danger .ico-g165 {
  background: url('/static/components/ui/icons/images/g165-red.png') center center no-repeat;
}
.m-popup-danger .ico-g150 {
  background: url('/static/components/ui/icons/images/g150-red.png') center center no-repeat;
}
.m-popup-danger .ico-g135 {
  background: url('/static/components/ui/icons/images/g135-red.png') center center no-repeat;
}
.m-popup-danger .ico-g120 {
  background: url('/static/components/ui/icons/images/g120-red.png') center center no-repeat;
}
.m-popup-danger .ico-g105 {
  background: url('/static/components/ui/icons/images/g105-red.png') center center no-repeat;
}
.m-popup-danger .ico-g90 {
  background: url('/static/components/ui/icons/images/g90-red.png') center center no-repeat;
}
.m-popup-danger .ico-g75 {
  background: url('/static/components/ui/icons/images/g75-red.png') center center no-repeat;
}
.m-popup-danger .ico-g60 {
  background: url('/static/components/ui/icons/images/g60-red.png') center center no-repeat;
}
.m-popup-danger .ico-g45 {
  background: url('/static/components/ui/icons/images/g45-red.png') center center no-repeat;
}
.m-popup-danger .ico-g30 {
  background: url('/static/components/ui/icons/images/g30-red.png') center center no-repeat;
}
.m-popup-danger .ico-g15 {
  background: url('/static/components/ui/icons/images/g15-red.png') center center no-repeat;
}
.m-popup-danger .ico-g0 {
  background: url('/static/components/ui/icons/images/g0-red.png') center center no-repeat;
}
.m-popup-danger .ico-g-15 {
  background: url('/static/components/ui/icons/images/g-15-red.png') center center no-repeat;
}
.m-popup-danger .ico-g-30 {
  background: url('/static/components/ui/icons/images/g-30-red.png') center center no-repeat;
}
.m-popup-danger .ico-g-45 {
  background: url('/static/components/ui/icons/images/g-45-red.png') center center no-repeat;
}
.m-popup-danger .ico-g-60 {
  background: url('/static/components/ui/icons/images/g-60-red.png') center center no-repeat;
}
.m-popup-danger .ico-g-75 {
  background: url('/static/components/ui/icons/images/g-75-red.png') center center no-repeat;
}
.m-popup-danger .ico-g-90 {
  background: url('/static/components/ui/icons/images/g-90-red.png') center center no-repeat;
}
.m-popup-danger .ico-g-105 {
  background: url('/static/components/ui/icons/images/g-105-red.png') center center no-repeat;
}
.m-popup-danger .ico-g-120 {
  background: url('/static/components/ui/icons/images/g-120-red.png') center center no-repeat;
}
.m-popup-danger .ico-g-135 {
  background: url('/static/components/ui/icons/images/g-135-red.png') center center no-repeat;
}
.m-popup-danger .ico-g-150 {
  background: url('/static/components/ui/icons/images/g-150-red.png') center center no-repeat;
}
.m-popup-danger .ico-g-165 {
  background: url('/static/components/ui/icons/images/g-165-red.png') center center no-repeat;
}
.m-popup-danger .ico-g-180 {
  background: url('/static/components/ui/icons/images/g-180-red.png') center center no-repeat;
}
.m-popup-danger .ico-z180 {
  background: url('/static/components/ui/icons/images/z180-red.png') center center no-repeat;
}
.m-popup-danger .ico-z165 {
  background: url('/static/components/ui/icons/images/z165-red.png') center center no-repeat;
}
.m-popup-danger .ico-z150 {
  background: url('/static/components/ui/icons/images/z150-red.png') center center no-repeat;
}
.m-popup-danger .ico-z135 {
  background: url('/static/components/ui/icons/images/z135-red.png') center center no-repeat;
}
.m-popup-danger .ico-z120 {
  background: url('/static/components/ui/icons/images/z120-red.png') center center no-repeat;
}
.m-popup-danger .ico-z105 {
  background: url('/static/components/ui/icons/images/z105-red.png') center center no-repeat;
}
.m-popup-danger .ico-z90 {
  background: url('/static/components/ui/icons/images/z90-red.png') center center no-repeat;
}
.m-popup-danger .ico-z75 {
  background: url('/static/components/ui/icons/images/z75-red.png') center center no-repeat;
}
.m-popup-danger .ico-z60 {
  background: url('/static/components/ui/icons/images/z60-red.png') center center no-repeat;
}
.m-popup-danger .ico-z45 {
  background: url('/static/components/ui/icons/images/z45-red.png') center center no-repeat;
}
.m-popup-danger .ico-z30 {
  background: url('/static/components/ui/icons/images/z30-red.png') center center no-repeat;
}
.m-popup-danger .ico-z15 {
  background: url('/static/components/ui/icons/images/z15-red.png') center center no-repeat;
}
.m-popup-danger .ico-z0 {
  background: url('/static/components/ui/icons/images/z0-red.png') center center no-repeat;
}
.m-popup-danger .ico-z-15 {
  background: url('/static/components/ui/icons/images/z-15-red.png') center center no-repeat;
}
.m-popup-danger .ico-z-30 {
  background: url('/static/components/ui/icons/images/z-30-red.png') center center no-repeat;
}
.m-popup-danger .ico-z-45 {
  background: url('/static/components/ui/icons/images/z-45-red.png') center center no-repeat;
}
.m-popup-danger .ico-z-60 {
  background: url('/static/components/ui/icons/images/z-60-red.png') center center no-repeat;
}
.m-popup-danger .ico-z-75 {
  background: url('/static/components/ui/icons/images/z-75-red.png') center center no-repeat;
}
.m-popup-danger .ico-z-90 {
  background: url('/static/components/ui/icons/images/z-90-red.png') center center no-repeat;
}
.m-popup-danger .ico-z-105 {
  background: url('/static/components/ui/icons/images/z-105-red.png') center center no-repeat;
}
.m-popup-danger .ico-z-120 {
  background: url('/static/components/ui/icons/images/z-120-red.png') center center no-repeat;
}
.m-popup-danger .ico-z-135 {
  background: url('/static/components/ui/icons/images/z-135-red.png') center center no-repeat;
}
.m-popup-danger .ico-z-150 {
  background: url('/static/components/ui/icons/images/z-150-red.png') center center no-repeat;
}
.m-popup-danger .ico-z-165 {
  background: url('/static/components/ui/icons/images/z-165-red.png') center center no-repeat;
}
.m-popup-danger .ico-z-180 {
  background: url('/static/components/ui/icons/images/z-180-red.png') center center no-repeat;
}
.m-popup-danger .m-popup-max,
.m-popup-danger .m-popup-min {
  border-color: #b31919;
}
.m-popup-danger .m-popup-hd {
  background-image: url(/static/images/bg2.png);
}
.m-popup-danger .m-popup-tri i {
  border-bottom-color: #F6A8A8;
}
.m-popup-danger .m-popup-tri b {
  border-bottom-color: #b31919;
}
.m-popup-danger:hover .m-popup-max {
  box-shadow: 0px 0px 10px 0px red;
}
.m-popup-danger .m-popup-bd .status .ico {
  border-color: #f14459;
}
