.btn-tabs {
  box-shadow: none;
}
.btn-tabs .btn-tab {
  box-shadow: none;
  margin-right: -1px;
  margin-left: -1px;
}
.btn-tab-on {
  background: #ecf3fb;
  border-bottom-color: #ecf3fb;
  color: #2765bc;
}
.btn-tab-on:hover {
  background: #ecf3fb;
}
