.m-ztree {
  padding-bottom: 20px;
}
.m-ztree .ico {
  width: 16px;
  height: 16px;
}
.m-ztree .ico-folder {
  background: center center no-repeat url(/static/components/ztree/images/ico-folder.png);
}
.m-ztree .ico-file {
  background: center center no-repeat url(/static/components/ztree/images/ico-file.png);
}
.m-ztree .ico-line {
  background: url(/static/components/ztree/images/line.png) repeat-x left center;
}
.m-ztree .ico-close {
  background: center center no-repeat url(/static/components/ztree/images/ico-open.png);
}
.m-ztree .ico-open {
  background: center center no-repeat url(/static/components/ztree/images/ico-close.png);
}
.m-ztree .title {
  line-height: 16px;
  cursor: pointer;
  padding-top: 10px;
}
.m-ztree input {
  vertical-align: middle;
}
.m-ztree li ul {
  display: none;
}
.m-ztree li li {
  padding-left: 10px;
}
.m-ztree .open .ico-folder {
  background: center center no-repeat url(/static/components/ztree/images/ico-folder2.png);
}
.m-ztree .open .title {
  color: #245eac;
}
.m-ztree .open li {
  background: url(/static/components/ztree/images/line.png) repeat-y 8px top;
}
.m-ztree .open li .title {
  color: #333;
  position: relative;
  bottom: -8px;
}
.m-ztree .open ul {
  display: block;
}
