div.olMap {
    z-index: 0;
    cursor: default;
}

div.olMapViewport {
    text-align: left;
    -ms-touch-action: none;
    z-index: 0;
}

div.olLayerDiv {
   -moz-user-select: none;
   -khtml-user-select: none;
}
/* 控制器 */
.olControlNoSelect {
 -moz-user-select: none;
 -khtml-user-select: none;
}

.olImageLoadError {
    background-color:pink;
    opacity: 0.5;
    filter: alpha(opacity=50); /* IE */
}

/**
 * Cursor styles
 */

.olCursorWait {
    cursor: wait;
}
.olDragDown {
    cursor: move;
}
.olDrawBox {
    cursor: crosshair;
}
.olControlDragFeatureOver {
    cursor: move;
}
.olControlDragFeatureActive.olControlDragFeatureOver.olDragDown {
    cursor: -moz-grabbing;
}
/**
 * Animations
 */

.olLayerGrid .olTileImage {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

/* Turn on GPU support where available */
.olTileImage {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}

/* when replacing tiles, do not show tile and backbuffer at the same time */
.olTileReplacing {
    display: none;
}

/* override any max-width image settings (e.g. bootstrap.css) */
img.olTileImage {
    max-width: none;
}
/* 标注的文字提示 */
.oltextmark{  
    background: #4d98dd;
    border-radius:2px;
    font-family:"微软雅黑";
    padding:2px 5px;
    border:1px solid #2d78f4;
    color:white;
    *display: block;
    *min-width: 50px;
}
.oltextmark span{  
    position: relative;
} 
/* 弹层 */
.olPopup{
    overflow:visible!important;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
    border:none !important;
    border-radius: 5px;
    border:1px solid #666!important;
}
/*.olPopupContent{
    background:white;
    min-width:50px;
    min-height: 30px;
}*/
.olPopupCloseBox{
    background:url(../images/close.png);
    width:16px;
    height:16px;
    cursor:pointer;
    top:3px !important;
}
.olPopup .popup_tri{
    height:10px;
    width:20px;
    margin-left:50%;
}

/*比例尺
.GiScaleLine{
    border-width: 0 1px 3px 1px;
    border-style: solid;
    border-color: black;
    height: 5px;
    bottom: 5px;
    right: 5px;
}
.GiScaleLine div{
    text-align: center;
    white-space: nowrap;
    margin-top:-10px;
    line-height: 16px;
}
/*地图切换*/
.GiBaseLayerSwitcher{
    padding:3px;
    width:75px;
    height:75px;
    background:white;
    *border:1px solid #666;
    border:1px solid #666\9\0;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    text-align: center;
}
.GiBaseLayerSwitcher .olButton{
    display: none;
    width:100%;
    height:30px;
    line-height: 30px;
    padding-top:45px;
    cursor: pointer;
    color:white;
}
.GiBaseLayerSwitcher .olButton-next{
     display: block;
}
.GiBaseLayerSwitcher .olButton-terrain{ 
    background: url(../images/2.png);
}
.GiBaseLayerSwitcher .olButton-traffic{ 
    background: url(../images/3.png);
}
.GiBaseLayerSwitcher .olButton-satellite{ 
    background: url(../images/1.png);
}
.GiBaseLayerSwitcher .olButton-board{
    background: url(../images/4.png);
}

/* 缩放 */
.olControlZoom{
    background:white;
    *border:1px solid #666;
    border:1px solid #666\9\0;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    top:130px;
    border-radius: 0;
    padding: 5px 0;
}
.olControlZoom a{
    display: block;
    float: left;
    border-radius: 0;
    color: #888;

    font-size: 20px;
    line-height: 16px;
    height: 18px;
    width: 25px;
    overflow: hidden;

    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
.olControlZoom a:hover{
    color: #000;
}
.olControlZoomIn {
    border-radius: 4px 4px 0 0;
}
.olControlZoomOut {
    border-radius: 0 0 4px 4px;
    border-left:1px solid #eee;
}
/* 鼠标经纬度 */
.olControlMousePosition  {  
    background: rgba(255, 255, 255, 0.6) !important; /* IE无效，FF有效 */  
    background: #fff;  
    filter: alpha(opacity=30);
    padding:3px 10px;
}  
.olControlMousePosition span   {  
    position: relative;  
}
/* 图例 */
.olGiLegend   {
    border:1px solid #666;
    padding: 3px;
    background:#fff;
}
.olGiLegend b{
    margin:4px 0;
}
.olGiLegend ul{
    margin:0;
    padding:0;
    list-style:none;
}
.olGiLegend li{
    
}
.olGiLegend i{
    display: inline-block;
    vertical-align: middle;
    margin-right:3px;
    width: 20px;
    height: 10px;
}
.olGiLegend_hide i{
    background:none!important;
}
.olGiLegend_hide{
    color:#ccc;
}
.olGiLegend_v li{
    display: inline-block;
    *display:inline;
    *zoom:1;
    text-align: right;
    width: 30px;
}
.olGiLegend_v i{
    height:10px;
}


.GiLayerManagement{
    width:auto;
    height:auto;
    margin:0;
    padding:4px;
    background:white;
    border:1px solid #03c;
}
.GiLayerManagement h4{
    margin:2px 0;
    padding: 0;
}
.GiLayerManagement span{
    display:block;
    width: 100px;
    vertical-align: middle;
    padding-left: 20px;
    background-image: url(../images/visable.png);
    background-size: 15px 15px;
    background-position:left center;
    background-repeat: no-repeat;
}
.GiLayerManagement span:hover{
   background-color: #9ff; 
}
.GiLayerManagement span.z-un{
    background-image: url(../images/unvisable.png);
}
.GiLayerManagement span.z-on:hover{
    background-color: #fff;
}
.GiLayerManagement span.z-on{
    color: #ccc;
}

/* 鹰眼 */
.GiCtrlOverviewMapContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #FFFFFF;
}
.GiCtrlOverviewMapElement {
    border-left:1px solid #999999 !important;
    border-top:1px solid #999999 !important;
    padding-top: 5px !important;
    padding-left: 5px !important;
    /*border:1px solid #000000 !important;
    
    padding: 4px 4px 4px 4px !important;
    padding: 1px 1px 1px 1px;
    background-color: #ffffff !important;
    background-color: #ffffff;
    -moz-border-radius: 1em 0 0 0;
    border:1px solid #000000;*/
    
}

.GiCtrlOverviewMapMinimizeButton {
    right: 0px;
    bottom: 0px !important;
    bottom: 0px;
}    

.GiCtrlOverviewMapMaximizeButton {
    right: 0px;
    bottom: 0px !important;
    bottom: 0px;
}

.GiCtrlOverviewMapExtentRectangle {
    overflow: hidden;
    /*background-image: url("rect.gif");
    background-repeat: no-repeat;
    background-position: center;*/
    cursor: move;
    border: 2px ridge  blue !important;
    border: 2px ridge  blue;
    background:#D8DDE9;/*background:#69F;*/
    filter:alpha(opacity=50);/* IE */ 
    -moz-opacity:0.5;/* Moz + FF */ 
    opacity: 0.5; /* 支持CSS3的浏览器（FF 1.5也支持）*/
}
.GiCtrlOverviewMapRectReplacement {
    overflow: hidden;
    cursor: move;
    background-image: url("../images/overview_replacement.gif");
    background-repeat: no-repeat;
    background-position: center;
} 
/* 定位 */
.olButton_position{
    display: block;
    width:16px;
    height:16px;
    *border:1px solid #666;
    border:1px solid #666\9\0;
    background:white url(../images/marker_position.png) center center no-repeat;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    border-radius: 0;
    padding: 6px;
    cursor:pointer;
}

.olButton_position_loading{
    background:white url(../images/spinner-16.png) center center no-repeat;
}

/* 闪烁的点 */
.active-point{
        opacity: 1;
        -webkit-animation: play .8s ease-in infinite;
        -moz-animation: play .8s ease-in infinite;
        -o-animation: play .8s ease-in infinite;
        -ms-animation: play .8s ease-in infinite;
        animation: play .8s ease-in infinite;
    }
    @-webkit-keyframes play{
        0%{
            top: 0;
        }
        50%{
            top: -15px;
        }
        100%{
            top: 0;
        }
    }

    @-moz-keyframes play{
        0%{
            top: 0;
        }
        50%{
            top: -15px;
        }
        100%{
            top: 0;
        }
    }

    @-o-keyframes play{
        0%{
            top: 0;
        }
        50%{
            top: -15px;
        }
        100%{
            top: 0;
        }
    }

    @-ms-keyframes play{
        0%{
            top: 0;
        }
        50%{
            top: -15px;
        }
        100%{
            top: 0;
        }
    }

    @-keyframes play{
        0%{
            top: 0;
        }
        50%{
            top: -15px;
        }
        100%{
            top: 0;
        }
    }
/*绘图工具按钮*/
.olControlPanel button {
position: relative;
display: block;
margin: 2px;
border: 1px solid;
padding: 0 5px;
border-radius: 4px;
height: 35px;
background-color: white;
float: left;
overflow: visible; /* needed to remove padding from buttons in IE */
cursor: pointer;
}
.olControlPanel button span {
padding-left: 25px;
}
.olControlPanel button span:first-child {
padding-left: 0;
display: block;
position: absolute;
left: 2px;
}
.olControlPanel .olControlDrawFeatureItemInactive:nth-child(1)  span:nth-child(1) { 
background: url("../images/add_point_off.png") no-repeat;
height: 29px;
width: 29px;
top: 5px;
}
.olControlPanel .olControlDrawFeatureItemActive:nth-child(1)  span:nth-child(1) { 
background: url("../images/add_point_on.png") no-repeat;
height: 29px;
width: 29px;
top: 5px;
}
.olControlPanel .olControlDrawFeatureItemActive:nth-child(2) span:first-child { 
background-image: url("../images/draw_line_on.png");
height: 22px;
width: 24px;
top: 5px;
}
.olControlPanel .olControlDrawFeatureItemInactive:nth-child(2) span:first-child { 
background-image: url("../images/draw_line_off.png");
height: 22px;
width: 24px;
top: 5px;
}
.olControlPanel .olControlDrawFeatureItemInactive:nth-child(3)  span:nth-child(1) { 
background: url("../images/draw_polygon_off.png") no-repeat;
height: 29px;
width: 29px;
top: 5px;
}
.olControlPanel .olControlDrawFeatureItemActive:nth-child(3)  span:nth-child(1) { 
background: url("../images/draw_polygon_on.png") no-repeat;
height: 29px;
width: 29px;
top: 5px;
} 
.olControlPanel .olControlDrawFeatureItemInactive:nth-child(4)  span:nth-child(1) { 
background: url("../images/draw_box_off.png") no-repeat;
height: 29px;
width: 29px;
top: 5px;
}
.olControlPanel .olControlDrawFeatureItemActive:nth-child(4)  span:nth-child(1) { 
background: url("../images/draw_box_on.png") no-repeat;
height: 29px;
width: 29px;
top: 5px;
}
.olControlPanel .olControlDrawFeatureItemInactive:nth-child(5)  span:nth-child(1) { 
background: url("../images/draw_circle_off.png") no-repeat;
height: 29px;
width: 29px;
top: 5px;
}
.olControlPanel .olControlDrawFeatureItemActive:nth-child(5)  span:nth-child(1) { 
background: url("../images/draw_circle_on.png") no-repeat;
height: 29px;
width: 29px;
top: 5px;
}
.olControlPanel .olControlNavigationItemActive span:first-child { 
background:url("../images/pan_on.png") no-repeat;
height: 24px;
width: 24px;
top: 5px;
}
.olControlPanel .olControlNavigationItemInactive span:first-child { 
background:url("../images/pan_off.png") no-repeat;
height: 24px;
width: 24px;
top: 5px;
}
.olControlPanel .olDeleteItemActive span:first-child{
    background:url("../images/add_delete.png") no-repeat;
    height: 24px;
    width: 24px;
    top: 5px;
}
.olControlPanel .olDeleteItemInactive span:first-child{
    background:url("../images/add_delete_off.png") no-repeat;
    height: 24px;
    width: 24px;
    top: 5px;
}

/*---------- 工具条 ------------------------*/
.Gitool{
    position: relative;
    padding: 3px 6px 3px 0;
    color: #333;
    float: left;
    *z-index:400;
}
.Gitool ul{
    display: none;
    position: absolute;
    top:24px;
    z-index: 1000;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
}
.Gitool ul.show{
    display: block;
    z-index: 1000;
}
.Gitool ul li{
    padding: 3px;
    background-color: #fff;
}
.Gitool span{
    display: block;
    width: 60px;
    height: 18px;
    padding-left: 10px;
    text-align: center;
    background: url("../images/tools.png") no-repeat;

}
.Gitool ul span:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}
.Gitool .ico-2{
    background-position: 0 -18px;
}
.Gitool .ico-3{
    background-position: 0 -36px;
}
.Gitool .ico-4{
    background-position: 0 -54px;
}
.Gitool .ico-5{
    background-position: 0 -72px;
}
.Gitool .ico-6{
    background-position: 0 -90px;
}
.Gitool .ico-7{
    background-position: 0 -108px;
}
.Gitool .ico-8{
    background-position: 0 -126px;
}
.Gitool .ico-9{
    background-position: 0 -144px;
}

/* ------- 台风图例 ------------- */
.olpointLegend{
    padding: 10px;    
    border: 1px solid #ccc;
    background: #fff;
}
.olpointLegend ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.olpointLegend ul li{
    height: 16px;
    line-height: 16px;
    color: #34556f;
}
.olpointLegend ul i{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #34556f;
}
/* ------- 预报机构 ------------- */
.ollineLegend{
    padding: 10px;    
    border: 1px solid #ccc;
    background: #fff;
}
.ollineLegend ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.ollineLegend ul li{
    height: 16px;
    line-height: 16px;
    color: #34556f;
}
.ollineLegend ul i{
    display: inline-block;
    width: 10px;
    margin-right: 10px;
    border-top-width: 2px;
    border-top-style: double;
    border-top-color: #34556f;
}
/*----------- 台风信息提示框 --------------*/
.typopup{
    padding-bottom: 10px;
}
.typopup span{
    display: block;
    padding: 3px;
    text-align: center;
    background: #6699CC;
    color: #fff;
    font-size: 14px;    
}
.typopup ul{
    margin: 5px 10px 0;
    padding: 0;
    list-style: none;
    color: #666;
}
.typopup ul li{
    margin-bottom: 2px;
}
.tptxt{
    text-align: center;
    border: 1px solid #ccc;
    line-height: 1;
    background: rgba(255,255,255,0.8);
}
.wind-ring{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: url(../images/windring.png) no-repeat;
    background-size: 100% 100%;
}
.animation{
    animation:myfirst 2s infinite linear;
    -ms-animation:myfirst 2s infinite linear;
    -webkit-animation:myfirst 2s infinite linear;  /* Safari and Chrome */
    -moz-animation:myfirst 2s infinite linear; /* Firefox */
    -o-animation:myfirst 2s infinite linear; /* Opera */
}

@keyframes myfirst
{
    0%   {
            transform: rotate(0deg);
            }
    50% {
        width:48px;
        height: 45px;
    }
    100% {
        transform: rotate(360deg);
        width: 50px;
        height: 50px;
    }
}
@-ms-keyframes myfirst
{
    0%   {
            -ms-transform: rotate(0deg);
            }
    50% {
        width:48px;
        height: 45px;
    }
    100% {
        -ms-transform: rotate(360deg);
        width: 50px;
        height: 50px;
    }
}
@-webkit-keyframes myfirst
{
    0%   {
            -webkit-transform: rotate(0deg);
            }
    50% {
        width:48px;
        height: 45px;
    }
    100% {
        -webkit-transform: rotate(360deg);
        width: 50px;
        height: 50px;
    }
}
@-moz-keyframes myfirst
{
    0%   {
            -moz-transform: rotate(0deg);
            }
    50% {
        width:48px;
        height: 45px;
    }
    100% {
        -moz-transform: rotate(360deg);
        width: 50px;
        height: 50px;
    }
}
@-o-keyframes myfirst
{
    0%   {
            -o-transform: rotate(0deg);
            }
    50% {
        width:48px;
        height: 45px;
    }
    100% {
        -o-transform: rotate(360deg);
        width: 50px;
        height: 50px;
    }
}
.olLabel{
    z-index: 300 !important;
}