<!DOCTYPE html>
<html>
	<head>
		<title>敏感词管理</title>
		<meta charset="UTF-8">
		#parse("commons/commonJs.vm")
		#parse("commons/commonCss.vm")
		#parse("commons/commonRes.vm")
		<link rel="stylesheet" href="${base}/static/css/basic.css">
	    <link rel="stylesheet" href="${base}/static/css/global.css">
	    <link rel="stylesheet" href="${base}/static/css/companyManagement.css">
		<link rel="stylesheet" type="text/css" href="${base}/static/css/personnelManagemen.css"> 
		
		<script type="text/javascript">
		
		
		
		
			
			// 搜索
			function contentSearch() {
				
				var form = document.getElementById('search_form');
				var word = $('#word').val();
				form.action = "${base}/sev/sensitive/sensitiveData";
			    form.target = "dataFrame";
			    form.submit();
			}
			
			//重置
			function clearSerch(){
				$('#word').val('');
				$('#personTypeId').val('');
				contentSearch();
			}
			
			// 页面跳转
			function paginate(currentPage, pageSize){
                $('#currentPage').val(currentPage);
                $('#pageSize').val(pageSize);
                contentSearch();
            }
            
            //新增
		  	function newForm(){
		  		 dataFrame.window.addNew();
			}
			
			//删除
		  	function deleteSensitive(id){
		  		 document.getElementById("id").value = id;
		  		 var form = document.getElementById("f");
		  		 form.action = "${base}/sev/sensitive/deleteSensitive"
		  		 form.method = "post";
		  		 form.submit();
			}
		$(function(){
			$("iframe").height($(".g-bd-cont").height() - $(".m-tool").height() - $(".m-table ul").height());
		});	
		</script>
		<style>
			#frameData{
				width:100%;
				height:100%;
			}
			#word,#menuType{
				width:100%;
			}
        </style>
	</head>
	<body>
		<div class="g-bd-cont">
			<!-- 查询条件栏开始 -->
			<div class="m-tool" >
				<form action="../alarm/historyQuery" method="post" id="search_form" name="search_form">
					<input type="hidden" id="currentPage" name="page" value="$!{currentPage}"/>
                    <input type="hidden" id="pageSize" name="rows" value="$!{pageSize}"/>
					<ul>
						<li>敏感词：</li>
						<li>
							<input type="text" class="btn btn-link m-text-input" style="position: relative;top: 12px; " name="word" id="word" autocomplete="off" value="">
						</li>
						<li>
							<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="contentSearch()">搜索</a>
						</li>
						<li>
							<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="clearSerch()">重置</a>
						</li>
				
						
						<li>
							<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newForm()">添加</a>
						</li>
						
						
						
					</ul>
				</form>
			</div>
			<!-- 查询条件栏结束 -->
			<form id="f">
				<input id="id" name="id" type="hidden"/>
			</form>
			
			<!-- START 数据列表 -->
			<iframe id="frameData" name="dataFrame" src="${base}/sev/sensitive/sensitiveData" scrolling="no" border="0" frameborder="no"  allowTransparency="true" ></iframe>
			<!-- END 数据列表 -->
		</div>
	</body>
</html>
