<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="movinginfo"/>
    <title>杭州市防灾减灾监测预报预警平台--预报信息</title>
    <link rel="stylesheet" href="./static2/css/basic.css">
    <link rel="stylesheet" href="./static2/css/global.css">
    <link rel="stylesheet" href="./static2/css/fzjz_global.css">
    <link rel="stylesheet" href="./static2/css/MapStyle.css">
    <link rel="stylesheet" type="text/css" href="static2/css/gi-gis.css">
    <link rel="stylesheet" type="text/css" href="static2/css/fzjz.css">
    <link rel="stylesheet" type="text/css" href="static2/css/fzjz_media.css">
    <style>
        body {
            overflow: hidden;
            min-height: 550px;
            min-width: 0;
        }

        .m-time-axis {
            width: calc(100% - 260px);
        }

        .m-paly {
            display: inline-table;
            width: 45px;
            height: 46px;
            background: url(./static2/images/play_btn.png) 0 0 no-repeat;
            background-size: 100% 100%;
        }

        .m-paly.stop {
            background-image: url("./static2/images/stop_btn.png");
        }

        .m-nav > ul > li > i {
            background-position: -4px 0;
        }

        .no_data {
            display: none;
            position: absolute;
            z-index: 999;
            width: 192px;
            height: 107px;
            left: calc(50% - 96px);
            top: calc(50% - 53px);
        }

        #export-last {
            position: absolute;
            margin: 0 auto;
            /* right: 3px; */
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            /* width: 550px; */
            padding: 0 10px;
            z-index: 9;
            font-family: "Microsoft YaHei", "SimHei", "san-serif";
            text-align: center;
            border: 1px soild rgba(211, 211, 211, 0.28);
            -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.14);
            -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.14);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.14);
            z-index: 9999;
        }

        .m-tool-box {
            display: none;
        }

        #export-last > label {
            height: 30px;
            line-height: 30px;
        }

        .ignore > label {
            height: 30px;
            line-height: 30px;
        }

        #export-last .closeWindow {
            margin-left: 10px;
        }

        .olControlMousePosition {
            display: none;
        }

        .page {
            padding: 16px;
            height: 14px;
            text-align: right;
            /* width: 97%; */
            font-size: 12px;
            color: #626262;
        }

        .page a {
            padding: 5px 10px;
            background: -webkit-linear-gradient(#f8f8f9, #f0f1f4);
            background: -o-linear-gradient(#f8f8f9, #f0f1f4);
            background: linear-gradient(#f8f8f9, #f0f1f4);
            -moz-box-shadow: 0px 2px 1px #FFF inset;
            -webkit-box-shadow: 0px 2px 1px #FFF inset;
            box-shadow: 0px 2px 1px #FFF inset;
            border: 1px solid #dfdfdf;
            font-size: 12px;
            text-align: center;
            color: #626262;
        }

        .page {
            padding-right: 5%;
            position: fixed;
            bottom: 8%;
            right: 0%;
        }

        .page a:hover, .page .z-on {
            background: -webkit-linear-gradient(#1e2a39, #3a4454);
            background: -o-linear-gradient(#1e2a39, #3a4454);
            background: linear-gradient(#1e2a39, #3a4454);
            -moz-box-shadow: 0px 2px 1px #1e2a39 inset;
            -webkit-box-shadow: 0px 2px 1px #1e2a39 inset;
            box-shadow: 0px 2px 1px #1e2a39 inset;
            color: #FFF;
        }

        .page a .right {
            border-top: 5px solid transparent;
            border-left: 6px solid #ababab;
            border-bottom: 5px solid transparent;
            margin-left: 5px;
            display: inline-block;
        }

        .title {
            color: #fff;
            text-align: center;
            position: relative;
            left: 40px;
        }

    </style>
</head>
<body>
<div class="g-pager">
    <div class="m-nav">
        <ul class="fzjz-save">
        </ul>
    </div>
    <div id="images" style="width:190px;height:302px;float:left;text-align:center;line-height:302px;display:none">
        图片预览区
    </div>
    <div id="export-last" style="width: 620px;height: 310px;background-color: #133246;display:none" >
        <label class="title" style="margin-left: -32px"></label>
        <div class="ignore" style="display:inline">
            <label onclick="closeWindow()" class="closeWindow" style="float: right;color: #fff;cursor:pointer;">关闭</label>
            <label class="export" onclick="saveImg()" style="float: right;color: #fff;cursor:pointer;">导出</label>
        </div>
        <div class="expoerDiv">
        </div>
    </div>
    <div class="maptitle" style="display:none;"></div>
    <div id="map" class="map m-map"></div>
    <div class='no_data'><img src='../static2/images/warning_icon/noWarn.png'/></div>
    <div class="m-decision" style="display:none;">
        <div class="m-pdf">
            <iframe width="100%" height="100%" border="0" src=""></iframe>
        </div>
        <div>
            <div class="decision-title">
                <div class="time-choose">
                    时间筛选&nbsp;&nbsp;
                    <div>
                        <span class="Wdate" id="beginTime" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })"></span>
                        <i></i>
                    </div>
                    <span>—</span>
                    <div>
                        <span class="Wdate" id="endTime" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })"></span>
                        <i></i>
                    </div>
                </div>
                <div class="name-query">
                    <input type="text" id="fileName" value="">
                    <i></i>
                    <button id="confirm">确认</button>
                </div>
            </div>
            <div class="decision-detail">
                <i style="display:none"></i>
                <table>
                    <tbody id="decisionMake">
                    </tbody>
                </table>
                <div class="page" id="pager"></div>
                </td></tr>
            </div>
        </div>
    </div>
</div>
<div class="m-tool-box">
    <ul>
        <li class="m-time">
            <div id="selectDiv">
                <span style="font-size: 14px;">起报时间 </span>
                <i></i>
                <select id="beginTimeSelect" datatype="" >
                </select>
            </div>
        </li>
        <li class="m-time-axis">
            <div class="m-time-axis-box">
                <ul class="m-axis-list">

                </ul>
            </div>
            <div class="m-time-axis-control">
                <table>
                    <tr>
                        <td><img class="m-prev" src="./static2/images/prev_btn.png" title="下一个时次"></td>
                        <td><i class="m-paly" title="播放/暂停"></i></td>
                        <td><img class="m-next" src="./static2/images/next_btn.png" title="下一个时次"></td>
                    </tr>
                </table>
            </div>
        </li>
    </ul>
</div>
</div>
<!--js开始-->
<script type="text/javascript" src="./static2/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="./static2/js/public.js"></script>
<script type="text/javascript" src="./static2/js/lib/openLayers.js"></script>
<script type="text/javascript" src="./static2/js/lib/sea.js"></script>
<script type="text/javascript" src="./static2/js/lib/highcharts.js"></script>
<script type="text/javascript" src="./static2/js/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/static/js/lib/viewer/viewer.min.js"></script>
<script type="text/javascript" src="./static/js/html2canvas.min.js"></script>
<script type="text/javascript" src="./static/js/html2canvas.js"></script>
<script type="text/javascript" src="./static/js/html2canvas.svg.js"></script>
<script type="text/javascript" src="./static/js/base64.js"></script>
<script type="text/javascript" src="./static/js/canvas2image.js"></script>
<script type="text/javascript" src="./static/js/canvg.js"></script>
<script type="text/javascript" src="./static2/js/lib/jsrender.min.js"></script>
<script type="text/javascript" src="./static2/js/lib/layer/layer.js"></script>

<script type="text/javascript">
    seajs.config({
        "base": "./static2/js"
    });
    seajs.use('forecastInfo');
</script>
<script type="text/x-jsrender" id="report_pagerTpl_feedback">
        {{if hasPreviousPage}}
        <a href="#" class='first' onclick="decisionMakingQuery({{:pageNumber - 1}});return false;"><<</a>
        {{else}}
        <<
        {{/if}}
        &nbsp;
        {{for Pages}}
        {{if  Selected}}
        <a class='z-on' href='javascript:decisionMakingQuery({{:pageNumber}})'>{{:pageNumber}}</a>
        {{else}}
        <a href='javascript:decisionMakingQuery({{:pageNumber}})'>{{:pageNumber}}</a>
        {{/if}}
        {{/for}}
        &nbsp;
        {{if hasNextPage}}
        <a href="#" class='last' onclick="decisionMakingQuery({{:pageNumber + 1}});return false;">&gt;&gt;</a>
        {{else}}
        &gt;&gt;
        {{/if}}

</script>
<script>
    // 进行canvas生成
    // function saveImg() {
    //     var targetDom = $("#export-last");
    //     html2canvas(targetDom, {
    //         allowTaint: true,
    //         onrendered: function (canvas) {
    //             //获取svg区域内容
    //             var HighChartsSVG = $('#container').find('svg')[0].outerHTML;
    //             // var HighChartsSVG = $("#container").highcharts().getSVG();
    //             //数据转换
    //             canvg(canvas, HighChartsSVG);
    //             //添加属性
    //             canvas.setAttribute('id', 'thecanvas');
    //             //读取属性值
    //             // var value= canvas.getAttribute('id');
    //             document.getElementById('images').innerHTML = '';
    //             document.getElementById('images').appendChild(canvas);
    //             var oCanvas = document.getElementById("thecanvas");
    //
    //             /*自动保存为png*/
    //             // 获取图片资源
    //             var img_data1 = Canvas2Image.saveAsPNG(oCanvas, true)
    //                     .getAttribute('src');
    //             var fileName = "预报.png";
    //             saveFile(img_data1, fileName);
    //         }
    //     });
    // }

    // 保存文件函数
    var saveFile = function (data, filename) {
        var save_link = document.createElementNS(
                'http://www.w3.org/1999/xhtml', 'a');
        save_link.href = data;
        save_link.download = filename;

        var event = document.createEvent('MouseEvents');
        event.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0,
                false, false, false, false, 0, null);
        save_link.dispatchEvent(event);
    };

    function outerHTML(node) {
        var chating = node.cloneNode(true)
        var myDiv = document.createElement("div");
        myDiv.appendChild(chating);
        var str = myDiv.innerHTML;
        chating = null;
        $(myDiv).remove();
        return str;
    };

    function dataURLtoBlob(dataurl) {
        var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
        while (n--) {
            u8arr[n] = bstr.charCodeAt(n);
        }
        return new Blob([u8arr], {type: mime});
    }

    //导出方法2
    function saveImg() {
        MyHtml2Canvas('export-last', function (canvas) {

            oneValue = document.getElementById("export-last").getAttribute("tempValue");
            var time = new Date()
            var y = time.getFullYear()
            var m = time.getMonth()+1
            var d = time.getDate()
            //导出
            if(oneValue==1){
                var fileName = '街镇精细化预报'+y+m+d+'.png';
            }else{
                var fileName = '旅游景点精细化预报'+y+m+d+'.png';
            }

            if (window.navigator.msSaveOrOpenBlob) {
                var blob = canvas.msToBlob(null, 'image/png', 1.0);
                navigator.msSaveBlob(blob, fileName);
            } else {
                var link = document.createElement("a");
                link.setAttribute("href", canvas.toDataURL());
                link.setAttribute("download", fileName);
                link.style.display = 'none';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        });
    }

    function MyHtml2Canvas(containerId, backcall) {
        scrollTo(0, 0);
        $(".ignore").hide();
        var container = "#" + containerId;//为需要截取成图片的dom的id
        var tmpDiv = "divCanvasTempContainer_";  //临时div
        $("body").append("<div id='" + tmpDiv + "' style='display:none;'></div>");
        if (typeof html2canvas !== 'undefined') {
            //以下是对svg的处理
            var nodesToRecover = [];
            var nodesToRemove = [];
            var svgElem = $(container).find('svg');
            var lstSvgHtml = [];
            svgElem.each(function (index, node) {
                var parentNode = node.parentNode;
                var svg = outerHTML(node).trim();
                lstSvgHtml.push(svg);
                //创建临时的canvas
                $("#" + tmpDiv).html('<canvas class="tempCanvas"></canvas>');
                var canvas = $("#" + tmpDiv + " canvas")[0];
                canvg(canvas, svg);
                if (node.style.position) {
                    canvas.style.position += node.style.position;
                    canvas.style.left += node.style.left;
                    canvas.style.top += node.style.top;
                }
                nodesToRecover.push({
                    parent: parentNode,
                    child: node
                });
                parentNode.removeChild(node);
                nodesToRemove.push({
                    parent: parentNode,
                    child: canvas
                });
                parentNode.appendChild(canvas);
            });
            html2canvas(document.querySelector(container), {
                onrendered: backcall
            });
        }
        //把添加的删除掉，再把删除掉的添加回来
        for (var i = 0; i < nodesToRecover.length; ++i) {
            var parent = $(nodesToRecover[i].parent);
            parent.find(".tempCanvas").remove();
            parent.append(nodesToRecover[i].child);
        }
        //删除临时div
        $("#" + tmpDiv).remove();
        $(".ignore").show();
    }

    //弹窗关闭按钮点击事件
    function closeWindow() {
        $('#export-last').hide();
    }


</script>
<!--js开始-->
</body>
</html>