<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>通州 | 台风</title>

    <meta name="keywords" content="" />
    <meta name="description" content="" />
##    <meta http-equiv="X-Frame-Options" content="sameorigin">
    <link rel="icon" href="${base}/static/images/favicon.ico" />
    <link rel="stylesheet" href="${base}/static/css/typhoon/global.css" />
    <link rel="stylesheet" href="${base}/static/css/typhoon/gi-gis.css" />
    <link rel="stylesheet" href="${base}/static/css/typhoon/typhoon.css" />
    <link rel="stylesheet" href="${base}/static/css/typhoon/typhoon-report.css" />
    <style type="text/css">
        .typhooninfo_control{
            position: absolute;
            top: 16px;
            left: 224px;
            color: #fff;
            font-size: 20px;
            z-index: 999;
            background: #2E6DD7;
            transition: left 2s;
            -moz-transition: left 2s;
            -webkit-transition: left 2s;
            -o-transition: left 2s;
            border-radius: 3px;
            padding: 0 3px;
        }
        .m-typhooninfo-hide .typhooninfo_control{
            left:10px;
        }
        .m-box-bd .m-typhooninfo{
            transition:width 2s;
            -moz-transition:width 2s; /* Firefox 4 */
            -webkit-transition:width 2s; /* Safari and Chrome */
            -o-transition:width 2s; /* Opera */
            overflow: hidden;
        }
        .m-box-bd.m-typhooninfo-hide .m-typhooninfo{
            width:0;
            overflow: hidden;
        }
        #m-map-content{
            margin-bottom:0;
        }
        .m-box-bd .m-typhooninfo{
            overflow: visible;
        }
    </style>
</head>

<body>
<input type="hidden" id="btnVal" style="overflow: visible;" value="drag">
<div class="g-in2">
    <!-- 台风报告单 -->
    <div class="m-box-bd mb15 m-map2" id="m-map-content">
        <!-- 地图容器 -->
        <div class="m-map-bd" id="map"></div>
        <!-- 地图工具面板 -->
        <div class="m-maptools">
            <a href="javascript:void(0)" id="clear_typhoon">清除台风</a>
            #*<span>|</span>
            <a href="#" id="geometryPs" data-val="distance">相似台风</a>
            <span>|</span>
            <a id="export_typhoon_gif" href="#" >导出GIF图</a>
            <div class="btn-group m-maptools-layers">
                <a class="btn btn-link">
                    天气图
                    <i class="ico ico-up"></i>
                </a>
                <div class="dropdown-menu">
                    <i></i>
                    <label data-id="lonlat/href">雷达图</label>
                    <label data-id="fy2/ir2">卫星云图</label>
                    <label data-id="">清空</label>
                </div>
            </div>*#
            <a class="m-maptools-link" id="jwwg">
                | 隐藏经纬网格
            </a>
        </div>
        <!-- 历史台风 -->
        <div class="m-history-typhoon">
            <ul>
                <li class="checked">历史台风</li>
                #*<li>相似台风检索</li>*#
            </ul>
            <div class="m-select-year">
                <span>选择年份</span>
                <select id="selectYear">
                </select>
                <span>关键字查询</span>
                <input type="text" placeholder="关键字">
                <button id="query">确定</button>
            </div>
            <table>
                <colgroup span="1" style="width:35px"></colgroup>
                <colgroup span="2"  style="width:100px"></colgroup>
                <thead>
                <tr><td></td><td>编号</td><td>中文名</td><td>英文名</td></tr>
                </thead>
            </table>
            <div class="typhoon_list">
                <table id="typhoon_history">
                    <colgroup span="1" style="width:35px;border-right: 1px solid #3077f0"></colgroup>
                    <colgroup span="2" >
                        <col style="width:100px;border-right: 1px solid #3077f0">
                        <col style="width:100px;border-right: 1px solid #3077f0">
                    </colgroup>
                    <tbody>
                    </tbody>
                </table>
                <table id="typhoon_similar_route">
                    <colgroup span="1" style="width:35px;border-right: 1px solid #3077f0"></colgroup>
                    <colgroup span="2" >
                        <col style="width:100px;border-right: 1px solid #3077f0">
                        <col style="width:100px;border-right: 1px solid #3077f0">
                    </colgroup>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 时间轴开始 -->
        <div class="m-time-axis">
            <img class="auto_play" src="../../hnqx/static/images/play_icon.png" alt="播放" title="播放">
            <img class="prev_play" src="../../hnqx/static/images/prev_icon.png" alt="上一时次" title="上一时次">
            <div>
                <span>2018-06-24</span>
                <ul>
                    <li class="checked">2018-06-24</li>
                    <li>2018-06-25</li>
                    <li>2018-06-26</li>
                    <li>2018-06-27</li>
                </ul>
            </div>
            <img  class="next_play" src="../../hnqx/static/images/next_icon.png" alt="下一时次" title="下一时次">
        </div>
        <!-- 时间轴结束 -->
        <!-- 预报模式 -->
        <div class="m-forecasting-model">
            <div>
                <span>预报机构</span>
                <i></i>
            </div>
            <ul>
                <li data-id="BABJ"><label><input type="checkbox" checked="checked"><span>中国</span></label><p style="color:#aa1fd3 ">--</p></li>
                <li data-id="VHHH"><label><input type="checkbox" checked="checked"><span>中国香港</span></label><p style="color:#0062FE ">--</p></li>
                <li data-id="RCTP"><label><input type="checkbox" checked="checked"><span>台北预报</span></label><p style="color:#0052f0 ">--</p></li>
                <li data-id="ECWM"><label><input type="checkbox" checked="checked"><span>欧洲预报</span></label><p style="color:#65e2fc ">--</p></li>
                <li data-id="PGTW"><label><input type="checkbox" checked="checked"><span>美国预报</span></label><p style="color:#00FF03 ">--</p></li>
                <li data-id="RJTD"><label><input type="checkbox" checked="checked"><span>日本预报</span></label><p style="color:#007130 ">--</p></li>
                <li data-id="RKSL"><label><input type="checkbox" checked="checked"><span>韩国预报</span></label><p style="color:#00fcff ">--</p></li>
            </ul>
        </div>
        <!--[if lt ie 9 ]>
        <div class="sdw-l"></div>
        <div class="sdw-r"></div>
        <div class="sdw-b"></div>
        <![endif]-->
    </div>


    <script src="${base}/static/js/lib/jquery.js"></script>
    <script src="${base}/static/js/lib/sea.js"></script>
    <script src="${base}/static/js/layer/layer.js"></script>
    <script>
        var baseUrl="/weather/";
        var serverUrl="";
        seajs.config({"base":"${base}/static/js/"});
        seajs.use("typhoon2");
    </script>
    <script>
        window.onload=setTimeout('getclass("skin-")',500);
        function getclass(domclass)
        {
            var body = document.getElementsByTagName("body")[0];
            if(body!="undefined"&&body.className!="undefined"&&body.className.indexOf(domclass) != -1){
                var css = document.createElement('style');
                css.type='text/css';
                var result='.'+body.className+' .g-hd {background-position: top center;}'+
                        '.'+body.className+' .g-hd .m-imgzoom {display: none;}'+
                        '.'+body.className+'.g-hd .links .btn-link  {background: #4D87EA; height: 25px;line-height: 25px;padding: 0 10px;}'+
                        '.'+body.className+' .g-ft {background-position: bottom center;}'+
                        '.'+body.className+' .g-ft .g-in  {background: none;padding-top: 75px;}'+
                        '.'+body.className+' .g-ft .btn-group .btn  {background: #4D87EA;}'+
                        '.'+body.className+' .g-hd,.'+body.className+' .g-ft { background-image: url(/static/images/skins/'+body.className+'.png);}';
                if ((navigator.userAgent.indexOf('MSIE') >= 0)
                        && (navigator.userAgent.indexOf('Opera') < 0) ) {//判断IE浏览器
                    css.styleSheet.cssText = result;
                }
                else {
                    var frag = document.createDocumentFragment();
                    frag.appendChild(document.createTextNode(result));
                    css.appendChild(frag);
                }
                document.getElementsByTagName('head')[0].appendChild(css);
            }

        }
    </script>
##    <script src="${base}/static/js/lib/highcharts.js"></script>
    <script src="${base}/static/js/lib/openLayers.js"></script>
</body>
</html>
