<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="author" content="movinginfo"/>
	<title>登录</title>
	<link rel="stylesheet" href="./static1/css/basic.css">
	<link rel="stylesheet" href="./static1/css/login.css">
	<script type="text/javascript" src="${base}/static/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="${base}/static/js/public.js"></script>
	<script type="text/javascript" src="${base}/static/js/login.js"></script>
</head>
<body>
	<div class="g-pager">
		<div class="pager_hd">
			<img src="./static1/images/login_hd.png">
		</div>
		<div class="pager_bd">
			<i></i>
			<h1>
				欢迎登录通州区<br>
				公共突发事件预警信息发布平台
			</h1>
			<div class="m-login">
				<table>
					<tr>
						<td colspan="2">
							<span>登录</span>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="text" placeholder="用户名" name="username" id="username" class="sign_input "    style="color: rgb(0, 0, 0); ">
							<i class="user_icon"></i>
						</td>
					</tr>
					<tr>
						<td colspan="2">							
							<input type="text" placeholder="部门名称" name="departName" id="departName" class="sign_input "    style="color: rgb(0, 0, 0); ">
							<i class="password_icon"></i>
						</td>
					</tr>
					<tr>
						<td class="m-code">
							
							<input type="text"  placeholder="姓名" id="realname" name="realname" class="sign_input " value="" style="color: rgb(0, 0, 0);">
						</td>
					</tr>
					
					<tr>
					
						<td colspan="2">
						<div id="pwerror"  style=" text-align: center;height: 0px;line-height: 50px;font-size: 26px;color: red;font-weight: bold;display:none;">请输入密码</div>
						#if($error)
              <div id="tips1" style="display:none; text-align: center;height: 0px;line-height: 50px;font-size: 26px;color: red;font-weight: bold; ">$!{error}</div>
    						 #end
							<button onclick="verify()">登录</button>
							
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
<script>

function verify(){
             var realname=$("#realname").val();
             var departName=$("#departName").val();
             var username=$("#username").val();
              $.ajax({
		    type:"post",
			url:"/login",
			dataType:"json",
			data: {realname: realname, departName: departName, username: username,loginType:"1"},
			success:function(data){	
				$("#pwerror").html(data.error1);
				$("#pwerror").show();
				
			},
			error:function (){
			window.location.href= '/sys/index'; 
			}
		})
             return false;
             
		 
    //进行下一步
}
	
	function changeImg(){       
            $("#authCode").attr("src","/sys/dept/imageCode?d="+new Date().valueOf());  
            
                 
        }

	
	//用于获取ie或者火狐兼容的event事件
	function getEvent(){
      if(document.all)    return window.event;
      func=getEvent.caller;
      while(func!=null){
        var arg0=func.arguments[0];
        if(arg0){if((arg0.constructor==Event || arg0.constructor ==MouseEvent) || (typeof(arg0)=="object" && arg0.preventDefault && arg0.stopPropagation)){return arg0;}            }
        func=func.caller;
       }
       return null;
     }


    //回车时，默认是登陆
   function on_return(){
 /*     var event = getEvent();
      if(event.keyCode == 13){
       //   var username = $("#username").get(0).value;
          var password = $("#fpassword").get(0).value;
	      if(departname==null || departname==""){
	          $("#username").focus();
	          return false;
	      }else if(password == null || password==""){
	          $("#fpassword").focus();
	          return false;
	      }else{
	        if (document.all('submit')!=null){
	             document.all('submit').click();
	         }
	      }
      }*/
    } 
		</script>
	
</body>
</html>