<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>应急责任人</title>
        <!-- <meta charset="UTF-8"> -->
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="author" content="movinginfo"/>
        #parse("commons/commonJs.vm")
        #parse("commons/commonCss.vm")
        #parse("commons/commonRes.vm")
        <link rel="stylesheet" href="${base}/static/css/basic.css">
    	<link rel="stylesheet" href="${base}/static/css/global.css">
        <link rel="stylesheet" type="text/css" href="${base}/static/css/personnelManagemen.css"> 
        <link rel="stylesheet"type="text/css" href="/static/layui/css/layui.css">
        <!-- 引用滚动条插件 -->
        <script type="text/javascript" src="${base}/static/js/lib/jquery-niceScroll.js"></script>
        <style>
        body{
            background:none;
        }
        .m-table{
            overflow-y:auto;
            height:100%;
        }
        .m-popup{
				min-height: 235px;
		}
		.m-popup .popup_bd{
			overflow:auto;
		}
        </style>
        <script type="text/javascript">
        	//获取区域下拉框
			function getAreas(){
                $.ajax({
                    type:"POST",
                    url:'${base}/sev/em/getAreas',
                    dataType:"JSON",
                    success:function(data){
                        $("#nareaName").empty();
                        jQuery.each(data, function(i,item){  
                            $("#nareaName").append("<option value='" + item.value + "'>" + item.content + "</option>");
                            if(i==0) {
                            getDepts(item.value); 
                            }
                          });
                    },
                    error:function(data){
                        alert("错误！");
                    }
                });
            }
            //编辑区域
            function getEditArea(){
            var id=document.getElementById('id').value;
                $.ajax({
                    type:"POST",
                    url:'${base}/sev/em/getEditArea?id='+id,
                    dataType:"JSON",
                    success:function(data){
                        $("#uareaName").empty();
                         $("#uareaName").append("<option value='" + data.value + "'>" + data.content + "</option>");
                    },
                    error:function(data){
                        alert("错误！");
                    }
                });
            }
            
             //获取部门下拉框
             function getDepts(areaId){
                $.ajax({
                    type:"POST",
                    url:'${base}/sev/em/getDepts?areaId='+areaId,
                    dataType:"JSON",
                    success:function(data){
                        $("#ndeptName").empty();
                        if(data&&data.length>0){
						   for(var i=0;i<data.length;i++){
						 $("#ndeptName").append("<option value='" + data[i].id + "'>" + data[i].name + "</option>"); 
						          }
						       }
                    },
                    error:function(data){
                        alert("错误！");
                    }
                });
            }
            //编辑部门
            function getEditDept(){
            var id=document.getElementById('id').value;
                $.ajax({
                    type:"POST",
                    url:'${base}/sev/em/getEditDept?id='+id,
                    dataType:"JSON",
                    success:function(data){
                        $("#udeptName").empty();
                         $("#udeptName").append("<option value='" + data.id + "'>" + data.name + "</option>");
                    },
                    error:function(data){
                        alert("错误！");
                    }
                });
            }
            
            //删除
            function del(id){
                $(".m-poplayer").fadeIn(200);
                /*添加popup内容*/
                var _body = '<div class="popup_bd">'
                    + '</div>'
                    + '<div class="popup_bottom">'
                    + '<a href="javascript:void(0)" class="m-btn m-confirm">确定</a>'
                    + '<a href="javascript:void(0)" class="m-btn m-home-cancel">取消</a>'
                    + '</div>';
                /*弹窗位置*/

                //发布弹窗在屏幕中间
                var leftWidth = ($(window).width() - 486) / 2; 
                $(".m-poplayer").find("div.popup_con").css("left", leftWidth).css("height", "90px").width(486).html(_body);
                /*添加popup_bd内容部分*/
                var map = {};
                var informations = '';
                $(".m-poplayer").find("div.popup_bd").append("<ul><li class='publish'><span>确认删除吗？ </span></li></ul>");
                $(".m-poplayer").find("div.popup_bd").find("li.publish").css("border-bottom", "none").css("line-height","25px").css("text-align","center").css("width","476px");
                $(".m-poplayer").find("div.popup_bd").find(".m-text-textarea").css("margin-top","30px").css("width","66%");
                $(".m-poplayer").find("div.popup_bd").find("p.text").css("margin-left","45%");
                $(".m-poplayer").find(".popup_bottom").css("bottom","10px");

                /*点击确定*/
                $(".m-btn.m-confirm").on("click", function () {
                    parent.deleteTemperson(id);
                    
                });
                /*点击取消*/
                $(".m-btn.m-home-cancel").on("click", function () {
                    $(".m-poplayer").fadeOut(200);
                });
            }
            //修改保存
            function isUpdate(){
                var isOk = true;
                var theName = document.getElementById('uname').value;
                if(theName == ""){
                    isOk = false;
                      layer.msg("请输入姓名！");
                    return false;
                }
                if(isOk == true){
                    document.getElementById('name').value = document.getElementById('uname').value;
                    document.getElementById('phone').value = document.getElementById('uphone').value;
                    document.getElementById('areaName').value = document.getElementById('uareaName').value;
                    document.getElementById('deptName').value = document.getElementById('udeptName').value;
                    document.getElementById('ps').value = document.getElementById('ups').value;
                    $.ajax({
                        cache: true,
                        type: "POST",
                        url:"${base}/sev/em/saveOrUpdate",
                        data:$('#f').serialize(),// 你的formid
                        async: false,
                        error: function(request) {
                           // alert("Connection error");
                            layer.msg("Connection error");
                        },
                        success: function(data) {
                            if( data == '该电话号码已存在！' ) {
                            layer.msg(data);
                        }else {
                        parent.location.reload();
                        }
                        }
                    });
                }
            }
            
            
            
            //修改
            function edit(id){
                document.getElementById('id').value = id;
                $.ajax({
                    type:"POST",
                    url:'${base}/sev/em/editTemperson',
                    data:"id="+id,
                    dataType:"JSON",
                    success:function(data){
                        document.getElementById('uname').value = data.name?data.name:'';
                        document.getElementById('uphone').value = data.phone?data.phone:'';
                        document.getElementById('areaName').value = data.areaName?data.areaName:'';
                        document.getElementById('deptName').value = data.deptName?data.deptName:'';
                        document.getElementById('ups').value = data.ps?data.ps:'';
                        getEditArea();
                        getEditDept();
                        if(document.getElementById('uphone').value.length>0){
					validatemobile(document.getElementById('uphone').value);
					}
                    },
                    error:function(data){
                        alert("错误！");
                    }
                });
                $("#updateDiv").show();
                $("#newDiv").hide();
            }
            
            
            
            
            //新增
	            function addNew(){
	            getAreas();
                document.getElementById('nname').value = '';
                document.getElementById('nphone').value = '';
                document.getElementById('areaName').value = '';
                document.getElementById('deptName').value = '';
                document.getElementById('nps').value = '';
                var nareaName = document.getElementById("nareaName");
	            nareaName.onclick=function(){
	            var areaId= $('#nareaName option:selected') .val();
	            getDepts(areaId);
			        }
			     
                $("#newDiv").show();
                $("#updateDiv").hide();
            }
			
            
            function alertBox(value){
                $(".m-poplayer").fadeIn(200);
                _body = '<div class="popup_bd">'
                    + '</div>'
                    + '<div class="popup_bottom">'
                    + '</div>';
                /*弹窗位置*/
                //发布弹窗在屏幕中间
                var leftWidth = ($(window).width() - 486) / 2; 
                $(".m-poplayer").find("div.popup_con").css("left", leftWidth).css("height", "50px").width(486).html(_body);
                /*添加popup_bd内容部分*/
                $(".m-poplayer").find("div.popup_bd").append("<ul><li class='publish'><span>"+value+"</span></li></ul>");
                $(".m-poplayer").find("div.popup_bd").find("li.publish").css("border-bottom", "none").css("line-height","25px").css("text-align","center").css("width","476px");
                $(".m-poplayer").find("div.popup_bd").find(".m-text-textarea").css("margin-top","30px").css("width","66%");
                $(".m-poplayer").find("div.popup_bd").find("p.text").css("margin-left","45%");
                setTimeout(function () { 
                    $(".m-poplayer").fadeOut(200);
                }, 2000);
            }
            
            //新增保存
            function isAdd(){
                var isOK = true;
                //姓名
                var theName = document.getElementById('nname').value;
                if(theName == ""){
                    isOK = false;
                    layer.msg("请输入姓名！");
                    return false;
                }
                //电话
                var thePhone = document.getElementById('nphone').value;
                if(thePhone == ""){
                    isOK = false;
                    layer.msg("请输入电话！");
                    return false;
                }
                //区域名
                var theAreaName = document.getElementById('nareaName').value;
                if(theAreaName == ""){
                    isOK = false;
                    layer.msg("请输入区域名！");
                    return false;
                }
                
                //部门名
                var theDeptName = document.getElementById('ndeptName').value;
                if(theDeptName == ""){
                    isOK = false;
                    layer.msg("请输入部门名！");
                    return false;
                     }
               
              //备注
                var thePs = document.getElementById('nps').value;
                if(thePs == ""){
                    isOK = false;
                    layer.msg("请输入备注！");
                    return false;
                    }
             
                
                if(isOK == true){
                    document.getElementById('id').value = '';
                    document.getElementById('name').value = document.getElementById('nname').value;
                    document.getElementById('phone').value = document.getElementById('nphone').value;
                    document.getElementById('areaName').value = document.getElementById('nareaName').value;
                    document.getElementById('deptName').value = document.getElementById('ndeptName').value;
                    document.getElementById('ps').value = document.getElementById('nps').value;
                    if(document.getElementById('nphone').value.length !=0){
					validatemobile(document.getElementById('nphone').value);
					}
                    $.ajax({
                        cache: true,
                        type: "POST",
                        url:"${base}/sev/em/saveOrUpdate",
                        data:$('#f').serialize(),// 你的formid
                        async: false,
                        error: function(request) {
                            alert("Connection error");
                        },
                        success: function(data) {
                        if( data == '该电话号码已存在！') {
                            layer.msg(data);
                        }else {
                        parent.location.reload();
                        }
                        }
                    });
                }
            }
            
            function validatemobile(mobile) 
		   { 
		       if(mobile.length==0) 
		       { 
		          //alert('请输入手机号码！'); 
		          layer.msg("请输入手机号码！");
		          document.form1.mobile.focus(); 
		          return false; 
		       }     
		       if(mobile.length!=11) 
		       { 
		           //alert('请输入有效的手机号码！'); 
		           layer.msg("请输入有效的手机号码！");
		           document.form1.mobile.focus(); 
		           return false; 
		       } 
		        
		       var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/; 
		       if(!myreg.test(mobile)) 
		       { 
		           //alert('请输入有效的手机号码！'); 
		           layer.msg("请输入有效的手机号码！");
		           document.form1.mobile.focus(); 
		           return false; 
		       } 
		   }
            
            
        </script>
        
    </head>
    <body>
        <!--弹窗开始-->
        <div class="m-poplayer">
            <div class="popup_con"></div>
        </div>
        <!--弹窗结束-->
        <form id="f">
            <input id="id" name="id" type="hidden"/>
            <input id="name" name="name" type="hidden"/>
            <input id="phone" name="phone" type="hidden"/>
            <input id="areaName" name="areaName" type="hidden"/>
            <input id="deptName" name="deptName" type="hidden"/>
            <input id="ps" name="ps" type="hidden"/>
        </form>
		 <!--弹窗结束-->
        <form id="f2">
            <input id="id2" name="id" type="hidden"/>
            <input id="id3" name="id" type="hidden"/>
            <input id="id4" name="id" type="hidden"/>
            <input id="id5" name="id" type="hidden"/>
        </form>
        
        <!--修改弹窗 -->
        <div id="newDiv" class="m-popup">
            <div class="popup_hd">
                <span>应急责任人添加</span>
            </div>
            <div class="popup_bd">
                    <table>
                        <tr>
                            <td class="rtit">姓名</td>
                            <td><input type="text" id="nname" value=""></td>
                        </tr>
                        <tr>
                            <td class="rtit">电话</td>
                            <td><input type="text" id="nphone" value=""></td>
                        </tr>
                        <tr>
                            <td class="rtit">区域名</td>
                            <td>
                                <select id="nareaName">
                                    <option value =""></option>
                                </select>
                            </td>
                        </tr>
                       <tr>
                            <td class="rtit">部门名</td>
                            <td>
                                <select id="ndeptName">
                                    <option value =""></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="rtit">备注</td>
                            <td><input type="text" id="nps" value=""></td>
                        </tr>
                    </table>
                <ul>
                    <li>
                        <button class="abandon">取消</button>
                    </li>
                    <li>
                        <button class="m-event-button" onclick="isAdd()">确定</button>
                    </li>
                </ul>
            </div>
        </div>
        
        
        <!--修改弹窗 -->
        
        <div id="updateDiv" class="m-popup">
            <div class="popup_hd">
                <span>应急责任人修改</span>
            </div>
            <div class="popup_bd">
                    <table>
                        <tr>
                            <td class="rtit">姓名</td>
                            <td><input type="text" id="uname" value=""></td>
                        </tr>
                        <tr>
                            <td class="rtit">电话</td>
                            <td><input type="text" id="uphone" value=""></td>
                        </tr>
                        <tr>
                            <td class="rtit">区域名</td>
                            <td>
                                <select id="uareaName">
                                    <option value =""></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="rtit">部门名</td>
                            <td>
                                <select id="udeptName">
                                    <option value =""></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="rtit">备注</td>
                            <td><input type="text" id="ups" value=""></td>
                        </tr>
                    </table>
                <ul>
                    <li>
                        <button class="abandon">取消</button>
                    </li>
                    <li>
                        <button class="m-event-button" onclick="isUpdate()">确定</button>
                    </li>
                </ul>
            </div>
        </div>
        
        
        </div>
        <div class="m-table" >
            <table>
                <thead>
                        <td>姓名</td>
                        <td>电话</td>
                        <td>区域名</td>
                        <td>部门名</td>
                        <td>备注</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                
                  #set($list = $!{page.get("list")})##
                    #foreach($tem in $list)##
                        <tr  value='$!{tem.get("id")}'>
                            <td>$!{tem.get("name")}</td>
                            <td>$!{tem.get("phone")}</td>
                            <td>$!{tem.get("areaName")}</td>
                            <td>$!{tem.get("deptName")}</td>
                            <td>$!{tem.get("ps")}</td>
							<td>
							 <button onclick="edit($!{tem.get("id")})">修改</button>
							 <button class="details btn-delete" onclick="del($!{tem.get("id")})">删除</button>
							</td>
                        </tr>
                    #end##
                </tbody>
            </table>
            #parse("commons/pagerTemplate.vm")	
          
            
            
        </div>
    </body>
</html>