<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="movinginfo"/>
    <title>黄岩公共突发事件预警发布平台-发布责任单位-审核页面</title>
    <link rel="stylesheet" href="/static/css/basic.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/publishApplication.css">
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
        function info(id){
            $.ajax({
                type:"POST",
                url:'${base}/sev/check/getCheck',
                data:"id="+id,
                dataType:"JSON",
                success:function(data){
                    console.log(data);
                    var pubRange = data.pubRange;
                     var title = data.title;
                     var alarmTypeName = data.alarmTypeName;
                    $("#iDiv").empty();
                    $("#pDiv").empty();
                    var html = "";
                        html += '<tr class="col">' +
                                '<td>' + data.pubRange + '</td>' +
                                '<td>' + data.content + '</td>' +
                                '<td>' + data.alarmTypeName + '</td>' +
                                '</tr>'
                    $("#detailler").html(html);
                },
                error:function(data){
                    alert("错误！");
                }
            });

        };
        
        //
        function isAdd(id) {
            $.ajax({
                type:post,
                dataType:"json",
                url:'${base}/sev/check/saveAlarm',
                data:"id="+id,
                success : function (data) {

                    
                },
                error :function () {
                    
                }

            })

            
        }

        function cancle() {
            $("#newDiv").hide();
        }

        //转发的弹框
        function isrelay(id) {
            document.getElementById("id").value=id;
            $("#newDiv").show();
        }

        function getInfo(pubNo,version){
            $.ajax({
                async : false,
                type : "POST",
                url : "${base}/sev/check/getText",
                data : {pubRange:pubRange,title:title,alarmTypeName:alarmTypeName},
                dataType : "json",
                success : function(d) {
                    var text ="";
                    for(var i=0;i<d.data.length;i++){
                        var dataList = d.data[i];
                        var state ="";
                        var resultDate = "";
                        var feedback = "";
                            feedback = "<a href='/sev/publish/query?instanceId="+dataList.id+"' target='_blank'></a>";
                        var txt1 = dataList.content;
                        if(txt1.length>30){
                            txt1 = txt1.substring(0,30)+"...";
                        }
                        if(i%2==0){
                            text += " <tr class=\"co1\"><td>"+dataList.channel+"</td><td title='"+dataList.content+"'>"+txt1+"</td>"
                                    + "<td>"+state+feedback+"</td><td>"+resultDate+"</td><td><a class=\"details\"></a></td></tr>";
                        }else{
                            text += " <tr><td>"+dataList.channel+"</td><td>"+dataList.content+"</td>"
                                    + "<td>"+state+feedback+"</td><td>"+resultDate+"</td><td><a class=\"details\"></a></td></tr>";
                        }
                    }
                    $("#detailler").html(text);
                }
            });
        }

    </script>
    <style>
        button.abandon {
            background: rgba(99, 99, 99, 0.21);
            color: #333;
            display: block;
            height: 25px;
            width: 55px;
            margin-top: 70px;
            margin-left: 20px;
            /*margin-top: 100px;*/
        }
        #xiaoxi{

        }
        #sure{
            display: block;
            margin-left:100px;
            margin-top: -24px;
        }
        button.m-event-button{

        }
        .m-popup{
            min-height: 300px;
            min-width: 300px;
        }
        .m-popup .popup_bd{
            overflow:auto;
        }
        #ttDiv{
            display:none;
        }
        .l77{
            left:-77px;
        }
        #left{

            height: 100%;
            width: 30%;
        }
        .g-bd-right{
            height:100% !important;
        }
        li #cancle ,#sure{
         float: left;
            margin-left: 200px;

            /*margin-top: 50%;*/
            /*margin-left: 13%;*/
        }
        m-checkbox.checkbox_style.disabled i{
            background-position: -1px -2px!important;
        }

    </style>
</head>
<body>

<!--弹窗开始-->
<div class="m-poplayer">
    <div class="popup_con"></div>
</div>
<!--弹窗结束-->
<form id="f">
    <input id="id" name="id" type="hidden"/>
    <input id="smsGroup" name="smsGroup" type="hidden"/>
    <input id="fax_num" name="fax_num" type="hidden"/>
</form>
<!--弹窗结束-->
<form id="f2">
    <input id="id2" name="id" type="hidden"/>
    <input id="id3" name="id" type="hidden"/>
    <input id="id4" name="id" type="hidden"/>
    <input id="id5" name="id" type="hidden"/>
</form>
<form action="" method="post" id="form" name="form">
<div id="newDiv" class="m-popup">
    <div class="popup_hd">
        <span id="xiaoxi">短信组</span>
    </div>
    <ul>
        <span class="fl" id="smsGroup">短信分组:&nbsp&nbsp</span>
            <div class="checkbox_bd" id="publish-way">
               #foreach($de in ${peopleGroups})
                <div class="m-checkbox checkboxSms" id="id_$!de.name" >
                    <input name="decisionCheckBoxes" type="checkbox" class="radioclass" value="$!de.id" nid="$!de.name" >
                    <i class="checkbox"  value="$!de.id" data-type="$!de.id"></i>
                    <span>$!de.name</span>
                </div>
            #end
        </div>
    </ul>
         <li>
        <button class="abandon">取消</button>
         </li>
            <li>
                <button class="m-event-button" id="sure">确定</button>
            </li>
        </ul>
    </div>
</div>
</form>




<!--左边开始-->
<div class="g-bd-right fl">


    <!--代办开始-->
    <div class="g-bd-right-modular">


        #foreach($la in $!{listAlarm})
            <!--待办内容开始-->
            <div class="g-bd-right-cont">
                <!--事件说明开始-->
                <div class="m-event left-event">

                    <div class="m-event-schedule left-event-schedule">

                        <!--详情开始-->
                        <button onclick="info($!{la.id})" class="m-event-button">详情</button>
                        <!--详情结束-->
                        <ul>
                            <!--事件进度时间开始-->
                            <li class="m-event-schedule left-event-explain">
                                #if($!la.pubState == "0")
                                    <p><span>$!date.format('yyyy/MM/dd HH:mm:ss ',$!{la.pubDate})</span><span></span><span></span></p>
                                #elseif($!la.pubState == "4")
                                    <p><span>$!date.format('yyyy/MM/dd HH:mm:ss ',$!{la.pubDate})</span><span>$!date.format('yyyy/MM/dd HH:mm:ss ',$!{la.auditDate})</span><span>$!date.format('yyyy/MM/dd HH:mm:ss ',$!{la.releaseDate})</span></p>
                                #end


                            </li>

                            </li>
                            <!--事件进度说明开始-->
                        </ul>
                    </div>
                    <!--事件1进度结束-->
                </div>
                <!--事件说明开始-->
            </div>
            <!--待办内容结束-->
        #end
    </div>



    <!--待办结束-->

    <!--3正在发布-->
    <div class="g-bd-right-modular">
        <!--标题开始-->
        <div class="g-bd-tit">
            #if($!deptName =="yjb")
                <span>正在发布，共$listRelayAlarm.size()条</span>
            #else
               <span>待转发</span>
            #end
        </div>
        <!--标题结束-->
        #foreach($la in $!{listRelayAlarm})
            <!--内容开始-->
            <div class="g-bd-right-cont">
                <!--事件说明开始-->
                <div class="m-event left-event">
                    <!--事件名称及时间开始-->
                    <p><span class="m-event-tit">$!la.title</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="m-event-time"> $!date.format('yyyy/MM/dd HH:mm:ss ',$!{la.pubDate})</span></p>
                    <!--事件名称及时间开始-->
                    <!--事件1进度开始-->
                    <div class="m-event-schedule ">
                        <!--详情开始-->
                        <button onclick="isrelay($!{la.id})" class="m-event-button" style="margin-right: 65px">转发</button>
                        <button onclick="info($!{la.id})" class="m-event-button">详情</button>
                            <!--详情开始-->
                        <!--详情结束-->

                        <ul>
                            <!--事件进度时间开始-->
                            <li class="m-event-schedule left-event-explain">

                            </li>

                            <!--事件进度说明开始-->
                        </ul>
                    </div>
                    <!--事件1进度结束-->
                </div>
                <!--事件说明开始-->
            </div>
            <!--内容开始-->
        #end
    </div>
    <!--3正在结束-->

    <!--4最近发布开始-->
    <div class="g-bd-right-modular">
        <!--标题开始-->
        <div class="g-bd-tit">
            #if($!deptName =="yjb")
                <span>最近发布，共$relaySuccess.size()条</span>
            #else
                <span>已转发</span>
            #end
        </div>
        <!--标题结束-->
        #foreach($la in $!{relaySuccess})
            <!--内容开始-->
            <div class="g-bd-right-cont">
                <!--事件说明开始-->
                <div class="m-event left-event">
                    <!--事件名称及时间开始-->
                    <p><span class="m-event-tit">$!la.title</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="m-event-time"> $!date.format('yyyy/MM/dd HH:mm:ss ',$!{la.pubDate})</span></p>
                    <!--事件名称及时间开始-->
                    <!--事件1进度开始-->
                    <div class="m-event-schedule ">
                        <!--详情开始-->
                        <button onclick="info($!{la.id})" class="m-event-button">详情</button>
                            <!--详情结束-->
                        <ul>


                                <!--事件进度时间轴进度结束-->
                            </li>
                            <!--事件进度时间轴结束-->
                            <!--事件进度说明开始-->
                        </ul>
                    </div>
                    <!--事件1进度结束-->
                </div>
                <!--事件说明开始-->
            </div>
            <!--内容开始-->
        #end
    </div>
    <!--4最近发布结束-->

</div>
<!--代办结束-->
<!--右边开始-->

<div class="g-bd-right">
    <!--渠道总汇开始-->
    <div class="g-bd-right-modular h100">
        <!--标题开始-->
        <div class="g-bd-tit">
            <span>详情</span>
        </div>
        <!--标题结束-->
        <!--表格-->
        <div class="m-table">
            <table>
                <thead>
                <tr>

                    <div>
                    <td id="left">街道</td>
                    </div>
                    <div>
                    <td id="left" class="message">内容</td>
                    </div>
                    <div>
                       <td id="left">类型</td>
                    </div>

                   #* <td>状态</td>
                    <td>进度</td>*#
                #*<td>过程</td>*#
                </tr>

                </thead>
                <tbody id="detailler">
                </tbody>
            </table>
        </div>
    </div>
    <!--渠道总汇开始-->
</div>


<!--右边结束-->
<!--js开始-->

<script type="text/javascript" src="/static/js/publishApplicationCenter.js"></script>
<script>
    //转发弹框点击确定的时候
    $("#sure").click(function () {
        var dos = $("i[data-type]");
        var ids = "";
        for(var i=0;i<dos.length;i++) {
            if(dos[i].getAttribute("class") == "checkbox on_check") {
                var value = $(dos).eq(i).attr("data-type");
                ids += value +",";
            }
        }
        document.getElementById("smsGroup").value = ids;
        var id = document.getElementById("id").value;
        $.ajax({
            type: "get",
            data: {'smsGroup': ids,'id':id},
            url: "${base}/sev/check/getData",
            success: function (data) {

            }
        })
    })

    $("i.checkbox").on("click", function () {
        $(this).toggleClass("on_check");
        if($(this).is('.on_check')){
            $(this).parent().find("input.radioclass").prop("checked","true");
        }else{
            $(this).parent().find("input.radioclass").removeAttr("checked");
        }
        var isChange = $(this).parent().find(".radioclass").prop("checked");
        var dataId = $(this).attr("data-id");

        if(isChange){ // 如果选中,则父节点下的所有的子节点都选中
            // 获取当前checkbox节点的兄弟节点下的所有的checkbox子节点选中
            $(this).parents(".checkbox_bd").find(".checkboxArea").find(".radioclass").prop("checked", true);
            $(this).parents(".checkbox_bd").find(".checkboxArea").find(".checkbox").addClass("on_check");
            if(dataId !=undefined){
                $('.checkbox[data-id="'+dataId+'"]').parents(".m-checkbox.checkboxArea").find(".radioclass").prop("checked", true);
                $('.checkbox[data-id="'+dataId+'"]').parents(".m-checkbox.checkboxArea").find(".checkbox").addClass("on_check");
                //$('.checkbox[data-id="'+dataId+'"]').trigger("click");
            }else{
                $(".decisionCheckBoxes").parents(".checkbox_bd").find(".radioclass").prop("checked", true);
            }
        }else{ // 未选中，取消全选
            // 获取当前checkbox节点的兄弟节点下的所有的checkbox子节点选中
            $(this).parents(".checkbox_bd").find(".checkboxArea").find(".radioclass").removeAttr("checked");
            $(this).parents(".checkbox_bd").find(".checkboxArea").find(".checkbox").removeClass("on_check");
            $('.checkbox[data-id="'+dataId+'"]').parents(".m-checkbox.checkboxArea").find(".radioclass").prop("checked", false);
            $('.checkbox[data-id="'+dataId+'"]').parents(".m-checkbox.checkboxArea").find(".checkbox").removeClass("on_check");
            if(dataId !=undefined){
                $('.checkbox[data-id="'+dataId+'"]').parents(".m-checkbox.checkboxArea").find(".radioclass").prop("checked", false);
                $('.checkbox[data-id="'+dataId+'"]').parents(".m-checkbox.checkboxArea").find(".checkbox").removeClass("on_check");
            }else{
                $(".checkboxAreaAll").parents(".checkbox_bd").find(".radioclass").prop("checked", false);
                $(".checkboxAreaAll").parents(".checkbox_bd").find(".checkbox").removeClass("on_check");
                $(".checkboxAreaAll").removeClass("on_check");
                $('ul[name="countryUl"]').hide();
            }
        }



    });
</script>

<script type="text/javascript" src="/static/js/highcharts.js">

</script>

<!--js开始-->
</body>
</html>