.city-select-title{
	display: block;
	height: 1.066667rem;
	line-height: 1.066667rem;
	width: 100%;
	padding-left: 0.4rem;
	font-size: 0.426667rem;
	color: #666;
}
.city-select{
	padding: 0.266667rem 0.4rem 0 0.4rem;
	background-color: #fff;
}
.city-ele li{
	display: inline-block;
	padding:0 0.333333rem;
	height: 0.6rem;
	border: 1px solid #f2f2f4;
	border-radius: 5px;
	box-sizing: border-box;
	text-align: center;
	line-height: 0.6rem;
	font-size: 0.32rem;
	color: #666;
	margin-right: 0.08rem;
	margin-bottom: 0.266667rem;
}
.city-ele li.selected {
	background-color: #41a8ff;
	color:#fff;
	border: 1px solid #41a8ff;
}
.confirm{
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: 0.48rem;
	left: 5%;
	position: absolute;
	bottom: 2.133333rem;
	color: #fff;
	width: 90%;
	background-color:#41a8ff;
}
.not{
	background-color:#ddd;
}