.container{
	width:100%;
	margin-top:0.266667rem;
	box-sizing:border-box;
	background-color:#fff;
}
.top{
	height:2.666667rem;
	width:100%;
	padding-left:0.4rem;
	border-bottom:1px solid #e5e5e5;
}
.top i{
	float:left;
	display:inline-block;
	height:2.133333rem;
	width:2.533333rem;
	margin-top:0.266667rem;
	background-image:url(../images/warning_icon/暴雨蓝色.jpg);
	background-size:100% 100%;
}
.top ul{
	padding:0.266667rem 0.533333rem;
	float:left;
	box-sizing:border-box;
	width: 70%;
}
.top ul span{
	display:inline-block;
	font-size:0.4rem;
	color:#666;
	line-height:0.7rem;
}
.title{
	font-size:0.453333rem!important;
	color:#000!important;
}
.con{
	width:100%;
	padding-left:0.266667rem;
	box-sizing:border-box;
	background-color:#fff;
}
.range i{
	position:absolute;
	display:inline-block;
	width:0.666667rem;
	height:0.666667rem;
	background-image:url(../images/range.png);
	background-size:100% 100%;
	top:50%;
	left:0.1rem;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
}
.way i{
	position:absolute;
	display:inline-block;
	width:0.666667rem;
	height:0.666667rem;
	background-image:url(../images/way.png);
	background-size:100% 100%;
	top:50%;
	left:0.1rem;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
}
.pub-con i{
	position:absolute;
	display:inline-block;
	width:0.666667rem;
	height:0.666667rem;
	background-image:url(../images/pub-con.png);
	background-size:100% 100%;
	top:0.55rem;
	left:0.1rem;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
}
.pub-con span:nth-child(2){
	position: absolute;
    top: 0;
}
.pub-con span:last-child{
	max-width: 64%;
	margin:0.3rem 0;
	margin-left:32.5%!important;
    line-height: 0.6rem;
}
.con li{
	position:relative;
	border-bottom:1px solid #e5e5e5;
}
.con li span{
	display:inline-block;
	font-size:0.4rem;
	line-height:1.2rem;
}
.con li span:nth-child(2){
	color:#000;
	margin-left:1.1rem;
}
.con li span:last-child{
	color:#666;
	margin-left:0.4rem;
}
.uploaded i{
	position:absolute;
	top:0.4rem;
	right:0.4rem;
	display:inline-block;
	width:0.24rem;
	height:0.4rem;
	background-image:url(../images/more.png);
	background-size:100% 100%;
}
.show{
	display:block;
	margin:0.2rem 37.5vw;
	width:25vw;
	height:25vw;
}