@charset "UTF-8";
body{	
	background-color:#fff;
	background:url(../images/login_bg.png);
	background-size:100% 7.066667rem;
	background-repeat: no-repeat;
	background-color:#fff;
}
.container{
	position:relative;
	height: 100%;
}
/*头部*/
.top-nav{
	position: relative;
	z-index: 1;
	height: 1.173333rem;
	width: 100%;
	box-sizing: border-box;
	display:none;
}
.top-nav span{
	color: #fff;
}
.top-nav i{
	left: 0.4rem;
	height: 0.466667rem;
	width: 0.266667rem;
	background: url(../images/back.png);
	background-size: 100% 100%;
}
.top-back{
	left: 0.933333rem;
	font-size: 0.426667rem;
	line-height: 1.173333rem;
}
.top-title{
	font-size: 0.48rem;
	line-height: 1.173333rem;
}
.top-more{
	font-size: 0.426667rem;
	right: 0.4rem;
	line-height: 1.173333rem;
}
/*main 中间主体部分*/
.m-dept{
	display:none;
}
.main{
	margin-top:8.016666rem;
	width:100%;
	height:4.4rem;
}
.login-info{
	height:3.333333rem;
	width:7.066667rem;
	margin:0 auto;
}
.dept{
	border-bottom:1px solid #ddd;
	padding:0 0.133333rem;
	height:0.666667rem;
	line-height: :0.666667rem;
	position:relative;
	
}
.dept>span{
	font-size: 0.373333rem;
	color:#999;
}
.dept>img{
	width:0.333333rem;
	height:0.2rem;
	position:absolute;
	top:0.133333rem;
	right:0.133333rem;

}
.m-style{
	margin-top:0.666667rem;
}
.dept>ul{
	display:none;
	width:7.066667rem;
	height:3.666667rem;
	position:absolute;
	top:0.666667rem;
	left:-0.026667rem;
	border:1px solid #fff;
	box-shadow: 0 0 3px #3399ff;
	z-index: 2;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: #fff;
}
.dept>ul>li{
	border-top:1px solid #ddd;
	height:0.893333rem;
	line-height: 0.893333rem;
	color:#999;
	font-size: 0.373333rem;
	padding-left:0.133333rem;

}
.dept>ul>li:first-child{
	border-top:none;
}
.dept>input{
	font-size: 0.373333rem;
	color:#999;
}

/*底部*/
.footer{
	margin-top:0.533333rem;
	text-align: center;
}
.footer>button{
	width:9.133333rem;
	height:1.173333rem;
	background:#3399ff;
	border-radius:10px;
	color:#fff;
}