@charset "UTF-8";
body{
  min-width: 1080px;
  min-height: 720px;
}
.pager_hd{
  height: 12.5%;
}
.pager_hd img{
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  height: 80%;
  margin-left: 25px;
}
.pager_bd{
  position: relative;
  height: 81%;
}
.pager_bd>i{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/guide_bk.png") 0 0 no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}
.pager_bd h1{
  line-height: 84px;
  font-size: 56px;
  color: #fff;
  position: relative;
  top: 13%;
  padding: 0 3%;
  display: inline-table;
  font-weight: 500;
  float: left;
}
.m-img-btn{
  float: right;
  margin-right: 9%;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
}
.m-img-btn li{
    position: relative;
    text-align: center;
    cursor: pointer;
}
.m-img-btn span{
    position: absolute;
    width: 80%;
    text-align: center;
    color: #fff;
    font-size: 26px;
    top: 50%;
    left: 10%;
}
.m-img-btn img{
  display: block;
  width: 320px;
}
.burst_btn{
  position: relative;
  right: 420px;
  margin-top: -80px;
}
.m-img-btn li:hover{
  opacity: 0.8;
}

@media screen and (max-width: 1600px){
  .pager_bd h1{
    line-height: 78px;
    font-size: 48px;
  }
}
@media screen and (max-width: 1280px){
  .pager_bd h1{
    line-height: 68px;
    font-size: 38px;
  }
  .m-img-btn img{
    width: 280px;
  }
  .burst_btn{
    right: 344px;
  }
  .m-img-btn span{
    font-size: 24px;
  }
}