@charset "UTF-8";
body{
  min-width: 1080px;
  min-height: 500px;
}
.pager_hd{
  height: 12.5%;
}
.pager_hd img{
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  height: 80%;
  margin-left: 25px;
}
.pager_bd{
  position: relative;
  height: 81%;
}
.pager_bd>i{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/login_bk.png") 0 0 no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}
.pager_bd h1{
  line-height: 84px;
  font-size: 56px;
  color: #fff;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  text-align: center;
  padding: 0 60px;
  display: inline-table;
  font-weight: 500;
  float: left;
}
.m-login{
  float: right;
  position: absolute;
  width: 400px;
  right: 7%;
  background: #fff;
  border-radius: 10px;
  padding: 15px 30px;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform:translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.m-login span{
  font-size: 22px;
  color: #323232;
  line-height: 60px;
  height: 60px;
  display: inline-table;
  border-bottom: 2px solid #2966cc;
}
.m-login td{
  height: 5em;
  position: relative;
  width: 50%;
}
.m-login td img{
  position: absolute;
  bottom: 2px;
  right: 0;
  height: 34px;
}
.m-login td i{
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 9px;
  right: 0;
}
.m-login td i.user_icon{
  background: url("../images/user_icon.png") 0 0 no-repeat;
}
.m-login td i.password_icon{
  background: url("../images/password_icon.png") 0 0 no-repeat;
}
.m-login input{
  height: 36px;
  position: absolute;
  width: calc(100% - 20px);
  padding-right: 20px;
  left: 0;
  bottom: 0;
  line-height: 36px;
  font-size: 16px;
  color: #333;
  border-bottom: 2px solid #ccc;
}
.m-code input{
  width: 100%;
}
input:focus{
  border-bottom-color: #75c7f3 !important;
}
.m-login button{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #1f66cc;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    margin-top: 45px;
    margin-bottom: 10px;
}
.m-login button:hover{
  opacity: 0.8;
}

@media screen and (max-width: 1600px){
  .pager_bd h1{
    line-height: 78px;
    font-size: 48px;
  }
}
@media screen and (max-width: 1280px){
  .pager_bd h1{
    line-height: 68px;
    font-size: 38px;
  }
}