@charset "utf-8";
/*左侧样式*/
.g-bd-left-cont ul li{
    border-right: 1px solid rgba(190, 190, 216, 0.2);
    border-bottom: 1px solid rgba(190, 190, 216, 0.2);  
    padding: 26px 0 12px 0;
    float: left;
    width: 20%;
}
.g-bd-left-cont ul li:hover{
    background: rgba(17, 17, 17, 0.13);
}
.g-bd-left-cont ul li:last-child{
    border-right:none;
}
.g-bd-left-cont ul li img{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}
.g-bd-left-cont ul li span{
    height: 38px;
    line-height: 38px;
    color: #333;
    display: block;
    text-align: center;
}
.g-bd-left-con{
    overflow-y: auto;
}
.g-bd-left-con ul{
	position:relative;
    margin-bottom: 18px;
    font-size: 0;
}
.g-bd-left-con ul>*{
    font-size: 14px;
}
.g-bd-left-con ul li.pl10{
	position:absolute;
	left:50%;
    padding-left: 22px;
}
.g-bd-left-con ul li span{
    height: 36px;
    line-height: 36px;
    text-align: right;    
    padding-right: 18px;
    display: inline-block;
    font-size:14px;
    width: auto!important;
}
#limitWord{
    width: calc(100% - 80px);
    height: 108px;
}
.g-bd-left-con ul li span#textCount{
    width: auto;
    color: #0f8ffe;
    padding-right: 0px;
}
.g-bd-left-con ul li span.tl{
    text-align: left;  
}
.g-bd-left-con p{
    margin-left: 75%;
}
/*右侧样式*/
.g-bd-right-cont,.g-bd-left-con{
    padding: 12px 15px;
}
/*右侧-内容-模块*/
.g-bd-right-modular{
    margin-top: 12px;
}

/*右侧-内容-事件名称和时间*/
.m-event.mb10{
    margin-bottom: 10px;
}
.m-event p span{
    color: #333;
}
.m-event-schedule{
    margin-top: 14px;
}
.m-event-schedule p{
    white-space: nowrap;
}
.m-event-schedule p span{
    text-align: center;
    line-height: 22px;
    width: 25%;
    display: inline-table;
    white-space: normal;
}
/*时间轴*/
.m-event-timeAxis{
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.29);
    height: 8px;
    border-radius: 25px;
    margin-bottom: 11px;
    position: relative;
}
.m-event-schedule div{
    position: absolute;
    top: 2px;
}
.m-event-schedule>div{
    position: relative;
    top: 0;
}
.m-timeAxis-bg dl,.m-timeAxis-con dl {
    float: left;
    height: 4px;
     width: 25%;
}
.m-timeAxis-con dl{
    background: #4463ba; 
}
.m-timeAxis-con dl:first-child{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
.m-timeAxis-con dl:last-child{
    width: calc(12.5% - 2px);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
.m-timeAxis-con dl:nth-child(4){
    width: 25%;
}
.m-timeAxis-bg dl dd,.m-timeAxis-con dl dd{
    background: rgba(0, 0, 0, 0.26);
    border-radius:100%;
    width: 19px;
    height: 19px;
    margin: 0 auto;
    margin-top: -5px;
    position: relative;
    top: -2px;
}
.m-timeAxis-con{
    height: 4px;
    border-radius: 25px;
    position: relative;
    top: -17px;
}
.m-timeAxis-con dl dd{
    background: #4463ba;
}
/*退回*/
.m-timeAxis-con dl dd.alert{
    background: #ff4747;
    margin-right: -12px;
}
.m-timeAxis-con dl dd.alert i,.m-timeAxis-con dl dd.finish i,.m-timeAxis-con dl dd.successfully i{
    background: rgba(255,71,71,0.18);
    width: 29px;
    height: 29px;
    display: block;
    border-radius: 100%;
    position: relative;
    top: -5px;
    left: -5px;
}
/*完成*/
.m-timeAxis-con dl dd.finish{
    margin-right: -12px;
}
.m-timeAxis-con dl:nth-child(4) dd.finish{
    margin-right:auto;
}
.m-timeAxis-con dl dd.finish i,.m-timeAxis-con dl dd.successfully i{
    background: rgba(112,153,255,0.18);
}

/*发布成功-详细*/
.filenum{
    float: right;
}
/*表格*/
.m-table{
    padding-bottom: 12px;
}
.m-table table{
    width: 100%;
}
.m-table tr{
    border-bottom: 1px solid rgba(190, 190, 216, 0.2);
}
.m-table tr.co1{
    background: rgba(0, 0, 0, 0.1);
}
.m-table thead tr td{
    color: #FFF;
}
.m-table tr td{
    text-align: center;
    padding: 5px;
    line-height: 22px;
    height: 66px;
}
.m-table tr td.message{
    width:40%;
}
.m-table tr td a.details{
    color: #0f8ffe;
}
.m-table tbody tr td span{
    display: block;
}
.m-text-textarea h3{
    color: #ff4747;
    font-size: 36px;
    text-align: center;
    line-height: 97px;
}
/*填写发布申请*/
.g-bd-cont .g-bd-left,.g-bd-cont .g-bd-right-modular{
    background: transparent;
}



.h100 .g-bd-tit{
    border: none;
}
/*切换按钮*/
.query_hd, .query_hd li{
    display: inline-block;
}
.query_hd li{
    border:2px solid rgba(190,190,216,0.2);
    border-radius:25px;
    padding:0 10px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.query_hd li:hover, .query_hd li.on_query{
    border: 2px solid #4a85f2;
}
/*表单*/
.form_text{
    height: 170px;
    display: none;
}
.form_text.dpb{
    display: block;
}
/*按钮样式*/
.m-button{
    float: right;
    margin-top: 20px;
}
.m-button button{
    width: 172px;
    height: 35px;
    line-height: 35px;
    color: #FFF;
    text-align: center;
    background: #0f8ffe;
    border-radius: 3px;
    margin-right: 12px;
}
/*底部按钮*/
.m-button-bottom{
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    margin-left: 12%;
}
.m-button-bottom button{
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
}
/*预警发布中心*/
.g-bd-right.fl{
    float: left;
}
.m-highchart,.m-highchart > div{
    height: 203px;
}
.m-highchart > div{
    display: none;
}
.m-highchart > div.dpb{
    display: block;
}
/*highchart tab选择*/
.highchart_tab{
    width: 279px;
    height: 25px;
    line-height: 25px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(190, 190, 216,0.2);
    margin: 0 auto;
    border-radius: 3px;
    margin-bottom: 15px;
}
.highchart_tab li{
    text-align: center;
    width: 93px;
    cursor: pointer;
    color: #4463ba;
    float: left;
}
.highchart_tab li:hover,.highchart_tab li.on_highchartTab{
    background:#8095d0;
    border-radius: 3px;
    line-height: 23px;
    height: 23px;    
    width: 91px;
    color:#ededf5;
}
.g-bd-right-cont p.time{
    text-align: center;
    line-height: 35px;
}
.m-event-schedule div{
    display: inline-block;
    width: 100%;
}