<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="author" content="movinginfo"/>
	<title>通州公共突发事件预警发布平台-发布责任单位-预警发布-发布失败详细页</title>
	<link rel="stylesheet" href="${base}/static/css/basic.css">
    <link rel="stylesheet" href="${base}/static/css/global.css">
    <link rel="stylesheet" href="/static/css/publishApplication.css">
    <!--日历控件开始-->
    <link rel="stylesheet" href="/static/js/datepicker/css/jqueryui.min.css">
    <link rel="stylesheet" href="/static/js/datepicker/css/jquery-ui-timepicker-addon.css">
    <link rel="stylesheet" href="/static/js/datepicker/css/timepick.css">
    <!--日历控件结束-->
</head>
<body>
    <!--时间轴开始-->
    <div class="m-event mb10">
        <div class="m-event-schedule">
            <div class="m-event-timeAxis">
                <!--事件进度时间轴底部开始-->
                <div class="m-timeAxis-bg">
                    <dl>
                        <dd></dd>
                    </dl>
                    <dl>
                        <dd></dd>
                    </dl>
                    <dl>
                        <dd></dd>
                    </dl>
                    <dl>
                        <dd></dd>
                    </dl>
                </div>
                <!--事件进度时间轴底部结束-->
                <!--事件进度时间轴进度开始-->
                <div class="m-timeAxis-con">
                    <dl>
                        <dd class="successfully"><i></i></dd>
                    </dl>
                    <dl>
                        <dd class="successfully"><i></i></dd>
                    </dl>
                    <dl>
                        <dd class="successfully"><i></i></dd>
                    </dl>
                    <dl>
                        <dd class="successfully"><i></i></dd>
                    </dl>
                </div>
                <!--事件进度时间轴进度结束-->
            </div> 
            <!--事件进度说明开始-->
            <li class="m-event-explain">
                <p><span>区气象台申请发布</span><span>发布中心审核通过</span><span>发布平台执行</span><span>发布完成</span></p>
            </li>
            <!--事件进度说明开始-->
        </div>   
    </div>                          
    <!--时间轴结束-->
    <!--左边开始-->
        <div class="g-bd-left">
            <!--标题开始-->
            <div class="g-bd-tit">
            <span>发布申请查看</span><span class="filenum">QXJ_20170727_2</span>
            </div>
            <!--标题结束-->
            <!--内容开始-->
            <div class="g-bd-left-con">
                <ul>
                    <!--标题开始-->
                    <li><span>标题</span><input type="text" class="m-text-input" value="杭州市气象台发布的寒潮蓝色预警(IV级/一般)" /></li>
                    <!--标题结束-->
                </ul>
                <ul class="m-sets">
                    <!--信息类别开始-->
                    <li><span>信息类别</span><input type="text" class="m-text-input" value="台风" /></li>
                    <!--信息类别结束-->
                    <!--预警级别开始-->
                    <li class="pl10"><span>预警级别</span><input type="text" class="m-text-input" value="蓝色" /></li>
                    <!--预警级别结束-->
                </ul>
                <ul class="m-sets">
                    <!--发布时间开始-->
                    <li><span>发布时间</span><input class="inputTimepick m-text-input" type="text" name="basic_example_1" id="basic_example_1" value=""></li>
                    <!--发布时间结束-->
                    <!--发布时效开始-->
                    <li class="pl10"><span>发布时效</span><input type="text" class="m-text-input" value="6小时" /></li>
                    <!--发布时效结束-->
                </ul>
                <ul>
                    <!--发布范围开始-->
                    <li><span class="fl">发布范围</span><textarea class="m-text-textarea">西湖区&nbsp;&nbsp;西湖区&nbsp;&nbsp;西湖区&nbsp;&nbsp;西湖区&nbsp;&nbsp;</textarea></li>
                    <!--发布范围结束-->
                </ul>
                <ul>
                    <!--发布渠道开始-->
                    <li><span class="fl">发布渠道</span><textarea class="m-text-textarea">渠道1&nbsp;&nbsp;渠道1&nbsp;&nbsp;渠道1&nbsp;&nbsp;渠道1&nbsp;&nbsp;</textarea></li>
                    <!--发布渠道结束-->
                </ul>
                <ul>
                    <!--标题位置开始-->
                    <li><span>标题位置</span><span class="tl">开头</span></li>
                    <!--标题位置结束-->
                </ul>
                <ul>
                    <!--发布内容开始-->
                    <li>
                        <span class="fl">发布内容</span>
                        <textarea class="m-text-textarea" id="limitWord">北方强冷空气将于今日下午起影响我区，日平均气温过程降温幅度可达8-10℃，10日、11日最低气温平原0℃左右或以下，有薄冰，山区零下2℃到零下4℃，有冰冻，夜里到明天最大偏北风5-7级，请注意做好防风和保暖等工作。</textarea>
                        <p>限制100字,还剩<span id="textCount">100</span>字</p>
                    </li>
                    <!--发布内容结束-->
                </ul>                
                <ul class="m-sets-sets">
                    <!--操作人员开始-->
                    <li><span>操作人员</span><input type="text" class="m-text-input" value="陈柏" /></li>
                    <!--审稿人员结束-->                    <!--发布时效开始-->
                    <li class="pl10"><span>审稿人员</span><input type="text" class="m-text-input" value="陈柏" /></li>
                    <!--签发人员结束-->                   <!--发布时效开始-->
                    <li class="pl10"><span>签发人员</span><input type="text" class="m-text-input" value="王某某" /></li>
                    <!--签发人员结束-->
                </ul>                
                <ul>
                    <!--审批单开始-->
                    <li>
                        <span class="fl">审批单</span>
                        <div class="m-text-textarea dpi"><img src="../../static/images/approvalForm_img.png" /></div>
                    </li>
                    <!--发布内容结束-->
                </ul>
            </div>
            <!--内容结束-->
        </div>
    <!--左边结束-->

    <!--右边开始-->
        <div class="g-bd-right"> 
            <!--渠道总汇开始-->       
            <div class="g-bd-right-modular h100">
                <!--标题开始-->
                <div class="g-bd-tit">
                    <span>渠道汇总</span>
                </div>
                <!--标题结束-->
                <!--表格-->
                <div class="m-table">
                    <table>
                        <thead>
                            <tr>
                                <td>渠道</td>
                                <td class="message">信息</td>
                                <td>时间</td>
                                <td>状态</td>
                                <td>进度</td>
                                <td>过程</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="co1">
                                <td>国突平台</td>
                                <td>受副热带高压控制，预计今天我区最高气温将升至39～40℃，请做好防暑降温工作。连续高</td>
                                <td><span>2017/6/9</span><span>11:27:47</span></td>
                                <td>递交完毕</td>
                                <td>100%</td>
                                <td><a href="" class="details">详情</a></td>
                            </tr>
                            <tr>
                                <td>市预警平台</td>
                                <td>受副热带高压控制，预计今天我区最高气温将升至39～40℃，请做好防暑降温工作。连续高</td>
                                <td><span>2017/6/9</span><span>11:27:47</span></td>
                                <td>递交完毕</td>
                                <td>100%</td>
                                <td><a href="" class="details">详情</a></td>
                            </tr>
                            <tr class="co1">
                                <td>杭州96121</td>
                                <td>受副热带高压控制，预计今天我区最高气温将升至39～40℃，请做好防暑降温工作。连续高</td>
                                <td><span>2017/6/9</span><span>11:27:47</span></td>
                                <td>递交完毕</td>
                                <td>100%</td>
                                <td><a href="" class="details">详情</a></td>
                            </tr>
                            <tr>
                                <td>杭州气象网站</td>
                                <td>受副热带高压控制，预计今天我区最高气温将升至39～40℃，请做好防暑降温工作。连续高</td>
                                <td><span>2017/6/9</span><span>11:27:47</span></td>
                                <td>递交完毕</td>
                                <td>100%</td>
                                <td><a href="" class="details">详情</a></td>
                            </tr>
                            <tr class="co1">
                                <td>预警传真</td>
                                <td>受副热带高压控制，预计今天我区最高气温将升至39～40℃，请做好防暑降温工作。连续高</td>
                                <td><span>2017/6/9</span><span>11:27:47</span></td>
                                <td>递交完毕</td>
                                <td>100%</td>
                                <td><a href="" class="details">详情</a></td>
                            </tr>
                            <tr>
                                <td>气象LED</td>
                                <td>受副热带高压控制，预计今天我区最高气温将升至39～40℃，请做好防暑降温工作。连续高</td>
                                <td><span>2017/6/9</span><span>11:27:47</span></td>
                                <td>递交完毕</td>
                                <td>100%</td>
                                <td><a href="" class="details">详情</a></td>
                            </tr>
                            <tr class="co1">
                                <td>广电媒体</td>
                                <td>受副热带高压控制，预计今天我区最高气温将升至39～40℃，请做好防暑降温工作。连续高</td>
                                <td><span>2017/6/9</span><span>11:27:47</span></td>
                                <td>递交完毕</td>
                                <td>100%</td>
                                <td><a href="" class="details">详情</a></td>
                            </tr>
                            <tr>
                                <td>社会LED</td>
                                <td>受副热带高压控制，预计今天我区最高气温将升至39～40℃，请做好防暑降温工作。连续高</td>
                                <td><span>2017/6/9</span><span>11:27:47</span></td>
                                <td>递交完毕</td>
                                <td>100%</td>
                                <td><a href="" class="details">详情</a></td>
                            </tr>
                            <tr class="co1">
                                <td>气象新浪微博</td>
                                <td>受副热带高压控制，预计今天我区最高气温将升至39～40℃，请做好防暑降温工作。连续高</td>
                                <td><span>2017/6/9</span><span>11:27:47</span></td>
                                <td>递交完毕</td>
                                <td>100%</td>
                                <td><a href="" class="details">详情</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--渠道总汇开始-->   
        </div>
    <!--右边结束-->

    <!--js开始-->
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/publishApplication.js"></script>
    <script type="text/javascript" src="/static/js/publishSuccessfully.js"></script>
    <!--日历开始-->    
    <script type="text/javascript" src="/static/js/datepicker/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/datepicker/js/jquery-ui-sliderAccess.js"></script>
    <script type="text/javascript" src="/static/js/datepicker/js/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="/static/js/datepicker/js/jquery-ui-timepicker-zh-CN.js"></script>
    <script type="text/javascript" src="/static/js/datepicker/js/useDatepick.js"></script>
    <!--日历结束-->  
    <!--js开始-->
</body>
</html>